<div class="container">
    <div class="rowAddress">
        <h2>Select Delivery Address</h2>
      </div>
      <div class="rowAddress">
        <div style="font-weight: 500;">
          Is the address you'd like to use displayed below? If so, click the
          corresponding "Deliver to this address" button. Or you can enter a new
          delivery address.
        </div>
      </div>
      <div class="rowAddress">
        <div>
          <button class="btn btn-warning" (click)="openAddressForm()">
            + Add New Address
          </button>
        </div>
      </div>
      <div class="rowAddress" *ngIf="displayCreateForm" style="margin-left: 30%;">
        <div class="editForm" style="width:50%">
          <app-address-form
            (addSave)="addressCallBack($event, null)"
            [formName]="addFormName"
          ></app-address-form>
        </div>
      </div>
      <div class="rowAddress" *ngIf="!displayCreateForm">
        <div class="colAddress" *ngFor="let item of displayAddressList">
          <div *ngIf="item.addId != undefined">
            <div *ngIf="!item.displayForm" class="editForm">
              <p style="font-weight: bold;">{{ item.userName }},</p>
              <!-- <p *ngFor="let brk of item.breakUp">
                      {{brk}}
                    </p> -->
              <p>{{ item.address }}</p>
              <p>
                <span style="font-weight: bold;">Contact:</span>
                {{ item.phoneNumber }}
              </p>
              <div>
                <button class="btn btn-success" style="width:100%" (click)="setAddress(item)">
                  Deliver to this Address
                </button>
              </div>
              <div style="display: flex;padding-left: 20%;">
                <div>
                  <button class="btn btn-primary" (click)="editAddress(item)">
                    Edit
                  </button>
                </div>
                <div>
                  <button class="btn" (click)="deleteAddress(item)">
                    Delete
                  </button>
                </div>
              </div>
            </div>
      
            <div *ngIf="item.displayForm" class="editForm">
              <app-address-form
                [editAddress]="item"
                (addSave)="addressCallBack($event, item)"
                [formName]="addFormName"
              ></app-address-form>
            </div>
          </div>
        </div>
      </div>    
</div>

<ngx-spinner
  bdColor="rgba(51, 51, 51, 0.8)"
  size="default"
  type="ball-spin-clockwise"
>
  <p style="color: white">Please Wait.</p>
</ngx-spinner>