<!-- <img
  src="../../../assets/img/ShapeNPrint_Comming Soon WebPage-01-01.png"
  usemap="#image-map"
  (click)="clickCord($event)"
  width="1402px"
  height="700px"
/>
<map name="image-map" #map>
  <area
    alt="Service Provider"
    title="Service Provider"
    routerLink="/register"
    coords="1181,171,1483,221"
    shape="rect"
    #maparea
  />
  <area
    alt="test"
    title="TEST"
    routerLink="/register"
    coords="0,0,100,100"
    shape="rect"
    #maparea
  />
  <area
    alt="instagram"
    title="instagram"
    routerLink="/register"
    coords="1270,363,1290,385"
    shape="rect"
    #maparea
  />
</map> -->

<!-- <div>
  <div>
    <img
      src="../../../assets/DashBoard/img/Service Provider_1600.png"
      style="width: 300px; margin-left: 68%; margin-top: 10%;position:fixed"
    />
  </div>
</div> -->

<!-- <div>X : {{ cordinate.X }} Y:{{ cordinate.Y }}</div> -->
<!-- <div style="width:1600px;height: 800px;" (click)="clickCord($event)"></div> -->

<!-- <div class="container">
  <img src="../../../assets/img/homebgimg.png" alt="Snow" style="width:100%;" />
  <div class="bottom-left">
    <img
      src="../../../assets/DashBoard/img/Service Provider_1600.png"
      style="width: 300px;"
    />
  </div>
  <div class="top-left">Top Left</div>
  <div class="top-right">Top Right</div>
  <div class="bottom-right">Bottom Right</div>
  <div class="centered">Centered</div>
</div> -->
<div style="position:relative;text-align:center;">
  <img
    src="../../../assets/img/homeblank1.png"
    alt="Snow"
    style="width:100%;height:660px;"
  />
  <div style="position:absolute;bottom:10%;right:15%">
    <div style="display:flex">
      <div>
        <img
          src="../../../assets/DashBoard/img/Instagram.png"
          class="icons"
          (click)="socialLink('in')"
        />
      </div>
      <div>
        <img src="../../../assets/DashBoard/img/Twiter1200.png" class="icons" (click)="socialLink('tw')"/>
      </div>
      <div>
        <img
          src="../../../assets/DashBoard/img/FaceBook1200.png"
          class="icons" (click)="socialLink('fb')"
        />
      </div>
      <div>
        <img
          src="../../../assets/DashBoard/img/Asset 191200.png"
          class="icons" (click)="socialLink('ln')"
        />
      </div>
    </div>
  </div>
  <div style="position:absolute;bottom:6%;right:15%">
    <div style="display:flex">
      <div>
        <img
          src="../../../assets/DashBoard/img/Contact us_2600.png"
          class="contanctus"
        />
      </div>
    </div>
  </div>
  <div style="position:absolute;bottom:1%;right:45%">
    <div style="display:flex">
      <div>
        <img
          src="../../../assets/DashBoard/img/Copyright_1600.png"
          class="copyright"
        />
      </div>
    </div>
  </div>
  <div
    style="position:absolute;top:28%;left:80%;transform:translate(-50%, -50%);font-size:18px"
  >
    <img
      src="../../../assets/DashBoard/img/ServiceProvider.png"
      class="serviceProviderimg"
      (click)="socialLink('register')"
    />
  </div>
  <div
    style="position:absolute;top:70%;left:80%;transform:translate(-50%, -50%);font-size:18px"
  >
    <img
      src="../../../assets/DashBoard/img/Freelancing.png"
      class="serviceProviderimg"
    />
  </div>
</div>
