<div style="position:relative;text-align:center;">
  <img
    src="../../../assets/img/homepageimg.png"
    alt="Snow"
    [style.width]="winSize.nWidth"
    [style.height]="winSize.nHeigth"
  />
  <div style="position:absolute;bottom:10%;right:15%">
    <div style="display:flex">
      <div>
        <a href="#" (click)="socialLink('in')">
          <img
            src="../../../assets/DashBoard/img/Instagram.png"
            class="icons"
          />
        </a>
      </div>
      <div>
        <a href="#" (click)="socialLink('tw')">
          <img
            src="../../../assets/DashBoard/img/Twiter1200.png"
            class="icons"
          />
        </a>
      </div>
      <div>
        <a href="#" (click)="socialLink('fb')">
          <img
            src="../../../assets/DashBoard/img/FaceBook1200.png"
            class="icons"
          />
        </a>
      </div>
      <div>
        <a href="#" (click)="socialLink('ln')">
          <img
            src="../../../assets/DashBoard/img/Asset 191200.png"
            class="icons"
          />
        </a>
      </div>
    </div>
  </div>
  <div style="position:absolute;bottom:6%;right:10%">
    <div style="display:flex">
      <div>
        <span class="conactustxt" style="font-weight: 400;">CONTACT US</span>
        <span class="conactustxt" style="font-weight: bold;">
          INFO@SHAPENPRINT.COM
        </span>
        <!-- <img
          src="../../../assets/DashBoard/img/Contact us_2600.png"
          class="contanctus"
        /> -->
      </div>
    </div>
  </div>
  <div style="position:absolute;bottom:1%;right:45%">
    <div style="display:flex">
      <div>
        <img
          src="../../../assets/DashBoard/img/Copyright_1600.png"
          class="copyright"
        />
      </div>
    </div>
  </div>
  <div style="position:absolute;top:3%;left:5%">
    <div style="display:flex">
      <div>
        <img src="../../../assets/img/logohome.png" class="copyright" />
      </div>
    </div>
  </div>
  <div
    style="position:absolute;top:28%;left:80%;transform:translate(-50%, -50%);font-size:18px;display: none;"
  >
    <img
      src="../../../assets/DashBoard/img/ServiceProvider.png"
      class="serviceProviderimg"
      (click)="socialLink('register')"
    />
  </div>
  <div
    style="position:absolute;top:80%;left:80%;transform:translate(-50%, -50%);width:500px"
  >
    <span class="freelancetxt">
      FREELANCING REDEFINED
    </span>
    <!-- <img
      src="../../../assets/DashBoard/img/Freelancing.png"
      class="serviceProviderimg"
    /> -->
  </div>
</div>
