@media only screen and (min-width: 200px) {
  .freelancePosition {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
  }
  .servcProPositon {
    position: absolute;
    top: 28%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
  }
  .copyposition {
    position: absolute;
    bottom: 0.5%;
    right: 25%;
  }
  .socialposition {
    position: absolute;
    bottom: 7%;
    right: 33%;
  }
  .contactPosition {
    position: absolute;
    bottom: 4%;
    right: 30%;
  }
  .serviceProviderimg {
    width: 200px;
  }
  .freelance {
    width: 100px;
  }
  .icons {
    width: 10px;
    margin-left: 10px;
  }
  .contanctus {
    width: 100px;
    margin-top: 5%;
    margin-left: 5%;
  }
  .copyright {
    width: 200px;
    margin-top: 10%;
  }
  .freelancetxt {
    font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
    font-size: 15px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 26.4px;
    color: rgb(27, 117, 179);
  }
  .conactustxt {
    font-family: Acumin variable concept !important;
    font-size: 10px !important;
  }
  .marginRes {
    margin-top: 10px;
  }
  .registrationOpen {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
    font-family: Bradley Hand ITC, sans-serif;
    font-size: 40pt;
    font-weight: bolder;
    color: #1b76b3;
  }
  .registrationOpenimg{
    width:200px;
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 400px) {
  .registrationOpenimg{
    width:200px;
  }
  .freelancePosition {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
  }
  .servcProPositon {
    position: absolute;
    top: 28%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
  }
  .copyposition {
    position: absolute;
    bottom: 1%;
    right: 25%;
  }
  .socialposition {
    position: absolute;
    bottom: 7%;
    right: 35%;
  }
  .contactPosition {
    position: absolute;
    bottom: 4%;
    right: 30%;
  }

  .serviceProviderimg {
    width: 200px;
  }
  .freelance {
    width: 150px;
  }
  .icons {
    width: 30px;
    margin-left: 10px;
  }
  .contanctus {
    width: 200px;
    margin-top: 5%;
    margin-left: 5%;
  }
  .copyright {
    width: 200px;
    margin-top: 10%;
  }
  .freelancetxt {
    font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 26.4px;
    color: rgb(27, 117, 179);
  }
  .conactustxt {
    font-family: Acumin variable concept !important;
    font-size: 10px !important;
  }
  .marginRes {
    margin-top: 10px;
  }
  .registrationOpen {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
    font-family: Bradley Hand ITC, sans-serif;
    font-size: 20pt;
    font-weight: bolder;
    color: #1b76b3;
  }
}

@media only screen and (min-width: 600px) {
  .registrationOpenimg{
    width:200px;
  }
  .freelancePosition {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
  }
  .servcProPositon {
    position: absolute;
    top: 28%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
  }
  .copyposition {
    position: absolute;
    bottom: 0.5%;
    right: 25%;
  }
  .socialposition {
    position: absolute;
    bottom: 7%;
    right: 33%;
  }
  .contactPosition {
    position: absolute;
    bottom: 4%;
    right: 30%;
  }
  /* .freelancePosition {
    position: absolute;
    top: 80%;
    left: 80%;
    transform: translate(-50%, -50%);
    width: 500px;
  } */
  .serviceProviderimg {
    width: 200px;
  }
  .icons {
    width: 30px;
    margin-left: 10px;
  }
  .contanctus {
    width: 200px;
    margin-top: 5%;
    margin-left: 5%;
  }
  .copyright {
    width: 200px;
    margin-top: 10%;
  }
  .freelancetxt {
    font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
    font-size: 22px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 26.4px;
    color: rgb(27, 117, 179);
  }
  .conactustxt {
    font-family: Acumin variable concept !important;
    font-size: 10px !important;
  }
  .marginRes {
    margin-top: 10px;
  }
  .registrationOpen {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
    font-family: Bradley Hand ITC, sans-serif;
    font-size: 20pt;
    font-weight: bolder;
    color: #1b76b3;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .registrationOpenimg{
    width:250px;
  }
  .marginRes {
    margin-top: 20px;
  }
  .freelancePosition {
    position: absolute;
    top: 80%;
    left: 80%;
    transform: translate(-50%, -50%);
    width: 500px;
  }
  .servcProPositon {
    position: absolute;
    top: 28%;
    left: 80%;
    transform: translate(-50%, -50%);
    font-size: 18px;
  }
  .registrationOpen {
    position: absolute;
    top: 15%;
    left: 80%;
    transform: translate(-50%, -50%);
    font-size: 18px;
    font-family: Bradley Hand ITC, sans-serif;
    font-size: 40pt;
    font-weight: bolder;
    color: #1b76b3;
  }
  .copyposition {
    position: absolute;
    bottom: 1%;
    right: 45%;
  }
  .socialposition {
    position: absolute;
    bottom: 10%;
    right: 15%;
  }
  .contactPosition {
    position: absolute;
    bottom: 6%;
    right: 10%;
  }
  .serviceProviderimg {
    width: 200px;
  }
  .icons {
    width: 30px;
    margin-left: 15px;
  }
  .contanctus {
    width: 200px;
    margin-top: 5%;
    margin-left: 10%;
  }
  .copyright {
    width: 200px;
    margin-top: 10%;
  }
  .freelancetxt {
    font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    color: rgb(27, 117, 179);
  }
  .conactustxt {
    font-family: Acumin variable concept !important;
    font-size: 12px !important;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .registrationOpenimg{
    width:250px;
  }
  .freelancePosition {
    position: absolute;
    top: 80%;
    left: 80%;
    transform: translate(-50%, -50%);
    width: 500px;
  }
  .servcProPositon {
    position: absolute;
    top: 28%;
    left: 80%;
    transform: translate(-50%, -50%);
    font-size: 18px;
  }
  .copyposition {
    position: absolute;
    bottom: 1%;
    right: 45%;
  }
  .socialposition {
    position: absolute;
    bottom: 10%;
    right: 15%;
  }
  .contactPosition {
    position: absolute;
    bottom: 6%;
    right: 10%;
  }
  .serviceProviderimg {
    width: 250px;
  }
  .icons {
    width: 30px;
    margin-left: 20px;
  }
  .contanctus {
    width: 250px;
    margin-top: 5%;
    margin-left: 20%;
  }
  .copyright {
    width: 200px;
    margin-top: 10%;
  }
  .freelancetxt {
    font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
    font-size: 30px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 26.4px;
    color: rgb(27, 117, 179);
  }
  .conactustxt {
    font-family: Acumin variable concept !important;
    font-size: 15px !important;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .registrationOpenimg{
    width:250px;
  }
  .freelancePosition {
    position: absolute;
    top: 80%;
    left: 80%;
    transform: translate(-50%, -50%);
    width: 500px;
  }
  .servcProPositon {
    position: absolute;
    top: 28%;
    left: 80%;
    transform: translate(-50%, -50%);
    font-size: 18px;
  }
  .copyposition {
    position: absolute;
    bottom: 1%;
    right: 45%;
  }
  .socialposition {
    position: absolute;
    bottom: 10%;
    right: 15%;
  }
  .contactPosition {
    position: absolute;
    bottom: 6%;
    right: 10%;
  }
  .serviceProviderimg {
    width: 300px;
  }
  .icons {
    width: 30px;
    margin-left: 20px;
  }
  .contanctus {
    width: 300px;
    margin-top: 5%;
    margin-left: 20%;
  }
  .copyright {
    width: 200px;
    margin-top: 10%;
  }
  .freelancetxt {
    font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
    font-size: 30px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 26.4px;
    color: rgb(27, 117, 179);
  }
  .conactustxt {
    font-family: Acumin variable concept !important;
    font-size: 15px !important;
  }
}

img.map,
map area {
  outline: none;
}
img[usemap],
map area {
  outline: none;
}
.map {
  outline: 0;
}
.home {
  background-image: url("../../../assets/img/homepageimg.png");
  background-attachment: fixed;
  background-size: cover;
  height: 600px;
  overflow: hidden;
}

* {
  margin: 0;
  padding: 0;
}
.imgbox {
  display: grid;
  height: 100%;
}
.center-fit {
  max-width: 100%;
  max-height: 100vh;
  margin: auto;
}
.container {
  position: relative;
  text-align: center;
  color: white;
}

.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
}

.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
  color: red;
}

.top-right {
  position: absolute;
  top: 8px;
  right: 16px;
  color: red;
}

.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
  color: red;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media only screen and (max-width: 600px) {
  .serviceProviderimg {
    width: 200px;
  }
  .icons {
    width: 30px;
  }
}
html,
body,
svg {
  width: 100%;
  height: 100%;
  margin: 0;
}
