<div style="position:relative;text-align:center;">
  <img
    [src]="imgUrl"
    alt="Snow"
    [style.width]="winSize.nWidth"
    [style.height]="winSize.nHeigth"
  />
  <div class="socialposition">
    <div style="display:flex">
      <div>
        <a href="#" (click)="socialLink('in', $event)">
          <img
            src="../../../assets/DashBoard/img/Instagram.png"
            class="icons"
          />
        </a>
      </div>
      <div>
        <a href="#" (click)="socialLink('tw', $event)">
          <img
            src="../../../assets/DashBoard/img/Twiter1200.png"
            class="icons"
          />
        </a>
      </div>
      <div>
        <a href="#" (click)="socialLink('fb', $event)">
          <img
            src="../../../assets/DashBoard/img/FaceBook1200.png"
            class="icons"
          />
        </a>
      </div>
      <div>
        <a href="#" (click)="socialLink('ln', $event)">
          <img
            src="../../../assets/DashBoard/img/Asset 191200.png"
            class="icons"
          />
        </a>
      </div>
    </div>
  </div>
  <div class="contactPosition">
    <div style="display:flex">
      <div>
        <span class="conactustxt" style="font-weight: 400;">CONTACT US</span>
        <span class="conactustxt" style="font-weight: bold;">
          INFO@SHAPENPRINT.COM
        </span>
      </div>
    </div>
  </div>
  <div class="copyposition">
    <div style="display:flex">
      <div>
        <img
          src="../../../assets/DashBoard/img/Copyright_1600.png"
          class="copyright"
        />
      </div>
    </div>
  </div>
  <div class="logoPosition" style="position:absolute;top:3%;left:5%">
    <div style="display:flex">
      <div>
        <img src="../../../assets/img/logonew.svg" class="copyright" />
      </div>
    </div>
  </div>
  <!-- <div class="registrationOpen">
    <p>Registration</p>
    <p class="marginRes">Now Open</p>
  </div> -->
  <div class="registrationOpen">
    <a href="#" (click)="socialLink('register', $event)">
      <img
        src="../../../assets/ComingSoonImages/Registeropen.svg"
        class="registrationOpenimg"
      />
    </a>
  </div>
  <div class="servcProPositon">
    <a href="#" (click)="socialLink('register', $event)">
      <img
        src="../../../assets/DashBoard/img/ServiceProvider.png"
        class="serviceProviderimg"
      />
    </a>
  </div>
  <div class="freelancePosition">
    <span class="freelancetxt">
      FREELANCING REDEFINED
    </span>
  </div>
</div>

<!-- <div style="position:relative;text-align:center;">
    <img
      [src]="imgUrl"
      alt="Snow"
      [style.width]="winSize.nWidth"
      [style.height]="winSize.nHeigth"
    />
    <div class="socialposition" style="position:absolute;bottom:10%;right:15%">
      <div style="display:flex">
        <div>
          <a href="#" (click)="socialLink('in')">
            <img
              src="../../../assets/DashBoard/img/Instagram.png"
              class="icons"
            />
          </a>
        </div>
        <div>
          <a href="#" (click)="socialLink('tw')">
            <img
              src="../../../assets/DashBoard/img/Twiter1200.png"
              class="icons"
            />
          </a>
        </div>
        <div>
          <a href="#" (click)="socialLink('fb')">
            <img
              src="../../../assets/DashBoard/img/FaceBook1200.png"
              class="icons"
            />
          </a>
        </div>
        <div>
          <a href="#" (click)="socialLink('ln')">
            <img
              src="../../../assets/DashBoard/img/Asset 191200.png"
              class="icons"
            />
          </a>
        </div>
      </div>
    </div>
    <div class="contactPosition" style="position:absolute;bottom:6%;right:10%">
      <div style="display:flex">
        <div>
          <span class="conactustxt" style="font-weight: 400;">CONTACT US</span>
          <span class="conactustxt" style="font-weight: bold;">
            INFO@SHAPENPRINT.COM
          </span>
        </div>
      </div>
    </div>
    <div class="copyposition" style="position:absolute;bottom:1%;right:45%">
      <div style="display:flex">
        <div>
          <img
            src="../../../assets/DashBoard/img/Copyright_1600.png"
            class="copyright"
          />
        </div>
      </div>
    </div>
    <div class="logoPosition" style="position:absolute;top:3%;left:5%">
      <div style="display:flex">
        <div>
          <img src="../../../assets/img/logohome.png" class="copyright" />
        </div>
      </div>
    </div>
    <div
      style="position:absolute;top:28%;left:80%;transform:translate(-50%, -50%);font-size:18px;display: none;"
    >
      <img
        src="../../../assets/DashBoard/img/ServiceProvider.png"
        class="serviceProviderimg"
        (click)="socialLink('register')"
      />
    </div>
    <div class="freelancePosition"
      
    >
      <span class="freelancetxt">
        FREELANCING REDEFINED
      </span>
    </div>
  </div> -->
