div,
h1,
h3,
p,
a {
  font: inherit;
}
* {
  box-sizing: border-box;
  outline: none;
}
*:focus {
  outline: none;
}
body {
  position: relative;
  font-style: normal;
  line-height: 1.5;
  color: #000000;
}
section {
  background-color: #ffffff;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  padding: 30px 0;
}
section,
.container,
.container-fluid {
  position: relative;
  word-wrap: break-word;
}
h1,
h3 {
  margin: 0;
  padding: 0;
}
p {
  letter-spacing: 0.5px;
  line-height: 1.7;
}
p {
  margin-bottom: 0;
  margin-top: 0;
}
a {
  cursor: pointer;
}
a,
a:hover {
  text-decoration: none;
}
h1,
h3,
.display-1,
.display-2,
.display-7 {
  word-break: break-word;
  word-wrap: break-word;
}
body {
  height: auto;
  min-height: 100vh;
}
.mbr-section-title {
  margin: 0;
  padding: 0;
  font-style: normal;
  line-height: 1.2;
  width: 100%;
}
.mbr-text {
  font-style: normal;
  line-height: 1.6;
  width: 100%;
}
.btn {
  text-align: center;
  position: relative;
  margin: 0.4rem 0.8rem;
  font-weight: 700;
  border-width: 2px;
  border-style: solid;
  font-style: normal;
  white-space: normal;
  transition: all 0.2s ease-in-out, box-shadow 2s ease-in-out;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  word-break: break-word;
  line-height: 1.5;
  letter-spacing: 1px;
}
.card {
  position: relative;
  background-color: transparent;
  border: none;
  border-radius: 0;
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
}
@media (max-width: 767px) {
  .card:not(.last-child) {
    padding-bottom: 2rem;
  }
}
.gallery-img-wrap amp-img {
  height: 100%;
}
amp-image-lightbox a.control {
  position: absolute;
  width: 32px;
  height: 32px;
  right: 48px;
  top: 32px;
  z-index: 1000;
}
amp-image-lightbox a.control .close {
  position: relative;
}
amp-image-lightbox a.control .close:before,
amp-image-lightbox a.control .close:after {
  position: absolute;
  left: 15px;
  content: " ";
  height: 33px;
  width: 2px;
  background-color: #fff;
}
amp-image-lightbox a.control .close:before {
  transform: rotate(45deg);
}
amp-image-lightbox a.control .close:after {
  transform: rotate(-45deg);
}
.align-left {
  text-align: left;
}
.align-center {
  text-align: center;
}
@media (max-width: 767px) {
  .align-left,
  .align-center {
    text-align: center;
  }
}
.mbr-bold {
  font-weight: 700;
}
.mbr-section-btn {
  margin-left: -0.8rem;
  margin-right: -0.8rem;
  font-size: 0;
}
@media (max-width: 767px) {
  .navbar-logo amp-img {
    max-height: 55px;
    max-width: 55px;
  }
}
.ampstart-btn.hamburger {
  position: absolute;
  top: 25px;
  right: 15px;
  margin-left: auto;
  width: 30px;
  height: 20px;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 1000;
}
@media (min-width: 992px) {
  .ampstart-btn,
  amp-sidebar {
    display: none;
  }
}
amp-img {
  width: 100%;
}
amp-img img {
  max-height: 100%;
  max-width: 100%;
}
.is-builder amp-img > a + img[async],
.is-builder amp-img > a + img[decoding="async"] {
  display: none;
}
html:not(.is-builder) amp-img > a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
.is-builder .temp-amp-sizer {
  position: absolute;
}
.is-builder amp-youtube .temp-amp-sizer,
.is-builder amp-vimeo .temp-amp-sizer {
  position: static;
}
.is-builder section.horizontal-menu .ampstart-btn {
  display: none;
}
div.placeholder {
  z-index: 4;
  background: rgba(255, 255, 255, 0.5);
}
div.placeholder svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20%;
  height: auto;
}
div.placeholder svg circle.big {
  animation: big-anim 3s linear infinite;
}
div.placeholder svg circle.small {
  animation: small-anim 1.5s linear infinite;
}
@keyframes big-anim {
  from {
    stroke-dashoffset: 900;
  }
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes small-anim {
  from {
    stroke-dashoffset: 850;
  }
  to {
    stroke-dashoffset: 0;
  }
}
.placeholder-loader .amp-active > div {
  display: none;
}
.container {
  padding-right: 1rem;
  padding-left: 1rem;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}
@media (max-width: 767px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
.container-fluid {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}
.mbr-flex {
  display: flex;
}
.mbr-jc-c {
  justify-content: center;
}
.mbr-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -1rem;
  margin-left: -1rem;
}
.mbr-column {
  flex-direction: column;
}
@media (max-width: 767px) {
  .mbr-col-sm-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
  }
}
@media (min-width: 768px) {
  .mbr-col-md-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
    padding-right: 1rem;
    padding-left: 1rem;
  }
  .mbr-col-md-7 {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
    padding-right: 1rem;
    padding-left: 1rem;
  }
  .mbr-col-md-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .mbr-col-md-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
  }
}
@media (min-width: 992px) {
  .mbr-col-lg-4 {
    -ms-flex: 0 0 33.33%;
    flex: 0 0 33.33%;
    max-width: 33.33%;
    padding-right: 1rem;
    padding-left: 1rem;
  }
  .mbr-col-lg-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .mbr-col-lg-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
  }
}
.mbr-pt-4 {
  padding-top: 2rem;
}
.mbr-pb-4 {
  padding-bottom: 2rem;
}
.mbr-m-auto {
  margin: auto;
}
amp-img {
  height: 100%;
  width: 100%;
}
amp-sidebar {
  background: transparent;
}
.amp-carousel-button {
  outline: none;
  border-radius: 50%;
  border: 10px transparent solid;
  transform: scale(1.5) translateY(-50%);
  height: 45px;
  width: 45px;
  transition: 0.4s;
  cursor: pointer;
}
.amp-carousel-button:hover {
  opacity: 1;
}
.amp-carousel-button-next {
  background-position: 75% 50%;
}
.amp-carousel-button-prev {
  background-position: 25% 50%;
}
.amp-iconfont {
  vertical-align: middle;
  width: 1.5rem;
  height: 100%;
  font-size: 1.5rem;
}
body {
  font-family: Didact Gothic;
}
.display-1 {
  font-family: "Maven Pro", sans-serif;
  font-size: 4.3rem;
  line-height: 1.2;
}
.display-2 {
  font-family: "Maven Pro", sans-serif;
  font-size: 2.5rem;
  line-height: 1.2;
}
.display-7 {
  font-family: "Maven Pro", sans-serif;
  font-size: 1.1rem;
  line-height: 1.6;
}
@media (max-width: 768px) {
  .display-1 {
    font-size: 3.44rem;
    font-size: calc(2.155rem + (4.3 - 2.155) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc(
      1.4 * (2.155rem + (4.3 - 2.155) * ((100vw - 20rem) / (48 - 20)))
    );
  }
  .display-2 {
    font-size: 2rem;
    font-size: calc(1.525rem + (2.5 - 1.525) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc(
      1.4 * (1.525rem + (2.5 - 1.525) * ((100vw - 20rem) / (48 - 20)))
    );
  }
  .display-7 {
    font-size: 0.88rem;
    font-size: calc(
      1.0350000000000001rem + (1.1 - 1.0350000000000001) *
        ((100vw - 20rem) / (48 - 20))
    );
    line-height: calc(
      1.4 *
        (
          1.0350000000000001rem + (1.1 - 1.0350000000000001) *
            ((100vw - 20rem) / (48 - 20))
        )
    );
  }
}
.btn {
  padding: 10px 30px;
  border-radius: 0px;
}
.btn-md {
  padding: 10px 30px;
  border-radius: 0px;
}
.btn-primary {
  position: relative;
  z-index: 1;
}
.btn-primary:after {
  z-index: -1;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  transition: 0.2s;
  width: 0;
}
.btn-primary,
.btn-primary:active {
  background-color: #51cbce;
  border-color: #51cbce;
  color: #ffffff;
}
.btn-primary:hover,
.btn-primary:focus {
  background-color: #51cbce;
  border-color: #51cbce;
  color: #51cbce;
}
.btn-primary:hover:after {
  width: 100%;
  background-color: #fff;
}
.btn-primary:disabled {
  color: #ffffff;
  background-color: #51cbce;
  border-color: #51cbce;
}
.amp-iconfont {
  transition: 0.2s ease-in-out;
}
.amp-iconfont {
  color: #51cbce;
}
.features1 span.amp-iconfont {
  transition: 0.3s;
}
.features1 .card:hover span.amp-iconfont {
  color: #f6f6f6;
}
.team1 .card .amp-iconfont {
  transition: 0.2s ease-in-out;
}
@media (max-width: 767px) {
  .team1 .card .card-box .amp-iconfont {
    color: #f6f6f6;
  }
}
.team1 .card:hover .amp-iconfont {
  color: #f6f6f6;
}
.cid-si6VojyX7F {
  padding-top: 3rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
  align-items: center;
  display: flex;
}
.cid-si6VojyX7F .mbr-section-title {
  color: #000000;
}
.cid-si6Wa1MUZo {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-si6XmpnHt5 {
  padding-top: 5rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-si6XmpnHt5 .mbr-section-title {
  color: #000000;
}
.cid-si6XmpnHt5 .mbr-text {
  color: #000000;
}
.cid-si6YR1ouXJ {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #ffffff;
}
.cid-si75WztVp4 {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-si75WztVp4 .mbr-section-title {
  color: #000000;
}
.cid-si76WEklJ6 {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-si7855cXwV {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-si7855cXwV .mbr-text {
  color: #000000;
  text-align: left;
}
.cid-si784Naaqc {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-si784Naaqc .mbr-section-title {
  color: #000000;
}
.cid-si79V77YEF {
  padding-top: 0rem;
  padding-bottom: 2rem;
  background-color: #ffffff;
}
.cid-si784wiGCz {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-si784wiGCz .mbr-text {
  color: #000000;
  text-align: left;
}
.cid-si784e1ym9 {
  padding-top: 5rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-si784e1ym9 .mbr-section-title {
  color: #000000;
}
.cid-si7aCVOD6m {
  padding-top: 0rem;
  padding-bottom: 2rem;
  background-color: #ffffff;
}
.cid-si783XoyX3 {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-si783XoyX3 .mbr-text {
  color: #000000;
  text-align: left;
}
.cid-si783GKodx {
  padding-top: 5rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-si783GKodx .mbr-section-title {
  color: #000000;
}
.cid-si7aQrx1Wd {
  padding-top: 0rem;
  padding-bottom: 2rem;
  background-color: #ffffff;
}
.cid-si7cfIEyCH {
  padding-top: 0rem;
  padding-bottom: 1rem;
  background-color: #ffffff;
}
.cid-si783lPQ3M {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-si783lPQ3M .mbr-text {
  color: #000000;
  text-align: left;
}
.cid-si782tK6ZB {
  padding-top: 5rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-si782tK6ZB .mbr-section-title {
  color: #000000;
}
.cid-si7b0QhmZh {
  padding-top: 0rem;
  padding-bottom: 2rem;
  background-color: #ffffff;
}
.cid-si781iSyEM {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-si781iSyEM .mbr-text {
  color: #000000;
  text-align: left;
}
.cid-si7qmPhHRF {
  padding-top: 3rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
@media (max-width: 768px) {
  .cid-si7qmPhHRF .title-wrap {
    padding-bottom: 2rem;
  }
}
.cid-si7qmPhHRF .mbr-section-btn {
  width: 100%;
  text-align: center;
}
@media (max-width: 768px) {
  .cid-si7qmPhHRF .mbr-section-btn {
    text-align: left;
  }
}
.cid-si7qmPhHRF .mbr-section-btn .btn:first-child {
  margin-left: 0;
}
