<div class="modal-header">
  <h4 class="modal-title">Terms and Conditons</h4>
  <button
    type="button"
    class="close"
    aria-label="Close"
    (click)="activeModal.close('Close click')"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <ol>
    <li>
      Registration and Verification:
      <ol>
        <li>
          Non-refundable amount shall be charged as a
          registration/verification/convenience fees from the prospective
          designers whosoever be interested to appropriate the
          services/facilities of shapeNprint.
        </li>
        <li>
          The Designer shall be required to must disclose his personal and
          professional details alongwith relevant proofs to that effect which
          may include the GST Certificate No. or the CIN for its respective
          business enterprises.
        </li>
        <li>
          The submission of registration form doesn&rsquo;t imply completion of
          registration process until thoroughly verified by shapeNprint
        </li>
        <li>
          Designers shall be required to undergo a verification process for the
          activation of the dashboard which will require him to upload the
          relevant certificates such as Aadhar number, PAN number, etc. for
          proving the existence of its enterprise/individual.
        </li>
        <li>
          Apart from the said procedure, the designers shall also be assigned a
          designing task which has to be executed by the designer within a
          prescribed time limit and the same shall be further shown by him in a
          virtual meeting. Designs submitted by the designer during the said
          routine can be used by shapeNprint for confirming the registration of
          the Designer on its platform.
        </li>
        <li>
          shapeNprint shall have the exclusive Right to Reject and Cancel if the
          prospective designer fails to submit the design as prescribed in the
          previous clause herein above.
        </li>
      </ol>
    </li>
  </ol>
  <p>&nbsp;</p>
  <ol start="2">
    <li>Circulation Floating of the Orders placed by the Users/Customers:</li>
  </ol>
  <p>&nbsp;</p>
  <ol>
    <li>
      Any order which will be placed by the user shall be circulated/floated
      amongst the designers who have been successfully registered by complying
      with procedures as explained in Clause 1 of this agreement. The algorithm
      of the Registered Designers will be emerged automatically on the platform,
      wherein the Designers will receive the notifications of the orders as
      placed. Accordingly, the Designers can view the summary of the order,
      amount to receive, and time slot as selected by the user.
    </li>
    <li>
      It is to confirm that the shapeNprint and the Designers shall have no
      liability in the event of placing of any order of the design or content by
      the User which is illegal/unlawful or the content which is not permissible
      by the land of law to be propagated, circulated, displayed or distributed.
    </li>
  </ol>
  <p>&nbsp;</p>
  <ol start="3">
    <li>Acceptance of the Order</li>
  </ol>
  <p>&nbsp;</p>
  <p>
    Order will be assigned only to the designer who first accepts the order.
  </p>
  <p>&nbsp;</p>
  <ol>
    <li>
      Designer shall be required to immediately report the User/Company of any
      illegal/inappropriate content received to him and should not proceed
      further for designing.
    </li>
    <li>
      Designer shall be required to prepare two designs with different concepts
      according to the user&rsquo;s content and reference before joining the
      meeting at the allotted time slot.
    </li>
    <li>
      If designer joins the meeting without two designs ready, then the user
      shall be at the liberty to opt out from the meeting, and no payment will
      be made to the Designer.
    </li>
  </ol>
  <p>&nbsp;</p>
  <ol start="4">
    <li>Virtual Meeting:</li>
  </ol>
  <p>&nbsp;</p>
  <p>
    Designer must join the meeting through google meet on the allotted time slot
    and should share his screen for live designing/correction/revision.
  </p>
  <p>&nbsp;</p>
  <ol>
    <li>
      Only registered designer shall be able to participate in a meeting with
      the User.
    </li>
    <li>
      Designer shall be required to comply with the google meet terms and
      conditions.
    </li>
    <li>
      Designer shall be required to maintain a professional decorum during the
      meeting with the User, in the event of any irregularity the Registration
      of the designer shall be liable for termination by the shapeNprint.
    </li>
    <li>
      Both the User and Designer shall be bound by the timings as fixed for the
      meeting but in case of the unavailability or delay by the User, the
      designer will have to wait for 40 minutes.
    </li>
    <li>
      If the designer didn&rsquo;t turn up on the meeting at the specified time,
      then the user will wait for 15 minutes, and can leave as per his
      convenience after the expiry of the said time if the designer didn&rsquo;t
      join the meeting and accordingly the designer will be termed as not
      available.
    </li>
  </ol>
  <p>&nbsp;</p>
  <ol start="5">
    <li>User satisfaction:</li>
  </ol>
  <p>&nbsp;</p>
  <ol>
    <li>
      Designer must try to give the best result to the user and accordingly
      considering the quality of its work, the ratings would be generated for
      the designer which shall describe the performance to the prospective user
    </li>
    <li>
      In the event of any irregularity wherein the user is not satisfied with
      the design and the design is not accepted and further approved by the
      user, only 50% of the amount for the work done by the Designer shall be
      released and the remaining shall be deducted.
    </li>
  </ol>
  <p>&nbsp;</p>
  <ol start="6">
    <li>File Upload:</li>
  </ol>
  <p>&nbsp;</p>
  <p>
    Designer shall upload the complete file in the format prescribed by the user
    alongwith its source file on the portal as soon as the meeting on the Google
    Meet is finished.
  </p>
  <ol>
    <li>
      The designers shall be prohibited to use the uploaded design for the
      particular design on any other platform which includes social media and
      other portals, in the event of non-compliance the shapeNprint shall have
      the exclusive rights to take appropriate legal actions against the said
      Designer.
    </li>
    <li>
      In the event of the absence of the user or if the user fails to turn, on
      the meeting, then the designer, subject to Clause 4D of the agreement
      shall be required to upload both the files on the portal.
    </li>
  </ol>
  <ol start="7">
    <li>Payment</li>
  </ol>
  <ol>
    <li>
      Once the design is accepted by the user, the amount as circulated with the
      order, will be transferred to the designer&rsquo;s account within seven
      business days.
    </li>
    <li>
      In the event of the cancellation of meeting by the Designer, no payment
      will be made.
    </li>
  </ol>
  <ol start="8">
    <li>Reschedule &amp; Cancelation</li>
  </ol>
  <ol>
    <li>
      In the event of designer failing to appear on the allotted meeting time,
      no payment to the designer will be made. In that case, the designer will
      be marked as negative and shapeNprint shall reserve the rights to cancel
      or terminate the account of the Designer
    </li>
    <li>
      Designer does not have the right to reschedule the meeting whilst designer
      can always cancel the meeting by the means of help and support.
    </li>
    <li>
      If the designer doesn&rsquo;t accept or have some inconvenience in
      accepting the rescheduled time as scheduled by the user, then the Designer
      shall be paid minimum Rs. 100 or 10% of job amount, whichever is higher.
    </li>
    <li>
      In the event of any technical glitches, meetings between the User and the
      Designer will be rescheduled according to the shapeNprint guidelines while
      giving notice in advance to both the User and Designer.
    </li>
  </ol>
  <ol start="9">
    <li>
      shapeNprint shall have full exclusive rights to join the meeting anytime
      for making assessments
    </li>
  </ol>
  <ol start="10">
    <li>Licensed Software:</li>
  </ol>
  <p>
    All the Designers are recommended to use the Licensed Softwares only for
    giving the best result to the end user and or avoiding any infirmity with
    the quality of the prescribed order.
  </p>
</div>
<div class="modal-footer">
  <button
    type="button"
    class="btn btn-light"
    (click)="activeModal.dismiss('Cross click')"
  >
    Close
  </button>
</div>
