<div class="modal-header">
  <h4 class="modal-title">Terms and Conditons</h4>
  <button
    type="button"
    class="close"
    aria-label="Close"
    (click)="activeModal.close('Close click')"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
    <OL>
        <LI><P LANG="en-US" ALIGN=JUSTIFY STYLE="margin-top: 0.17in; margin-bottom: 0in; line-height: 115%">
        <FONT FACE="Arial, serif"><FONT FACE="Maven Pro Black, serif">Registration
        and Verification:</FONT></FONT></P>
    </OL>
    <OL>
        <OL TYPE=a>
            <LI><P LANG="en-US" ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 115%">
            <FONT FACE="Arial, serif"><FONT FACE="Maven Pro, serif">The
            submission of registration form does not imply completion of
            registration process until thoroughly verified by shapeNprint </FONT></FONT>
            </P>
            <LI><P LANG="en-US" ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 115%">
            <FONT FACE="Arial, serif"><FONT FACE="Maven Pro, serif">Designers
            shall be required to undergo a verification process for the
            activation of the dashboard which will require him to upload the
            relevant certificates such as Aadhar number, PAN number, etc. for
            proving the existence of its enterprise/individual. </FONT></FONT>
            </P>
            <LI><P LANG="en-US" ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 115%">
            <FONT FACE="Arial, serif"><FONT FACE="Maven Pro, serif">The
            Designer shall be required to must disclose his personal and
            professional details along with relevant proofs.</FONT></FONT></P>
            <LI><P LANG="en-US" ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 115%">
            <FONT FACE="Arial, serif"><FONT FACE="Maven Pro, serif">Business
            Enterprises who are willing to work as shapeNprint’s service
            providers must disclose their business details which may include
            the GST Certificate No. or the CIN.</FONT></FONT></P>
            <LI><P LANG="en-US" ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 115%">
            <FONT FACE="Arial, serif"><FONT FACE="Maven Pro, serif">Apart from
            the said procedure, the designers shall also be assigned a
            designing task which has to be executed by the designer within a
            prescribed time limit and the same shall be further shown by him in
            a virtual meeting. Designs submitted by the designer during the
            said routine can be used by shapeNprint for confirming the
            registration of the Designer on its platform. </FONT></FONT>
            </P>
            <LI><P LANG="en-US" ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 115%">
            <FONT FACE="Arial, serif"><FONT FACE="Maven Pro, serif">shapeNprint
            shall have the exclusive Right to Reject and Cancel if the
            prospective designer fails to submit the design as prescribed in
            the previous clause herein above.</FONT></FONT></P>
        </OL>
    </OL>
    <P LANG="en-US" ALIGN=JUSTIFY STYLE="margin-left: 0.94in; margin-bottom: 0in; line-height: 115%">
    <BR>
    </P>
    <OL START=2>
        <LI><P LANG="en-US" ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 115%">
        <FONT FACE="Arial, serif"><FONT FACE="Maven Pro Black, serif">Circulation
        Floating of the Orders placed by the Users/Customers:</FONT></FONT></P>
        <OL TYPE=a>
            <LI><P LANG="en-US" ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 115%">
            <FONT FACE="Arial, serif"><FONT FACE="Maven Pro, serif">Any order
            which will be placed by the user shall be circulated/floated
            amongst the   designers who have been successfully registered by
            complying with procedures as explained in Clause 1 of this
            agreement. The algorithm of the Registered Designers will be
            emerged automatically on the platform, wherein the Designers will
            receive the notifications of the orders as placed. Accordingly, the
            Designers can view the summary of the order, amount to receive, and
            time slot as selected by the user.</FONT></FONT></P>
            <LI><P LANG="en-US" ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 115%">
            <FONT FACE="Arial, serif"><FONT FACE="Maven Pro, serif">It is to
            confirm that the shapeNprint and the Designers shall have no
            liability in the event of placing of any order of the design or
            content by the User which is illegal/unlawful or the content which
            is not permissible by the land of law to be propagated, circulated,
            displayed or distributed. </FONT></FONT>
            </P>
        </OL>
    </OL>
    <P LANG="en-US" ALIGN=JUSTIFY STYLE="margin-left: 0.94in; margin-bottom: 0in; line-height: 115%">
    <BR>
    </P>
    <OL START=3>
        <LI><P LANG="en-US" ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 115%">
        <FONT FACE="Arial, serif"><FONT FACE="Maven Pro Black, serif">Acceptance
        of the Order:</FONT><FONT FACE="Maven Pro, serif"> Order will be
        assigned only to the designer who first accepts the order.</FONT></FONT></P>
        <OL TYPE=a>
            <LI><P LANG="en-US" ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 115%">
            <FONT FACE="Arial, serif"><FONT FACE="Maven Pro, serif">Designer
            shall be required to immediately report the User/Company of any
            illegal/inappropriate content received to him and should not
            proceed further for designing. </FONT></FONT>
            </P>
            <LI><P LANG="en-US" ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 115%">
            <FONT FACE="Arial, serif"><FONT FACE="Maven Pro, serif">Designer
            shall be required to prepare two designs with different concepts
            according to the user’s content and reference before joining the
            meeting at the allotted time slot.</FONT></FONT></P>
            <LI><P LANG="en-US" ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 115%">
            <FONT FACE="Arial, serif"><FONT FACE="Maven Pro, serif">If designer
            joins the meeting without two designs ready, then the user shall be
            at the liberty to opt out from the meeting, and no payment will be
            made to the Designer.</FONT></FONT></P>
        </OL>
    </OL>
    <P LANG="en-US" ALIGN=JUSTIFY STYLE="margin-left: 1in; margin-bottom: 0in; line-height: 115%">
    <BR>
    </P>
    <OL START=4>
        <LI><P LANG="en-US" ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 115%">
         <FONT FACE="Arial, serif"><FONT FACE="Maven Pro Black, serif">Virtual
        Meeting:</FONT><FONT FACE="Maven Pro, serif"><B> </B></FONT><FONT FACE="Maven Pro, serif">Designer
        must join the meeting through google meet on the allotted time slot
        and should share his screen for live designing/correction/revision. </FONT></FONT>
        </P>
        <OL TYPE=a>
            <LI><P LANG="en-US" ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 115%">
            <FONT FACE="Arial, serif"><FONT FACE="Maven Pro, serif">Only
            registered designer shall be able to participate in a meeting with
            the User.</FONT></FONT></P>
            <LI><P LANG="en-US" ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 115%">
            <FONT FACE="Arial, serif"><FONT FACE="Maven Pro, serif">Designer
            shall be required to comply with the google meet terms and
            conditions.</FONT></FONT></P>
            <LI><P LANG="en-US" ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 115%">
            <FONT FACE="Arial, serif"><FONT FACE="Maven Pro, serif">Designer
            shall be required to maintain a professional decorum during the
            meeting with the User, in the event of any irregularity the
            Registration of the designer shall be liable for termination by the
            shapeNprint.</FONT></FONT></P>
            <LI><P LANG="en-US" ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 115%">
            <FONT FACE="Arial, serif"><FONT FACE="Maven Pro, serif">Both the
            User and Designer shall be bound by the timings as fixed for the
            meeting but in case of the unavailability or delay by the User, the
            designer will have to wait for 40 minutes. </FONT></FONT>
            </P>
            <LI><P LANG="en-US" ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 115%">
            <FONT FACE="Arial, serif"><FONT FACE="Maven Pro, serif">If the
            designer didn’t turn up on the meeting at the specified time,
            then the user will wait for 15 minutes, and can leave as per his
            convenience after the expiry of the said time if the designer
            didn’t join the meeting and accordingly the designer will be
            termed as not available.</FONT></FONT></P>
        </OL>
    </OL>
    <P LANG="en-US" ALIGN=JUSTIFY STYLE="margin-left: 0.94in; margin-bottom: 0in; line-height: 115%">
    <BR>
    </P>
    <OL START=5>
        <LI><P LANG="en-US" ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 115%">
         <FONT FACE="Arial, serif"><FONT FACE="Maven Pro Black, serif">User
        satisfaction:</FONT></FONT></P>
        <OL TYPE=a>
            <LI><P LANG="en-US" ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 115%">
            <FONT FACE="Arial, serif"><FONT FACE="Maven Pro, serif">Designer
            must try to give the best result to the user and accordingly
            considering the quality of its work, the ratings would be generated
            for the designer which shall describe the performance to the
            prospective user</FONT></FONT></P>
            <LI><P LANG="en-US" ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 115%">
            <FONT FACE="Arial, serif"><FONT FACE="Maven Pro, serif">In the
            event of any irregularity wherein the user is not satisfied with
            the design and the design is not accepted and further approved by
            the user, only 45% of the amount for the work done by the Designer
            shall be released and the remaining shall be deducted.</FONT></FONT></P>
        </OL>
    </OL>
    <P LANG="en-US" ALIGN=JUSTIFY STYLE="margin-left: 1in; margin-bottom: 0in; line-height: 115%">
    <BR>
    </P>
    <OL START=6>
        <LI><P LANG="en-US" ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 115%">
        <FONT FACE="Arial, serif"><FONT FACE="Maven Pro Black, serif">File
        Upload:</FONT><FONT FACE="Maven Pro, serif"><B> </B></FONT><FONT FACE="Maven Pro, serif">Designer
        shall upload the complete file in the format prescribed by the user
        along with its source file on the portal as soon as the meeting on
        the Google Meet is finished.</FONT></FONT></P>
        <OL TYPE=a>
            <LI><P LANG="en-US" ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 115%">
            <FONT FACE="Arial, serif"><FONT FACE="Maven Pro, serif">The
            designers shall be prohibited to use the uploaded design on any
            other platform which includes social media and other portals, in
            the event of non-compliance the shapeNprint shall have the
            exclusive rights to take appropriate legal actions against the said
            Designer.</FONT></FONT></P>
            <LI><P LANG="en-US" ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 115%">
            <FONT FACE="Arial, serif"><FONT FACE="Maven Pro, serif">In the
            event of the absence of the user or if the user fails to turn, on
            the meeting, then the designer, subject to Clause 4D of the
            agreement shall be required to upload both the files on the portal.
            </FONT></FONT>
            </P>
        </OL>
    </OL>
    <P LANG="en-US" ALIGN=JUSTIFY STYLE="margin-left: 1in; margin-bottom: 0in; line-height: 115%">
    <BR>
    </P>
    <OL START=7>
        <LI><P LANG="en-US" ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 115%">
        <FONT FACE="Arial, serif"><FONT FACE="Maven Pro Black, serif">Payment</FONT></FONT></P>
        <OL TYPE=a>
            <LI><P LANG="en-US" ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 115%">
            <FONT FACE="Arial, serif"><FONT FACE="Maven Pro, serif">Once the
            design is accepted by the user, the amount as circulated with the
            order, will be transferred to the designer’s account within seven
            business days.</FONT></FONT></P>
            <LI><P LANG="en-US" ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 115%">
            <FONT FACE="Arial, serif"><FONT FACE="Maven Pro, serif">In the
            event of the cancellation of meeting by the Designer, no payment
            will be made.</FONT></FONT></P>
        </OL>
    </OL>
    <P LANG="en-US" ALIGN=JUSTIFY STYLE="margin-left: 0.94in; margin-bottom: 0in; line-height: 115%">
    <BR>
    </P>
    <OL START=8>
        <LI><P LANG="en-US" ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 115%">
        <FONT FACE="Arial, serif"><FONT FACE="Maven Pro Black, serif"><B>Meeting
        Cancelation</B></FONT></FONT></P>
        <OL TYPE=a>
            <LI><P LANG="en-US" ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 115%">
            <FONT FACE="Arial, serif"><FONT FACE="Maven Pro, serif">In case of
            any genuine reason, designer can always cancel the meeting by the
            means of help and support keeping in mind that all the failures to
            complete the order is recorded by shapeNprint. In that case, no
            payment will be made.</FONT></FONT></P>
            <LI><P LANG="en-US" ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 115%">
            <FONT FACE="Arial, serif"><FONT FACE="Maven Pro, serif">In the
            event of designer failing to appear on the allotted meeting time,
            no payment to the designer will be made. In that case, the designer
            will be marked as negative and shapeNprint shall reserve the rights
            to cancel or terminate the account of the Designer</FONT></FONT></P>
            <LI><P LANG="en-US" ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 115%">
            <FONT FACE="Arial, serif"><FONT FACE="Maven Pro, serif">In the
            event of any technical glitches, meetings between the User and the
            Designer will be rescheduled according to the shapeNprint
            guidelines while giving notice in advance to both the User and
            Designer.</FONT></FONT></P>
        </OL>
    </OL>
    <P LANG="en-US" ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 115%">
    <BR>
    </P>
    <OL START=9>
        <LI><P LANG="en-US" ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 115%">
        <FONT FACE="Arial, serif"><FONT FACE="Maven Pro, serif">shapeNprint
        shall have full exclusive rights to join the meeting anytime for
        making assessments before prior notice. Meetings can be recorded for
        quality and training purposes. </FONT></FONT>
        </P>
    </OL>
    <P LANG="en-US" ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 115%">
    <BR>
    </P>
    <OL START=10>
        <LI><P LANG="en-US" ALIGN=JUSTIFY STYLE="margin-bottom: 0.17in; line-height: 115%">
        <FONT FACE="Arial, serif"><FONT FACE="Maven Pro Black, serif">Licensed
        Software:</FONT><FONT FACE="Maven Pro, serif"><B> </B></FONT><FONT FACE="Maven Pro, serif">All
        the Designers are recommended to use the Licensed Software only for
        giving the best result to the end user and or avoiding any infirmity
        with the quality of the prescribed order.</FONT></FONT></P>
    </OL>
</div>
<div class="modal-footer">
  <button
    type="button"
    class="btn btn-light"
    (click)="activeModal.dismiss('Cross click')"
  >
    Close
  </button>
</div>
