<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title" style="PADDING-LEFT: 35%;">Product Form</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.close('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div
    class="content"
  >
    <div class="row">
      
      <div class="col-md-12">
        <div class="card card-user">
          <div class="card-header">
            <h5 class="card-title"></h5>
            <!-- <button class="btn btn-primary"  (click)="editForm('personal')">Edit Profile</button> -->
          </div>
          <div class="card-body">
            <form [formGroup]="productform" id="productform">
              <div class="row">
                <div class="col-md-4 pr-1">
                  <div class="form-group">
                    <label>Product Name</label>
                    
                    
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Product Name"
                     
                      formControlName="Pname"
                      required
                    />
                    <span
                      class="errorMessage"
                      *ngIf="
                        (productform.controls['Pname'].dirty ||
                          productform.controls['Pname'].touched) &&
                        productform.controls['Pname'].invalid &&
                        productform.controls['Pname'].errors.required
                      "
                    >
                      *Name is required.
                    </span>
                  </div>
                </div>
                <div class="col-md-4 px-1">
                  <div class="form-group">
                    <label>Preference</label>
                    <input
                      type="number"
                      class="form-control"
                      placeholder="Preference"
                      formControlName="preferenece"
                      required
                    />
                  </div>
                  <span
                    class="errorMessage"
                    *ngIf="
                      (productform.controls['preferenece'].dirty ||
                        productform.controls['preferenece'].touched) &&
                      productform.controls['preferenece'].invalid &&
                      productform.controls['preferenece'].errors.required
                    "
                  >
                    *Preference is required.
                  </span>
                </div>
                <div class="col-md-4 pl-1">
                  <div class="form-group">
                    <label>Classification</label>
                    <select
                      class="form-control"
                      
                      formControlName="classification"
                      required
                    >
                      <option selected></option>
                      <option >Design And Print</option>
                      <option>Design Only</option>
                      <option>Print Only</option>
                    </select>
                    <span
                      class="errorMessage"
                      *ngIf="
                        (productform.controls['classification'].dirty ||
                          productform.controls['classification'].touched) &&
                        productform.controls['classification'].invalid &&
                        productform.controls['classification'].errors.required
                      "
                    >
                      *Please Select Classification.
                    </span>
                  </div>
                </div>
              </div>
              
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
        <div class="input-group col-md-6" style="padding-top: 30px;position: relative !important" >
            <div class=" form-group">
              <div style="display: flex;">
                <div>
                    <label>Product Image </label>
                    <label for="productUpload" class="btn btn-primary btn-block btn-outlined" style="width:400px">UPLOAD</label>
                    <input
                    type="file"
                    accept="image/*"
                    style="display: none"
                    id="productUpload"
                    
                    (change)="uploadGSTCertificate($event.target.files,'product')"
                  /> 
                </div>
                <div style="width: 40px;margin-top: 40px;" *ngIf="uploadedFileNames.displayLoadingProductGif">
                    <img src="../../../assets/img/loading.gif"/>
                  </div>
              </div>
                
             
                
              
              <a href="#" (click)="stopDefault($event)"    *ngIf="uploadedFileNames.IsproductRefUploaded"
              >{{uploadedFileNames.product}}</a>
            </div>
           
          </div>
    </div>
    <div class="row">
        <div class="input-group col-md-6" style="padding-top: 30px;position: relative !important" >
            <div class=" form-group">
              <div style="display: flex;">
                <div>
                    <label>Product Icon </label>
                    <label for="contentUpload" class="btn btn-primary btn-block btn-outlined" style="width:400px">UPLOAD</label>
                    <input
                    type="file"
                    accept="image/*"
                    style="display: none"
                    id="contentUpload"
                    
                    (change)="uploadGSTCertificate($event.target.files,'image1')"
                  /> 
                </div>
                <div style="width: 40px;margin-top: 40px;" *ngIf="uploadedFileNames.displayLoadingContentGif">
                    <img src="../../../assets/img/loading.gif"/>
                  </div>
              </div>
                
             
                
              
              <a href="#" (click)="stopDefault($event)"    *ngIf="uploadedFileNames.IscontentUploaded"
              >{{uploadedFileNames.image1}}</a>
            </div>
           
          </div>
    </div>
    <div class="row">
        <!-- {{productform.valid && isTermsAccepted}} -->
        <div class="update ml-auto mr-auto">
          <button
            type="button"
            (click)="updateNewproduct()"
            [disabled]="!productform.valid"
            class="btn btn-primary btn-round"
          >
            Submit
          </button>
        </div>
       <span *ngIf="updateSuccess" style="color:green">Product Update successfully</span>
      </div>
  </div>