.owl-nav {
  display: flex !important;
}
.itemSize {
  /* height: 200px;  */
   width: 95%;
   max-height: 300px;
}
/* .carousel-control-next-icon {
  background-image: url("../../../assets/HomePageImg/Home Page _ Images/Left Arrow1200.png") !important;
}
.carousel-control-prev-icon {
  background-image: url("../../../assets/HomePageImg/Home Page _ Images/Left Arrow1200.png") !important;
  margin-left: -200%;
} */
@media (max-width: 768px) {
  .itemSize {
    height: auto; 
     /* width: 200px !important; */
  }
}