.owl-nav {
  display: flex !important;
}
.itemSize {
  /* height: 300px;
  width: 300px !important; */
  width: 90%;
}
.carousel-control-next,
.carousel-control-prev {
  width: 10% !important;
}
.carousel-text {
  margin-left: 35%;
}
/* .carousel-control-next-icon {
  background-image: url("../../../assets/HomePageImg/Home Page _ Images/Left Arrow1200.png") !important;
}
.carousel-control-prev-icon {
  background-image: url("../../../assets/HomePageImg/Home Page _ Images/Left Arrow1200.png") !important;
  margin-left: -200%;
} */

.carousel-control-next-icon,
.carousel-control-prev-icon {
  margin-left: 150px !important;
}
@media (max-width: 768px) {
  .itemSize {
    height: auto;
    /* width: 200px !important; */
  }
  .carousel-control-next-icon,
  .carousel-control-prev-icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: transparent no-repeat center center;
    background-size: 100% 100%;
    margin-left: 100px !important;
  }
  .carousel-text {
    margin-left: 35%;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1300px;
  }
}
