<div class="modal-dialog modal-xl">
  <div class="modal-header">
    <h2 class="modal-title">Order Details</h2>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.close('Close click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body" style="width:80%">
    <div class="container" style="margin-left: 10%;">
      <div class="row">
        <!-- <div class="col-md-2">
          <img src="../../../assets/StudentDashboard/img/download.jpg" />
        </div> -->
        <div class="col-md-12" style="display:none">
          <div class="">
            <div class="">
              <div class="rowCart itemCart">
                <div class="col-shp-3 mobCard">
                  <img src="../../../assets/StudentDashboard/img/download.jpg" class="productImage" />
                </div>
                <div class="col-shp-7 mobCard" style="padding-left: 1%;">
                  <p class="productTitle">{{ data.subcategory }}</p>
                  <p class="productDetails">
                    <span class="detailsHeading">Orientation:</span> Vertical,
                    <span class="detailsHeading">Size:</span> A4
                    <span class="detailsHeading">Quantity:</span> A4
                    <span class="detailsHeading">Size:</span> A4
                  </p>

                  <p class="productDetails">
                    <span class="detailsHeading">Price: &#x20B9;</span> 1000
                  </p>
                  <div>
                    <a href="www.google.com" target="_blank">Download Reference Image</a>
                  </div>
                  <div style="display: flex;">
                    <div style="width:50%">
                      <a href="www.google.com" target="_blank">Download Logo/Image1</a>
                    </div>

                    <div style="width:50%">
                      <a href="www.google.com" target="_blank">Download Logo/Image2</a>
                    </div>
                  </div>

                  <div style="display: flex;">
                    <div style="width:50%">
                      <a href="www.google.com" target="_blank">Download Logo/Image3</a>
                    </div>

                    <div style="width:50%">
                      <a href="www.google.com" target="_blank">Download Logo/Image4</a>
                    </div>
                  </div>

                  <!-- <button class="btn" (click)="removeItem(item.id)">
                      Remove
                    </button>
                    <button class="btn btn-primary" (click)="editItem(item.id)">
                      Edit
                    </button> -->





                  <div class="row">



                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
      <div class="row" *ngFor="let item of orderItems">
        <!-- <div class="col-md-2">
          <img src="../../../assets/StudentDashboard/img/download.jpg" />
        </div> -->
        <div class="col-md-12">
          <div class="">
            <div class="">
              <div class="rowCart itemCart">
                <div class="col-shp-3 mobCard">
                  <img src="../../../assets/StudentDashboard/img/download.jpg" class="productImage" />
                </div>
                <div class="col-shp-7 mobCard" style="padding-left: 1%;">
                  <p class="productTitle">{{ item.subcategory }}</p>
                  <p class="productDetails">
                    <span class="detailsHeading">Orientation:</span> {{ item.orientation }},
                    <span class="detailsHeading">Size:</span> {{ item.size }},
                    <span class="detailsHeading">Qunatity:</span> {{ item.quantity }},
                    <span class="detailsHeading">Paper GSM:</span> {{ item.paperGSM }},
                  </p>

                  <p class="productDetails">
                    <span class="detailsHeading">Price: &#x20B9;</span> {{ item.printercost }}
                  </p>
                  <div>
                    Print Ready Files
                  </div>
                  <div *ngFor="let filekey of item.sourceLogoFile;let j=index" style="display: flex;flex-wrap: wrap;">
                    <div>
                      <a *ngIf="filekey !=''" (click)="downloadFile(filekey,$event,'createordercontent')"
                        href="#">Download Print Ready Files
                        {{j+1}} </a>
                    </div>

                  </div>






                  <div class="row" *ngFor="let itemNImg of item.NormalUploads;let  j=index">
                    <div class="input-group col-md-10" style="position: relative !important">
                      <div class="form-group">
                        <div style="display: flex;">
                          <div *ngIf="!isAllOrders">
                            <label [for]="itemNImg.name" class="btn btn-primary btn-block btn-outlined"
                              style="width:250px">UPLOAD</label>
                            <input type="file" accept="image/*" style="display: none" [id]="itemNImg.name"
                              (change)="uploadGSTCertificate($event.target.files,item.id,'normal',itemNImg.id)" />
                          </div>
                          <div style="width: 40px;" *ngIf="itemNImg.displayLoadingGif">
                            <img src="../../../assets/img/loading.gif" />
                          </div>
                          <div *ngIf="!isAllOrders" style="display:flex">

                            <div *ngIf="itemNImg.id == item.NormalUploads.length">
                              <button class="btn btn-outlined"
                                (click)="addImage(itemNImg.id,item.id,'normal')">+</button>
                            </div>
                            <div>
                              <button class="btn btn-outlined"
                                (click)="removeImage(itemNImg.id,item.id,'normal')">-</button>
                            </div>
                          </div>


                        </div>
                        <div *ngIf="itemNImg.displayFileName">
                          <a href="#" (click)="downloadFile(itemNImg.fileName,$event,'finaldesignsourceandnormalfile')">
                            {{itemNImg.fileName}}</a>



                        </div>



                      </div>

                    </div>


                  </div>
                  <div class="row" *ngFor="let itemImg of item.SourceUploads;let  i=index" style="display: none;">
                    <div class="input-group col-md-10" style="position: relative !important">
                      <div class="form-group">
                        <div *ngIf="i == 0">
                          <label>Upload Invoice </label>

                        </div>
                        <div style="display: flex;">
                          <div>
                            <label [for]="itemImg.name" class="btn btn-primary btn-block btn-outlined"
                              style="width:250px">UPLOAD</label>
                            <input type="file" accept="image/*" style="display: none" [id]="itemImg.name"
                              (change)="uploadGSTCertificate($event.target.files,item.id,'source',itemImg.id)" />
                          </div>
                          <div style="width: 40px;" *ngIf="itemImg.displayLoadingGif">
                            <img src="../../../assets/img/loading.gif" />
                          </div>



                        </div>
                        <div *ngIf="itemImg.displayFileName">
                          <a href="#" (click)="stopDefault($event)">{{itemImg.fileName}}</a>



                        </div>



                      </div>

                    </div>


                  </div>

                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
      <div class="input-group col-md-10" style="position: relative !important">
        <div class="form-group">

          <label>Upload Invoice </label>


          <div style="display: flex;">
            <div>
              <label [for]="invoice" class="btn btn-primary btn-block btn-outlined" style="width:250px">UPLOAD</label>
              <input type="file" accept="image/*" style="display: none" [id]="invoice"
                (change)="uploadGSTCertificate($event.target.files,'source')" />
            </div>
            <div style="width: 40px;" *ngIf="uploadedFileNames.displayLoadingProductGif ">
              <img src="../../../assets/img/loading.gif" />
            </div>



          </div>
          <div *ngIf="!uploadedFileNames.displayLoadingProductGif">
            <a href="#" (click)="stopDefault($event)">{{uploadedFileNames.product}}</a>



          </div>



        </div>

      </div>
    </div>
  </div>

  <div class="modal-footer">
    <!-- <button
    type="button" class="btn btn-primary mx-auto">Accept</button> -->
    <button type="button" class="btn btn-light" (click)="activeModal.close('Cross click')">
      Close
    </button>
  </div>
</div>