<div class="modal-header">
  <h4 class="modal-title">Add Address</h4>
  <button
    type="button"
    class="close"
    aria-label="Close"
    (click)="activeModal.close('Close click')"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="col-md-8">
    <div class="form-group">
      <label>Search Address</label>
      <div>
        <app-googleplaces (setAddress)="getAddress($event)"></app-googleplaces>
      </div>
    </div>
  </div>
  <div class="col-md-8">
    <div class="form-group">
      <label>Enter Address *</label>
      <div>
        <textarea
          cols="18"
          rows="4"
          [(ngModel)]="userAddress"
          style="width:100%"
          placeholder="Enter or Modify Address"
        >
        </textarea>
      </div>
    </div>
  </div>
  <div class="col-md-8">
    <div class="form-group">
      <label>Contact Person *</label>
      <div>
        <input
          type="text"
          [(ngModel)]="contactPerson"
          placeholder="Contact Person"
          style="width:100%"
        />
      </div>
    </div>
  </div>
  <div class="col-md-8">
    <div class="form-group">
      <label>Contact Person Number *</label>
      <div>
        <input
          type="text"
          [(ngModel)]="userPhone"
          placeholder="Contact Person Number"
          style="width:100%"
          (change)="validateMobile()"
        />
      </div>
      <span style="color:red" *ngIf="invalidMobile">*Invalid Mobile Number</span>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-light"
   (click)="saveAddress()" [disabled]="displaySaveButton">
    Save
  </button>
  <button
    type="button"
    class="btn btn-light"
    (click)="activeModal.dismiss('Cross click')"
  >
    Close
  </button>
</div>
<!-- <div class="col-md-8">
  <div class="form-group">
    <label>Address</label>
    <div>
      <app-googleplaces (setAddress)="getAddress($event)"></app-googleplaces>
    </div>
  </div>
</div> -->
