<section class="header1 cid-si6VojyX7F" id="header1-q">


    <div class="container">
        <div class="mbr-row align-left">
            <div class="title-block mbr-col-sm-12 mbr-col-md-12 mbr-col-lg-12">
                <h1 class="mbr-section-title mbr-fonts-style mbr-bold display-1">Why Report Card’s Design is Important?
                    <div><br></div>
                </h1>
            </div>
        </div>
    </div>
</section>
<section class="image1 cid-si6Wa1MUZo" id="image1-r">


    <div class="container-fluid">

        <div class="image-block mbr-m-auto align-center">
            <amp-img class="placeholder-loader"
                src="https://drive.google.com/uc?export=view&id=1rDHUlxPC2Bj_N5QNmPuHbv7GpupzJW_v" layout="responsive"
                width="1247.376" height="702" alt="Cover page  of report card." title="Report card design">
                <div placeholder="" class="placeholder">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 300 300">
                        <circle class="big" fill="none" stroke="#c2e0e0" stroke-width="3" stroke-dasharray="230"
                            stroke-dashoffset="230" cx="150" cy="150" r="145"></circle>
                        <circle class="small" fill="none" stroke="#c2e0e0" stroke-width="3" stroke-dasharray="212"
                            cx="150" cy="150" r="135"></circle>
                    </svg></div>

            </amp-img>
        </div>

    </div>
</section>

<section class="mbr-section content1 cid-si6XmpnHt5" id="content1-s">


    <div class="container">

        <div class="mbr-row mbr-jc-c">
            <div class="card mbr-col-sm-12 mbr-col-lg-12">
                <p class="mbr-text mbr-fonts-style display-7">Report cards record a student's academic and co-curricular
                    performance in a structured and systematic manner. The report card conveys the progressive
                    development of the student and is valued lifelong.<br><br>They carry the student's scores and
                    information regarding their academic progress. They are retained lifelong as a reliable document
                    assisting a student in his successive and subsequent accomplishments, qualifications and
                    evaluation.<br><br>A report card consists of descriptors and narratives.<br></p>
            </div>



        </div>
    </div>
</section>

<section class="image1 cid-si6YR1ouXJ" id="image1-t">


    <div class="container">

        <div class="image-block mbr-m-auto align-center mbr-col-md-8">
            <amp-img class="placeholder-loader"
                src="https://drive.google.com/uc?export=view&id=1XrPscUlior5U7F5wONz45CSmH2hQRoI9" layout="responsive"
                width="707.2135785007072" height="500"
                alt="Template of school report card in orange  colour with subjects and grading section."
                title="School report card design">
                <div placeholder="" class="placeholder">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 300 300">
                        <circle class="big" fill="none" stroke="#c2e0e0" stroke-width="3" stroke-dasharray="230"
                            stroke-dashoffset="230" cx="150" cy="150" r="145"></circle>
                        <circle class="small" fill="none" stroke="#c2e0e0" stroke-width="3" stroke-dasharray="212"
                            cx="150" cy="150" r="135"></circle>
                    </svg></div>

            </amp-img>
        </div>

    </div>
</section>
<section class="mbr-section content1 cid-si784wiGCz" id="content1-14">


    <div class="container">

        <div class="mbr-row mbr-jc-c">
            <div class="card mbr-col-sm-12 mbr-col-lg-12">
                <p class="mbr-text mbr-fonts-style display-7">Descriptors usually include different sets of distinct
                    degrees of performance, which can be used to describe students.<br><br>Narrative comprises the
                    comments of teachers. It is available in paragraphs where they attempt at summarizing the
                    performance, the need and scope of improvement and a complete analysis of the person, his strengths,
                    shortcomings and interests.<br><br>Here are a few things required to be able to make a report
                    card.&nbsp;<br><br></p>
            </div>



        </div>
    </div>
</section>


<div class="container">
    <div class="title mbr-pb-4">
        <h3 class="mbr-section-title mbr-fonts-style mbr-bold display-2">1) Components of a report card</h3>
    </div>

</div>


<section class="image1 cid-si76WEklJ6" id="image1-x">


    <div class="container">

        <div class="image-block mbr-m-auto align-center mbr-col-md-8">
            <amp-img class="placeholder-loader"
                src="https://drive.google.com/uc?export=view&id=1lzXo_mqsX2hQF4Vn_GnDXEtk1Ft0gGEa" layout="responsive"
                width="707.2135785007072" height="500"
                alt="Easy and simple school report card design with subjects written on it."
                title="Simple design of school report card">
                <div placeholder="" class="placeholder">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 300 300">
                        <circle class="big" fill="none" stroke="#c2e0e0" stroke-width="3" stroke-dasharray="230"
                            stroke-dashoffset="230" cx="150" cy="150" r="145"></circle>
                        <circle class="small" fill="none" stroke="#c2e0e0" stroke-width="3" stroke-dasharray="212"
                            cx="150" cy="150" r="135"></circle>
                    </svg></div>

            </amp-img>
        </div>

    </div>
</section>
<section class="mbr-section content1 cid-si784wiGCz" id="content1-14">


    <div class="container">

        <div class="mbr-row mbr-jc-c">
            <div class="card mbr-col-sm-12 mbr-col-lg-12">
                <p class="mbr-text mbr-fonts-style display-7">A report card includes parents’ information and students’
                    profile and grades and achievements during the semester year.</p>
                <ul class="mbr-text mbr-fonts-style display-7" style="list-style-type:disc">
                    <li>First and last name</li>
                    <li>Mailing address and email id</li>
                    <li>The contact number of parents</li>
                </ul>
                <p class="mbr-text mbr-fonts-style display-7">For students information</p>
                <ul class="mbr-text mbr-fonts-style display-7" style="list-style-type:disc">
                    <li>Name and grade of the student</li>
                    <li>The score of the student in various subjects, along with comments and remarks. They do contain
                        practical information like the mode of transportation.</li>
                    <li>School contact information and address</li>
                </ul>
            </div>



        </div>
    </div>
</section>


<section class="mbr-section content1 cid-si784Naaqc" id="content1-15">


    <div class="container">
        <div class="title mbr-pb-4">
            <h3 class="mbr-section-title mbr-fonts-style mbr-bold display-2">2) Sizes adopted</h3>
        </div>

    </div>
</section>

<section class="image1 cid-si79V77YEF" id="image1-18">


    <div class="container">

        <div class="image-block mbr-m-auto align-center mbr-col-md-7">
            <amp-img class="placeholder-loader"
                src="https://drive.google.com/uc?export=view&id=1J2HGU4mP5b9OBnppOQozeMLOFZOrijXA" layout="responsive"
                width="613.8613861386139" height="434"
                alt="Three different  size blank white sheets of paper are put and the pink background."
                title="Torn Sheets of paper">
                <div placeholder="" class="placeholder">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 300 300">
                        <circle class="big" fill="none" stroke="#c2e0e0" stroke-width="3" stroke-dasharray="230"
                            stroke-dashoffset="230" cx="150" cy="150" r="145"></circle>
                        <circle class="small" fill="none" stroke="#c2e0e0" stroke-width="3" stroke-dasharray="212"
                            cx="150" cy="150" r="135"></circle>
                    </svg></div>

            </amp-img>
        </div>

    </div>
</section>

<section class="mbr-section content1 cid-si784wiGCz" id="content1-14">


    <div class="container">

        <div class="mbr-row mbr-jc-c">
            <div class="card mbr-col-sm-12 mbr-col-lg-12">

                <p class="mbr-text mbr-fonts-style display-7">The education system and board changes, the parameters
                    also change. But now many follow the same trend and print grades on standard printer paper.<br></p>
            </div>



        </div>
    </div>
</section>

<section class="mbr-section content1 cid-si784e1ym9" id="content1-13">


    <div class="container">
        <div class="title mbr-pb-4">
            <h3 class="mbr-section-title mbr-fonts-style mbr-bold display-2">3) What report cards made of?</h3>
        </div>

    </div>
</section>

<section class="image1 cid-si7aCVOD6m" id="image1-19">


    <div class="container">

        <div class="image-block mbr-m-auto align-center mbr-col-md-7">
            <amp-img class="placeholder-loader"
                src="https://drive.google.com/uc?export=view&id=1NoB-T54KM_Z72MABKB9ZH8htHYET2j2k" layout="responsive"
                width="613.8613861386139" height="434" alt="Cute colorful craft  paper sheets  are aligned together."
                title="Colourful craft paper design">
                <div placeholder="" class="placeholder">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 300 300">
                        <circle class="big" fill="none" stroke="#c2e0e0" stroke-width="3" stroke-dasharray="230"
                            stroke-dashoffset="230" cx="150" cy="150" r="145"></circle>
                        <circle class="small" fill="none" stroke="#c2e0e0" stroke-width="3" stroke-dasharray="212"
                            cx="150" cy="150" r="135"></circle>
                    </svg></div>

            </amp-img>
        </div>

    </div>
</section>

<section class="mbr-section content1 cid-si783XoyX3" id="content1-12">


    <div class="container">

        <div class="mbr-row mbr-jc-c">
            <div class="card mbr-col-sm-12 mbr-col-lg-12">
                <p class="mbr-text mbr-fonts-style display-7">Report cards usually are found to be formed from
                    cardboard, card stock paper or some heavy paper.<br><br>Report cards are meant to be kept and stored
                    and saved for a long. It would be futile to have them if their durability is less. They should be
                    made of heavy paper material so that they can be secured for eternity. They hold much importance to
                    students and should look valuable, too, in terms of its longevity.<br>
            </div>



        </div>
    </div>
</section>

<section class="mbr-section content1 cid-si783GKodx" id="content1-11">


    <div class="container">
        <div class="title mbr-pb-4">
            <h3 class="mbr-section-title mbr-fonts-style mbr-bold display-2">4) Report card designing</h3>
        </div>

    </div>
</section>

<section class="image1 cid-si7aQrx1Wd" id="image1-1a">


    <div class="container">

        <div class="image-block mbr-m-auto align-center mbr-col-md-7">
            <amp-img class="placeholder-loader"
                src="https://drive.google.com/uc?export=view&id=1SaVsn_Y5-PKk2ejWuShZ-FoYtC-MaNMV" layout="responsive"
                width="613.8613861386139" height="434"
                alt="Woman is writing  with a pen and beside her on the table is a color sheet."
                title="Woman writing colour codes">
                <div placeholder="" class="placeholder">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 300 300">
                        <circle class="big" fill="none" stroke="#c2e0e0" stroke-width="3" stroke-dasharray="230"
                            stroke-dashoffset="230" cx="150" cy="150" r="145"></circle>
                        <circle class="small" fill="none" stroke="#c2e0e0" stroke-width="3" stroke-dasharray="212"
                            cx="150" cy="150" r="135"></circle>
                    </svg></div>

            </amp-img>
        </div>

    </div>
</section>

<section class="mbr-section content1 cid-si783lPQ3M" id="content1-10">


    <div class="container">

        <div class="mbr-row mbr-jc-c">
            <div class="card mbr-col-sm-12 mbr-col-lg-12">
                <p class="mbr-text mbr-fonts-style display-7">Report cards are official and formal documents. There
                    should be a minimal designing approach to their generation. Colours and fonts should be as
                    professional as it seems. The school name, logo, images, and extraordinary feats achieved are
                    usually seen on report cards.<br><br>The details of scores and other information should be evident
                    and intelligible so that parents don't find it challenging to comprehend.&nbsp;<br></p>
            </div>



        </div>
    </div>
</section>





<section class="info1 cid-si7qmPhHRF" id="info1-1d">

    <!--Block parameters controls (Blue "Gear" panel) -->

    <div class="container">
        <div class="mbr-row mbr-jc-c">
            <div class="title-wrap mbr-col-lg-8 mbr-col-md-8 mbr-col-sm-12 mbr-flex mbr-column mbr-jc-c">
                <h3 class="mbr-section-title mbr-fonts-style mbr-bold display-2">Get your design/print in one-click!
                </h3>
                <p class="mbr-text mbr-fonts-style mbr-pt-4 display-7"><em>With shapeNprint's verified freelance graphic
                        designers, get the systematic report cards for your institution. We have your city’s all local
                        printing shops in one place with one price and fastest doorstep delivery of your printing
                        orders.</em></p>
            </div>
            <div class="btn-wrap mbr-col-lg-4 mbr-col-md-4 mbr-col-sm-12 mbr-flex mbr-column">
                <div class="mbr-section-btn mbr-m-auto"><a class="btn btn-md btn-primary display-7"
                        href="https://www.shapenprint.com/createorder?selectedProduct=Report%20Card"
                        target="_blank">Order Now</a></div>
            </div>
        </div>
    </div>
</section>