.ng-valid[required],
.ng-valid.required {
  border-left: 5px solid #42a948 !important; /* green */
}

.ng-invalid:not(form) {
  border-left: 5px solid #a94442 !important; /* red */
}
.ng-pristine:not(form) {
  border-left: 1px solid darkgrey !important;
}
.errorMessage {
  color: red;
}
.successMessage {
  color: green;
}
.c-btnborder {
  border: 1px solid;
  border-bottom-color: darkgrey !important;
  border-color: white;
}
.form-control {
  border: 1px solid #b1afb0 !important;
  border-radius: 5px;
}
.mt-5,
.my-5 {
  margin-top: 0rem !important;
  /* margin-top: -20px; */
}
