
                    <div class="dpmt_courses">
                            <div class="row">
                                    <div id="accordion">
                                            <div class="card">
                                                    <div class="card-header" id="headingFAQsix">
                                                      <h5 class="mb-0">
                                                        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseFAQsix" aria-expanded="true" aria-controls="collapseFAQsix">
                                                               <p>Does the course include Projects or Live examples ?  
                                                        </button>
                                                      </h5>
                                                    </div>
                                                
                                                    <div id="collapseFAQsix" class="collapse show" aria-labelledby="headingFAQsix" data-parent="#accordion">
                                                      <div class="card-body">
                                                            Yes all our micro learning session are equipped with live examples,though in micro session full fledge project is not possible.
                                                            But if candidate opts for Full course he will be working on a live project end to end as course is designed such a way that end of each session is covering a portion of the project through  exercise and assignments. By the time course finishes candidate have a working industry project.  
                                                               
                                                              
                                                      </div>
                                                    </div>
                                                  </div>
                                            <div class="card">
                                              <div class="card-header" id="headingFAQOne">
                                                <h5 class="mb-0">
                                                  <button class="btn btn-link" data-toggle="collapse" data-target="#collapseFAQOne" aria-expanded="true" aria-controls="collapseFAQOne">
                                                        How the concept of Micro Learning Works?
                                                  </button>
                                                </h5>
                                              </div>
                                          
                                              <div id="collapseFAQOne" class="collapse show" aria-labelledby="headingFAQOne" data-parent="#accordion">
                                                <div class="card-body">
                                                        Based on the topic complexity and duration cost of each topic will be decided.
                                                        Each session will consist of in depth theory/concept building as well as the Practical scenario along with that candidate will be provided with a real world example and assignment to make sure you have in depth understanding of the topic.
                                                        Along with that candidate can check his skills with a test which they need to pass to make sure they are comfortable with the topic.   
                                                        
                                                </div>
                                              </div>
                                            </div>
                                            <div class="card">
                                              <div class="card-header" id="headingFAQTwo">
                                                <h5 class="mb-0">
                                                  <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFAQTwo" aria-expanded="false" aria-controls="collapseFAQTwo">
                                                        Does mLearn provides the Placement opportunity?
                                                  </button>
                                                </h5>
                                              </div>
                                              <div id="collapseFAQTwo" class="collapse" aria-labelledby="headingFAQTwo" data-parent="#accordion">
                                                <div class="card-body">
                                                        Yes we have a fully functional placement cell whose responsibility is collaborate with the corporate and provide our candidate with the ample job opportunities. Each of our student are eligible for all opportunities.
                                                </div>
                                              </div>
                                            </div>
                                            <div class="card">
                                              <div class="card-header" id="headingFAQThree">
                                                <h5 class="mb-0">
                                                  <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFAQThree" aria-expanded="false" aria-controls="collapseFAQThree">
                                                        What If I am not clear with the Topic or missed classes?
                                                  </button>
                                                </h5>
                                              </div>
                                              <div id="collapseFAQThree" class="collapse" aria-labelledby="headingFAQThree" data-parent="#accordion">
                                                <div class="card-body">
                                                        Candidates always have an option to join classes as many times as they want whenever the next class is scheduled for that particular topic by the Trainer.
                                                </div>
                                              </div>
                                            </div>
                                            <div class="card">
                                                    <div class="card-header" id="headingFAQFour">
                                                      <h5 class="mb-0">
                                                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFAQFour" aria-expanded="false" aria-controls="collapseFAQFour">
                                                                How I will notify for next Class in case I want to revisit the Topic?
                                                        </button>
                                                      </h5>
                                                    </div>
                                                    <div id="collapseFAQFour" class="collapse" aria-labelledby="headingFAQFour" data-parent="#accordion">
                                                      <div class="card-body">
                                                            Candidate just needs to register for that from the dashboard by clicking on the re visit button and he/she will be notified for the next scheduled class for that particular topic. 
                                                      </div>
                                                    </div>
                                                  </div>
                                                  <div class="card">
                                                        <div class="card-header" id="headingFAQFive">
                                                          <h5 class="mb-0">
                                                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFAQFive" aria-expanded="false" aria-controls="collapseFAQFive">
                                                                    How will I make sure the quality of the Trainers?
                                                            </button>
                                                          </h5>
                                                        </div>
                                                        <div id="collapseFAQFive" class="collapse" aria-labelledby="headingFAQFive" data-parent="#accordion">
                                                          <div class="card-body">
                                                                All of our trainers have to go through a strict quality test which includes interview by experts as well as the multiple rounds of test to make sure our students get the best in class training.
    One can also check the feedback and reviews of the Trainers from the other candidates.
    Also micro learning based candidate get a chance to discuss with trainers before signing up. Bundled course have the provision of Demo classes also.
    
                                                          </div>
                                                        </div>
                                                      </div>

                                                      <div class="card">
                                                            <div class="card-header" id="headingFAQseven">
                                                              <h5 class="mb-0">
                                                                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseFAQseven" aria-expanded="true" aria-controls="collapseFAQseven">
                                                                       <p>Why the sum of duration for micro session 
                                                                           <br> is different than Bundled package  ?  
                                                                </button>
                                                              </h5>
                                                            </div>
                                                        
                                                            <div id="collapseFAQseven" class="collapse show" aria-labelledby="headingFAQseven" data-parent="#accordion">
                                                              <div class="card-body">
                                                                    For full courses easier for trainers to maintain the flow so it takes less time to finish the course where as in micro sessions it require more effort from the trainer to maintain the flow as well as some time trainer need to validate the candidate understanding as well as fill some gaps which is a time consuming process. 
                                                                       
                                                                      
                                                              </div>
                                                            </div>
                                                          </div>
                                          </div>
                            </div>
                        </div>