<div class="content" *ngIf="dashboardData != undefined">
  <div class="row">
    <div class="col-md-12">
      <div class="card ">
        <div class="card-header ">
          <h5 class="card-title">Points to Remember</h5>

        </div>
        <div class="card-body ">
          <div class="content" style="margin-top:0px">
            <div class="row">
              <div class="col-md-12">
                <div style="color:red">
                  <ul>
                    <li *ngFor="let item of points">
                      {{item}}
                    </li>
                    <!-- <li>Dummy Point 1 to remember</li>
                    <li>Dummy Point 2 to remember</li>
                    <li>Dummy Point 3 to remember</li>
                    <li>Dummy Point 4 to remember</li> -->
                  </ul>
                </div>
              </div>

            </div>
          </div>
        </div>
        <div class="card-footer " style="display:none">
          <hr>
          <div class="stats">
            <i class="fa fa-history"></i> <a href="tables.html">View All</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="card card-stats">
        <div class="card-body ">
          <div class="row">
            <div class="col-5 col-md-4">
              <div class="icon-big text-center icon-warning">
                <i class="nc-icon nc-cart-simple text-warning"></i>
              </div>
            </div>
            <div class="col-7 col-md-8">
              <div class="numbers">
                <p class="card-category">Total Orders</p>
                <p class="card-title">{{dashboardData.totalOrders}}
                  <p>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer ">
          <hr>
          <div class="stats">
            <i class="fa fa-history"></i> <a routerLink="/printers/allorders">View All</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="card card-stats">
        <div class="card-body ">
          <div class="row">
            <div class="col-5 col-md-4">
              <div class="icon-big text-center icon-warning">
                <i class="nc-icon nc-money-coins text-success"></i>
              </div>
            </div>
            <div class="col-7 col-md-8">
              <div class="numbers">
                <p class="card-category">Active Orders</p>
                <p class="card-title">{{dashboardData.activeOrders}}
                  <p>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer ">
          <hr>
          <div class="stats">
            <i class="fa fa-history"></i> <a routerLink="/printers/activeorders">View All</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="card card-stats">
        <div class="card-body ">
          <div class="row">
            <div class="col-5 col-md-4">
              <div class="icon-big text-center icon-warning">
                <i class="nc-icon nc-check-2 text-success"></i>
              </div>
            </div>
            <div class="col-7 col-md-8">
              <div class="numbers">
                <p class="card-category">Accept New Order</p>
                <p class="card-title">{{dashboardData.activeNotifcations}}
                  <p>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer ">
          <hr>
          <div class="stats">
            <i class="fa fa-history"></i> <a routerLink="/printers/notifications">View All</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="card card-stats">
        <div class="card-body ">
          <div class="row">
            <div class="col-5 col-md-3">
              <div class="icon-big text-center icon-warning">
                <i class="nc-icon nc-watch-time text-primary"></i>
              </div>
            </div>
            <div class="col-7 col-md-9">
              <div class="numbers">
                <p class="card-category"> Total Payment Received</p>
                <p class="card-title">{{dashboardData.totalPaymentRecieved}}
                  <p>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer ">
          <hr>
          <div class="stats">
            <i class="fa fa-history"></i> <a href="tables.html">View All</a>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="row" style="display:none">
    <div class="col-md-12">
      <div class="card ">
        <div class="card-header ">
          <h5 class="card-title">Transaction List</h5>
          <!-- <p class="card-category">24 Hours performance</p> -->
        </div>
        <div class="card-body ">
          <div class="content" style="margin-top:0px">
            <div class="row">
              <div class="col-md-12">
                <div class="card">
                  <!-- <div class="card-header">
                    <h4 class="card-title"> Simple Table</h4>
                  </div> -->
                  <div class="card-body">
                    <div class="table-responsive">
                      <table class="table">
                        <thead class=" text-primary">
                          <th>
                            Id
                          </th>
                          <th>
                            CourseName
                          </th>
                          <th>
                            Amount
                          </th>
                          <th>
                            Status
                          </th>
                          <th class="text-right">
                            Date
                          </th>
                        </thead>
                        <tbody>
                          <tr>
                            <td>
                              1
                            </td>
                            <td>
                              Node-Module1
                            </td>
                            <td>
                              2500
                            </td>
                            <td>
                              Completed
                            </td>
                            <td class="text-right">
                              29-05-2020
                            </td>
                          </tr>
                          <tr>
                            <td>
                              1
                            </td>
                            <td>
                              Node-Module1
                            </td>
                            <td>
                              2500
                            </td>
                            <td>
                              Completed
                            </td>
                            <td class="text-right">
                              29-05-2020
                            </td>
                          </tr>
                          <tr>
                            <td>
                              1
                            </td>
                            <td>
                              Node-Module1
                            </td>
                            <td>
                              2500
                            </td>
                            <td>
                              Completed
                            </td>
                            <td class="text-right">
                              29-05-2020
                            </td>
                          </tr>
                          <tr>
                            <td>
                              1
                            </td>
                            <td>
                              Node-Module1
                            </td>
                            <td>
                              2500
                            </td>
                            <td>
                              Completed
                            </td>
                            <td class="text-right">
                              29-05-2020
                            </td>
                          </tr>
                          <tr>
                            <td>
                              1
                            </td>
                            <td>
                              Node-Module1
                            </td>
                            <td>
                              2500
                            </td>
                            <td>
                              Completed
                            </td>
                            <td class="text-right">
                              29-05-2020
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
        <div class="card-footer ">
          <hr>
          <div class="stats">
            <i class="fa fa-history"></i> <a href="tables.html">View All</a>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">
  <p style="color: white">Please Wait.</p>
</ngx-spinner>