<form class="form-horizontal" id="recoverform" [formGroup]="loginForm">
  <div class="form-group " style="text-align: center;">
    <h3>Recover Password</h3>
    <p class="text-muted" style="text-align: center;">
      Enter your Email and instructions will be sent to you!
    </p>
  </div>
  <div class="form-group" style="margin-left: 20px;">
    <label for="username" class="label text-uppercase">Enter Email Id</label>
    <input
      class="form-control"
      type="text"
      formControlName="email"
      required
      placeholder="Email Id"
      style="width: 60%;"
    />
    <span
      class="errorMessage"
      *ngIf="
        (loginForm.controls['email'].dirty ||
          loginForm.controls['email'].touched) &&
        loginForm.controls['email'].invalid &&
        loginForm.controls['email'].errors.required
      "
    >
      *Email is required.
    </span>
    <span
      class="errorMessage"
      *ngIf="
        (loginForm.controls['email'].dirty ||
          loginForm.controls['email'].touched) &&
        loginForm.controls['email'].invalid &&
        loginForm.controls['email'].errors.invalidPattern
      "
    >
      *Email is incorrect.
    </span>
  </div>
  <div class="form-group text-center mt-4">
    <div>{{ message }}</div>
    <div class="btn-group" role="group" aria-label="Basic example">
      <button
        class="btn btn-info btn-lg  text-uppercase "
        [disabled]="!loginForm.valid"
        type="button"
        (click)="resetPassword()"
      >
        Reset
      </button>
      <button
        class="btn btn-outline-info btn-lg  text-uppercase "
        id="login-back"
        (click)="activeModal.dismiss('Cross click')"
        type="submit"
      >
        Back
      </button>
    </div>
  </div>
</form>
<ngx-spinner
  bdColor="rgba(51, 51, 51, 0.8)"
  size="default"
  type="ball-spin-clockwise"
>
  <p style="color: white">Please Wait.</p>
</ngx-spinner>
