<header class="animated fadeInDown">
    <nav class="navbar navbar-expand-lg navbar-light bg-light " style="background-color: white !important;">
        <!-- <a class="navbar-brand" href="#">Navbar</a> -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdownTop"
            aria-controls="navbarNavDropdownTop" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon" style="height: 30px;background: lightgrey;"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdownTop">
            <ul class="navbar-nav">
                <li class="nav-item active borderNav">
                    <a class="nav-link" href="#"><img _ngcontent-bjd-c124="" src="../../../assets/img/logonew.svg"
                            alt="" style="height: 40px;"></a>
                </li>

                <li class="nav-item borderNav topsearchhide" style="padding-top: 5px;" id="searchBarButton">
                    <input type="text" class="searchBtn" />
                    <button class="btn btn-primary">Design/Print</button>
                </li>
                <li class="nav-item borderNav">
                    <a class="nav-link" href="#">Home</a>
                </li>
                <li class="nav-item active borderNav">
                    <div class="vLine"></div>
                </li>
                <li class="nav-item borderNav">
                    <a class="nav-link" href="#">About Us</a>
                </li>
                <li class="nav-item active borderNav">
                    <div class="vLine"></div>
                </li>
                <li class="nav-item borderNav">
                    <a class="nav-link" href="#">Become a Service Provider</a>
                </li>
                <li class="nav-item active borderNav">
                    <div class="vLine"></div>
                </li>
                <li class="nav-item dropdown borderNav">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Sign In
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <div class="menuItemDD">
                            <a class="dropdown-item" href="#">Customer</a>
                        </div>

                        <div class="menuItemDD">
                            <a class="dropdown-item" href="#">Vendor</a>
                        </div>



                    </div>
                </li>
                <li class="nav-item active borderNav">
                    <div class="vLine"></div>
                </li>

                <li class="nav-item">
                    <button class="btn btn-primary">Create an Account</button>
                </li>


                <!-- 9415191978 -->

            </ul>
        </div>
    </nav>
</header>