<header class="animated fadeInDown">
    <nav class="navbar navbar-expand-lg navbar-light bg-light " style="background-color: white !important;">
        <!-- <a class="navbar-brand" href="#">Navbar</a> -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item active borderNav">
                    <a class="nav-link" href="#"><img _ngcontent-bjd-c124="" src="../../../assets/img/logonew.svg"
                            alt="" style="height: 40px;"></a>
                </li>
                <li class="nav-item borderNav topsearchhide" style="padding-top: 20px;" id="searchBarButton">
                    <input type="text" class="searchBtn" />
                    <button class="btn btn-primary">Design/Print</button>
                </li>
                <li class="nav-item active borderNav">
                    <div class="vLine"></div>
                </li>
                <li class="nav-item borderNav">
                    <a class="nav-link" href="#">Brochure</a>
                </li>
                <li class="nav-item active borderNav">
                    <div class="vLine"></div>
                </li>
                <li class="nav-item borderNav">
                    <a class="nav-link" href="#">Business Card</a>
                </li>
                <li class="nav-item active borderNav">
                    <div class="vLine"></div>
                </li>
                <li class="nav-item borderNav">
                    <a class="nav-link" href="#">Social Media Banner</a>
                </li>
                <li class="nav-item active borderNav">
                    <div class="vLine"></div>
                </li>
                <li class="nav-item borderNav">
                    <a class="nav-link" href="#">LOGO</a>
                </li>
                <li class="nav-item active borderNav">
                    <div class="vLine"></div>
                </li>
                <li class="nav-item borderNav">
                    <a class="nav-link" href="#">STATIONARIES</a>
                </li>
                <li class="nav-item active borderNav">
                    <div class="vLine"></div>
                </li>

                <!-- 9415191978 -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        AllProducts
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <div class="menuItemDD">
                            <a class="dropdown-item" href="#">Action</a>
                        </div>

                        <div class="menuItemDD">
                            <a class="dropdown-item" href="#">Digital</a>
                        </div>

                        <div class="menuItemDD">
                            <a class="dropdown-item" href="#">Social Media</a>
                        </div>
                        <div class="menuItemDD">
                            <a class="dropdown-item" href="#">LOGO</a>
                        </div>
                        <div class="menuItemDD">
                            <a class="dropdown-item" href="#">Demo</a>
                        </div>
                        <div class="menuItemDD">
                            <a class="dropdown-item" href="#">Demo</a>
                        </div>
                        <div class="menuItemDD">
                            <a class="dropdown-item" href="#">Demo</a>
                        </div>
                        <div class="menuItemDD">
                            <a class="dropdown-item" href="#">Demo</a>
                        </div>
                        <div class="menuItemDD">
                            <a class="dropdown-item" href="#">Demo</a>
                        </div>
                        <div class="menuItemDD">
                            <a class="dropdown-item" href="#">Demo</a>
                        </div>
                        <div class="menuItemDD">
                            <a class="dropdown-item" href="#">Demo</a>
                        </div>

                    </div>
                </li>
            </ul>
        </div>
    </nav>
</header>