
 .vis-mob{ display: none;}
 .hide-mob{display: block;}
.navbar a:not(.btn):not(.dropdown-item) {
  color: lightgrey;
}
.container{
  max-width: 1300px;
}
.nav-link,.navbar {
  padding: .5rem 0;
}
.searchBtn {
  border-radius: 5px;
  border: 1px solid lightblue;
}
.borderNav {
  padding-top: 10px;
}
.topsearchhide {
  /* visibility: hidden; */
  display: none;
}
.vLine {
  border-right: 2px solid lightblue;
  height: 3px;
  margin-top: 15px;
  height: 13px;
  margin-left: 10px;
  margin-right: 10px;
}
.navbar .navbar-collapse .nav-item a {
  color: black !important;
  font-weight: 200;
  font-family: 'Maven Pro', sans-serif;
  font-size: 13px;
  font-weight: 500;
}
.navbar {
  position: initial !important;
}
.dropdown.show .dropdown-menu,
.dropup.show .dropdown-menu,
.bootstrap-select.show .dropdown-menu {
  /* position: static; */
  margin-bottom: 10px;
}
.dropdown-menu {
  min-width: 5rem !important;
}
.drop-sub{
  display: -webkit-box;
   margin-left: -465px;
   margin-top: -10px;
}
@media only screen and (max-width: 768px){
  .navbar .navbar-nav .nav-item:not(:last-child){
    padding-top: 0;
    margin-bottom: 0px;
  }
  .navbar-nav .dropdown-menu:after{
    right: inherit;
    top: 33px;
    left: 22px;
  }
  .navbar-nav{
  background: rgb(27, 117, 179);
  }
  .nav-item.active.borderNav{
    display: none;
  }
  .dropdown-menu-sun-one{
    margin-left: 0 !important;
    margin-top: 0 !important;
    
  }
  .vis-mob{ display: block;}
  .vis-mob .btn-primary {
    font-size: 10px;
    padding: 10px;
}
#searchBarButton{
  margin-left: 10px;
}
  .hide-mob{display: none;}
  .drop-sub{
    margin-left: 5px ;
    margin-top: -10px ;
    flex-direction: column;
    display: flex ;
  }
  .navbar-nav .dropdown-menu.drop-sub:after {
    left: 24px;
    top: 53px;
    right: inherit;
}
}
@media only screen and (max-width: 420px){
.logo-nav{
  margin-left: -90px;
}
}
@media only screen and (max-width: 380px){
.logo-nav{
  margin-left: -50px;
}
}
@media only screen and (max-width: 320px){
.logo-nav{
  margin-left: 0px;
}
}