<div class="modal-header">
  <h4 class="modal-title">Terms and Conditons</h4>
  <button
    type="button"
    class="close"
    aria-label="Close"
    (click)="activeModal.close('Close click')"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <p>
    1. Registration and Verification:
  </p>
  <p>
    a. Non-refundable amount shall be charged as a
    registration/verification/convenience fees from the prospective Printers
    whosoever be interested to appropriate the services/facilities of
    shapeNprint.
  </p>
  <p>
    b. The Printer shall be required to disclose his personal and professional
    details alongwith relevant proofs to that effect which may include the GST
    Certificate No. or the CIN for its respective business enterprises.
  </p>
  <p>
    c. The submission of registration form doesn’t imply completion of
    registration process until thoroughly verified by ShapeNprint
  </p>
  <p>
    d. Printer shall be required to undergo a verification process for the
    activation of the dashboard which will require him to upload the relevant
    certificates such as Aadhar number, PAN number, GST number, etc. for proving
    the existence of its enterprise.
  </p>
  <p>
    e. Apart from the said procedure, a verification call shall be made to
    verify and inspect the details as provided by the Printer and only after
    concluding the said verification the shapeNprint will confirm the
    registration of the Printer on its platform.
  </p>
  <p>
    f. shapeNPrint shall have the exclusive Right to Reject and Cancel if the
    prospective Printer fails to qualify the verification process as prescribed.
  </p>
  <p>
    2. Circulation Floating of the Orders placed by the Users/Customers:
  </p>
  <p>
    a. Any order which will be placed by the user shall be circulated/floated
    amongst the Printers who have been successfully registered by complying with
    procedures as explained in Clause 1 of this agreement. The algorithm of the
    Registered Printers will be emerged automatically on the platform, wherein
    the Printers will receive the notifications of the orders as placed.
    Accordingly, the Printers can view the summary of the order, amount to
    receive, and time slot as selected by the user.
  </p>
  <p>
    b. It is to confirm that the shapeNprint and the Printers shall have no
    liability in the event of placing of any order of the design or content by
    the User which is illegal/unlawful or the content which is not permissible
    by the land of law to be propagated, circulated, displayed or distributed
  </p>
  <p>
    3. Acceptance of Order
  </p>
  <p>
    Order will be assigned only to the printer who first accepts the order.
  </p>
  <p>
    a. Printer shall be required to immediately report the User/Company of any
    illegal/inappropriate content received to him and should not proceed further
    for printing.
  </p>
  <p>
    4. Delivery Time:
  </p>
  <p>
    Printer shall be required to complete the assigned work within the estimated
    delivery time as agreed/mentioned alongwith the specifications of the order
    for which he has qualified. shapeNprint shall have the right to cancel the
    order, if the order is not processed for delivery within the specified time
    as prescribed with the order.
  </p>
  <p>
    5. Managing The Delivery :
  </p>
  <p>
    Procedurally the Printer shall be required to click delivery button on the
    interface as provided by the shapeNprint portal through which he shall be
    handing over the package to dunzo(delivery partner).
  </p>
  <p>
    a. The Printer shall assure that the ordered material has been properly
    packed before handing over the delivery to Dunzo.
  </p>
  <p>
    b. The Printer before making the delivery, shall be at the liberty to verify
    the availability of the User or its representative at the site of the
    delivery for avoiding any inconvenience on the location.
  </p>
  <p>
    c. Only one time delivery charges shall be paid to printers.
  </p>
  <p>
    6. User satisfaction (paper quality, print quality, number of quantity):
  </p>
  <p>
    Printer shall strictly follow all the specification as ordered by the User
    for the printing purpose.
  </p>
  <p>
    a. In the event of User not being satisfied with the printing quality, paper
    quality or quantity, the User after verifying the goods at the time of
    delivery shall be at the liberty to return the goods if the same are not in
    compliance with the specification as given by him at the time of placing the
    order. In furtherance, the User/Printer will ask the Dunzo Representative
    for returning the package.
  </p>
  <p>
    b. Furthermore, the Printer after rectifying the issues as reported by the
    User shall be required to deliver the goods again by using the services of
    Dunzo and the expenses for the particular delivery shall be deducted from
    the final payment of the Printer.
  </p>
  <p>
    7. Payment:
  </p>
  <p>
    a. Once the order is satisfactorily delivered to the user, the agreed amount
    will be transferred to the printer’s account within seven business days
    after the GST invoice has been uploaded or emailed to the
    website/company/shapeNprint.
  </p>
  <p>
    b. If the user pays the dunzo amount for return in case of point 6b, the
    same amount will be deducted from the printer’s amount to be paid.
  </p>
  <p>
    8. The Printer is required to connect with the User/Support immediately if
    the uploaded file for which the order has been placed is not appropriate for
    printing or of wrong size or nomenclature.
  </p>
  <p>
    9. GST Invoice: Printer shall be required to upload or email the GST Invoice
    copy of the entire payment for the printing work in favor of RJB
    International (29AICPA1550H1ZP)
  </p>
  <p>
    10. Packaging Cost of 1% of job amount or Rs. 100 whichever is lower shall
    be paid to the Printer as packaging charges.
  </p>
</div>
<div class="modal-footer">
  <button
    type="button"
    class="btn btn-light"
    (click)="activeModal.dismiss('Cross click')"
  >
    Close
  </button>
</div>
