<div class="modal-header">
  <h4 class="modal-title">Terms and Conditons</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.close('Close click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <OL>
    <LI>
      <P LANG="en-US" STYLE="margin-top: 0.17in; margin-bottom: 0in; line-height: 115%">
        <FONT FACE="Arial, serif">
          <FONT FACE="Maven Pro Black, serif">Registration
            and Verification:</FONT>
        </FONT>
      </P>
      <OL TYPE=a>
        <LI>
          <P LANG="en-US" ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 115%">
            <FONT FACE="Arial, serif">
              <FONT FACE="Maven Pro, serif">Non-refundable
                amount shall be charged as a registration/verification/convenience
                fees from the prospective Printers whosoever be interested to
                appropriate the services/facilities of shapeNprint.</FONT>
            </FONT>
          </P>
        <LI>
          <P LANG="en-US" ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 115%">
            <FONT FACE="Arial, serif">
              <FONT FACE="Maven Pro, serif">The Printer
                shall be required to disclose his personal and professional details
                alongwith relevant proofs to that effect which may include the GST
                Certificate No. or the CIN for its respective business enterprises.</FONT>
            </FONT>
          </P>
        <LI>
          <P LANG="en-US" ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 115%">
            <FONT FACE="Arial, serif">
              <FONT FACE="Maven Pro, serif">The
                submission of registration form doesn’t imply completion of
                registration process until thoroughly verified by shapeNprint </FONT>
            </FONT>
          </P>
        <LI>
          <P LANG="en-US" ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 115%">
            <FONT FACE="Arial, serif">
              <FONT FACE="Maven Pro, serif">Printer
                shall be required to undergo a verification process for the
                activation of the dashboard which will require him to upload the
                relevant certificates such as Aadhar number, PAN number, GST
                number, etc. for proving the existence of its enterprise.</FONT>
            </FONT>
          </P>
        <LI>
          <P LANG="en-US" ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 115%">
            <FONT FACE="Arial, serif">
              <FONT FACE="Maven Pro, serif">Apart from
                the said procedure, a verification call shall be made to verify and
                inspect the details as provided by the Printer and only after
                concluding the said verification the shapeNprint will confirm the
                registration of the Printer on its platform. </FONT>
            </FONT>
          </P>
        <LI>
          <P LANG="en-US" ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 115%">
            <FONT FACE="Arial, serif">
              <FONT FACE="Maven Pro, serif">shapeNprint
                shall have the exclusive Right to Reject and Cancel if the
                prospective Printer fails to qualify the verification process as
                prescribed.</FONT>
            </FONT>
          </P>
      </OL>
  </OL>
  <P LANG="en-US" ALIGN=JUSTIFY STYLE="margin-left: 1in; margin-bottom: 0in; line-height: 115%">
    <BR>
  </P>
  <OL START=2>
    <LI>
      <P LANG="en-US" ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 115%">
        <FONT FACE="Arial, serif">
          <FONT FACE="Maven Pro Black, serif">Circulation
            Floating of the Orders placed by the Users/Customers:</FONT>
        </FONT>
      </P>
      <OL TYPE=a>
        <LI>
          <P LANG="en-US" ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 115%">
            <FONT FACE="Arial, serif">
              <FONT FACE="Maven Pro, serif">Any order
                which will be placed by the user shall be circulated/floated
                amongst the Printers who have been successfully registered by
                complying with procedures as explained in Clause 1 of this
                agreement. The algorithm of the Registered Printers will be emerged
                automatically on the platform, wherein the Printers will receive
                the notifications of the orders as placed. Accordingly, the
                Printers can view the summary of the order, amount to receive, and
                time slot as selected by the user.</FONT>
            </FONT>
          </P>
        <LI>
          <P LANG="en-US" ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 115%">
            <FONT FACE="Arial, serif">
              <FONT FACE="Maven Pro, serif">It is to
                confirm that the shapeNprint and the Printers shall have no
                liability in the event of placing of any order of the design or
                content by the User which is illegal/unlawful or the content which
                is not permissible by the land of law to be propagated, circulated,
                displayed or distributed</FONT>
            </FONT>
          </P>
      </OL>
  </OL>
  <P LANG="en-US" ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 115%">
    <BR>
  </P>
  <OL START=3>
    <LI>
      <P LANG="en-US" ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 115%">
        <FONT FACE="Arial, serif">
          <FONT FACE="Maven Pro Black, serif">Acceptance
            of Order:</FONT>
          <FONT FACE="Maven Pro, serif"><B> </B></FONT>
          <FONT FACE="Maven Pro, serif">Order
            will be assigned only to the printer who first accepts the order.</FONT>
        </FONT>
      </P>
  </OL>
  <OL>
    <OL TYPE=a>
      <LI>
        <P LANG="en-US" ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 115%">
          <FONT FACE="Arial, serif">
            <FONT FACE="Maven Pro, serif">Printer
              shall be required to immediately report the User/Company of any
              illegal/inappropriate content received to him and should not
              proceed further for printing. </FONT>
          </FONT>
        </P>
    </OL>
  </OL>
  <P LANG="en-US" ALIGN=JUSTIFY STYLE="margin-left: 1in; margin-bottom: 0in; line-height: 115%">
    <BR>
  </P>
  <OL START=3>
    <LI>
      <P LANG="en-US" ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 115%">
        <FONT FACE="Arial, serif">
          <FONT FACE="Maven Pro Black, serif">Delivery
            Time:</FONT>
          <FONT FACE="Maven Pro, serif"><B> </B></FONT>
          <FONT FACE="Maven Pro, serif">Printer
            shall be required to complete the assigned work within the estimated
            delivery time as agreed/mentioned alongwith the specifications of
            the order for which he has qualified. shapeNprint shall have the
            right to cancel the order, if the order is not processed for
            delivery within the specified time as prescribed with the order.</FONT>
        </FONT>
      </P>
  </OL>
  <P LANG="en-US" ALIGN=JUSTIFY STYLE="margin-left: 0.5in; margin-bottom: 0in; line-height: 115%">
    <BR>
  </P>
  <OL START=3>
    <LI>
      <P LANG="en-US" ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 115%">
        <FONT FACE="Arial, serif">
          <FONT FACE="Maven Pro Black, serif">Managing
            the Delivery:</FONT>
          <FONT FACE="Maven Pro, serif"><B> </B></FONT>
          <FONT FACE="Maven Pro, serif">Procedurally
            the Printer shall be required to click delivery button on the
            interface as provided by the shapeNprint portal through which he
            shall be handing over the package to Dunzo(delivery partner).</FONT>
        </FONT>
      </P>
      <OL TYPE=a>
        <LI>
          <P LANG="en-US" ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 115%">
            <FONT FACE="Arial, serif">
              <FONT FACE="Maven Pro, serif">The Printer
                shall assure that the ordered material has been properly packed
                before handing over the delivery to Dunzo.</FONT>
            </FONT>
          </P>
        <LI>
          <P LANG="en-US" ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 115%">
            <FONT FACE="Arial, serif">
              <FONT FACE="Maven Pro, serif">The Printer
                before making the delivery, shall be at the liberty to verify the
                availability of the User or its representative at the site of the
                delivery for avoiding any inconvenience on the location.</FONT>
            </FONT>
          </P>
        <LI>
          <P LANG="en-US" ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 115%">
            <FONT FACE="Arial, serif">
              <FONT FACE="Maven Pro, serif">Only
                one-time delivery charges shall be paid to printers.</FONT>
            </FONT>
          </P>
      </OL>
  </OL>
  <P LANG="en-US" ALIGN=JUSTIFY STYLE="margin-left: 1in; margin-bottom: 0in; line-height: 115%">
    <BR>
  </P>
  <OL START=3>
    <LI>
      <P LANG="en-US" ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 115%">
        <FONT FACE="Arial, serif">
          <FONT FACE="Maven Pro Black, serif">User
            satisfaction (paper quality, print quality, number of quantity):</FONT>
          <FONT FACE="Maven Pro, serif"><B>
            </B></FONT>
          <FONT FACE="Maven Pro, serif">Printer shall strictly
            follow all the specification as ordered by the User for the printing
            purpose.</FONT>
        </FONT>
      </P>
      <OL TYPE=a>
        <LI>
          <P LANG="en-US" ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 115%">
            <FONT FACE="Arial, serif">
              <FONT FACE="Maven Pro, serif">In the
                event of User not being satisfied with the printing quality, paper
                quality or quantity, the User after verifying the goods at the time
                of delivery shall be at the liberty to return the goods if the same
                are not in compliance with the specification as given by him at the
                time of placing the order. In furtherance, the User/Printer will
                ask the Dunzo Representative for returning the package.</FONT>
            </FONT>
          </P>
        <LI>
          <P LANG="en-US" ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 115%">
            <FONT FACE="Arial, serif">
              <FONT FACE="Maven Pro, serif">Furthermore,
                the Printer after rectifying the issues as reported by the User
                shall be required to deliver the goods again by using the services
                of Dunzo and the expenses for the particular delivery shall be
                deducted from the final payment of the Printer.</FONT>
            </FONT>
          </P>
      </OL>
  </OL>
  <P LANG="en-US" ALIGN=JUSTIFY STYLE="margin-left: 1in; margin-bottom: 0in; line-height: 115%">
    <BR>
  </P>
  <OL START=3>
    <LI>
      <P LANG="en-US" ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 115%">
        <FONT FACE="Arial, serif">
          <FONT FACE="Maven Pro Black, serif">Payment:</FONT>
        </FONT>
      </P>
      <OL TYPE=a>
        <LI>
          <P LANG="en-US" ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 115%">
            <FONT FACE="Arial, serif">
              <FONT FACE="Maven Pro, serif">Once the
                order is satisfactorily delivered to the user, the agreed amount
                will be transferred to the printer’s account within seven
                business days after the GST invoice has been uploaded or emailed to
                the website/company/shapeNprint.</FONT>
            </FONT>
          </P>
        <LI>
          <P LANG="en-US" ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 115%">
            <FONT FACE="Arial, serif">
              <FONT FACE="Maven Pro, serif">If the user
                pays the dunzo amount for return in case of point 6b, the same
                amount will be deducted from the printer’s amount to be paid.</FONT>
            </FONT>
          </P>
      </OL>
  </OL>
  <P LANG="en-US" ALIGN=JUSTIFY STYLE="margin-left: 1in; margin-bottom: 0in; line-height: 115%">
    <BR>
  </P>
  <OL START=3>
    <LI>
      <P LANG="en-US" ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 115%">
        <FONT FACE="Arial, serif">
          <FONT FACE="Maven Pro, serif">The Printer
            is required to connect with the User/Support immediately if the
            uploaded file for which the order has been placed is not appropriate
            for printing or of wrong size or nomenclature.</FONT>
        </FONT>
      </P>
    <LI>
      <P LANG="en-US" ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 115%">
        <FONT FACE="Arial, serif">
          <FONT FACE="Maven Pro, serif">GST Invoice:
            Printer shall be required to upload or email the GST Invoice copy of
            the entire payment (order amount mentioned in notification) for the
            printing work in favor of RJB International (29AICPA1550H1ZP)</FONT>
        </FONT>
      </P>
    <LI>
      <P LANG="en-US" ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 115%">
        <FONT FACE="Arial, serif">
          <FONT FACE="Maven Pro, serif">Packaging
            Cost of 1% of job amount or Rs. 100 whichever is lower shall be paid
            to the Printer as packaging charges which will be included in the
            amount mentioned in the order notification.</FONT>
        </FONT>
      </P>
  </OL>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-light" (click)="activeModal.dismiss('Cross click')">
    Close
  </button>
</div>