<div class="app">
  <div class="registerTitle">Sign Up</div>
  <div class="app-body">
    <div class="app-login">
      <div class="login-box login-sidebar">
        <div class="white-box ">
          <!-- Nav pills -->

          <ul class="nav nav-pills singup-nav">
            <li class="nav-item w-50 nav-left">
              <a class="nav-link active" data-toggle="pill" href="#home">
                <span class="icon"></span>I’m a<br />
                DESIGNER</a
              >
            </li>
            <li class="nav-item w-50 nav-right">
              <a class="nav-link" data-toggle="pill" href="#menu1">
                <span class="icon"></span>
                I’m a<br />
                PRINTER</a
              >
            </li>
          </ul>

          <!-- Tab panes -->
          <div class="tab-content">
            <div class="tab-pane container active" id="home">
              <app-designersignup></app-designersignup>
            </div>
            <div class="tab-pane container fade" id="menu1">
              <app-printersignup></app-printersignup>
            </div>
          </div>

          <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>

    <!--
        <div class=" footer  clearfix">
            <div class="content">
                Copyright © 2018 - mSupply.in

            </div>

        </div>-->
  </div>
  <div class="clearfix"></div>
</div>
