@media (min-width: 768px) {
  .container {
    width: 100%;
    display: flex;
    flex-wrap: unset;
    /* max-width: 1300px !important; */
  }

  .dcol-3 {
    flex-wrap: nowrap;
    width: 30%;
  }
  .dcol-2 {
    flex-wrap: nowrap;
    width: 40%;
  }
  .searchBtnStyle {
    border-radius: 10px;
    /* border-color: lightblue; */
    border: 1px solid lightblue;
    padding: 0 5px;
  }
  .txtFreelance {
    font-weight: bold;
    font-family: "Maven Pro";
    font-size: 44px;
    margin-top: 15px;
  }
  .txtMainHeading {
    font-family: 'Maven Pro', sans-serif;
    font-size: 24px;
    font-weight: 900;
  }
  .btn-primary {
    background-color: #51cbce;
    color: #ffffff;
  }
  .txtSearchBar {
    font-family: 'Maven Pro', sans-serif;
    font-size: 15px;
  }
  .alingdiv {
    padding-top: 100px;
  }
  .imgEditpenposition {
    padding-top: 30px;
  }
  .imgEditPenSize {
    width: 20px;
    height: 35px;
  }
  .textStyle {
    font-family: 'Maven Pro', sans-serif;
    font-size: 16px;
    font-weight: 300;
  }
  .positioncontainerRight {
    padding-top: 60px;
    padding-left: 60px;
  }
  .imgEditPrintSize {
    height: 30px;
    padding-top: 5px;
    width: 20px;
  }
}
@media only screen and (max-width: 575px){
  .dcol-2{
    margin-top: 0px;
  }
}
@media (max-width: 768px) {
  .dcol-3 {
   
    width: 50%;
  }
  .dcol-2{
    margin-top: 113px;
  }
  .imgEditPrintSize {
    height: 30px;
    padding-top: 5px;
    width: 20px;
  }
  .txtFreelance {
    font-weight: 900;
    font-family: 'Maven Pro', sans-serif;
    font-size: 44px;
    margin-top: 5px;
    line-height: 45px;
  }
  .btn-primary {
    background-color: #51cbce;
    color: #ffffff;
    font-family: 'Maven Pro', sans-serif;
  }
  .alingdiv {
    /* padding-top: 100px; */
  }
  .searchBtnStyle {
    border-radius: 10px;
    /* border-color: lightblue; */
    border: 1px solid lightblue;
  }
  .imgEditpenposition {
    padding-top: 30px;
  }
  .imgEditPenSize {
    width: 30px;
    height: 30px;
  }
  .textStyle {
    font-family: 'Maven Pro', sans-serif;
    font-size: 12px;
    font-weight: 300;
  }
  .txtMainHeading{
    font-size: 24px;
    font-weight: 900;
  }
  .dcol-2{ text-align: center; margin-top: 40px;}
  .dcol-2 img{ max-width: 90%;}
  .positioncontainerRight{ width: 100%;}
  .mt-mob-0 { margin-top: 0 !important;}
}
