<!-- <img [src]="imgUrl" alt="Snow" /> -->
<div class="container">
    <div class="dcol-3 alingdiv">
        <div class="txtFreelance">FREELANCING
        </div>
        <div class="txtFreelance">
            REDEFINED</div>
        <div style="margin-top: 15px;"><input type="text" placeholder="SEARCH" class="searchBtnStyle searchBtnStyle" />
        </div>
        <div style="margin-top: 15px;"><button class="btn btn-primary txtSearchBar">Design/Print</button></div>
    </div>
    <div class="dcol-2">
        <img src="../../../../assets/HomePageImg/Home Page _ Images/Home Page Main Image1200.png">
    </div>
    <div class="dcol-3 positioncontainerRight">
        <div class="container">
            <div class="imgEditpenposition">
                <img src="../../../../assets/HomePageImg/Home Page _ Images/Verified Designer Pencil1200.png"
                    class="imgEditPenSize">
            </div>
            <div>
                <span class="txtMainHeading">1000+</span>
                <br>
                <span class="textStyle">Verified Freelance</span>
                <br>
                <span class="textStyle">Graphic Designers</span>
            </div>

        </div>
        <div class="container" style="margin-top:30px">
            <div class="imgEditpenposition">
                <img src="../../../../assets/HomePageImg/Home Page _ Images/Verified Print Shop1200.png"
                    class="imgEditPrintSize">
            </div>
            <div>
                <span class="txtMainHeading">100+</span>
                <br>
                <span class="textStyle">Verified Freelance</span>
                <br>
                <span class="textStyle">Digital Printing Shops</span>
            </div>

        </div>
        <div class="container" style="margin-top:30px;margin-left: 20px;">

            <div>
                <span style="text-decoration: line-through red;" class="txtMainHeading"> Find &
                    Hire</span>
                <br>
                <span class="textStyle">Connect with a Freelancer </span>
                <br>
                <span class="textStyle">instantly-no digging </span>

                <span class="textStyle">into 100's of Profile</span>
            </div>

        </div>
    </div>
</div>