<!-- <img [src]="imgUrl" alt="Snow" /> -->
<div class="container">
    <div class="dcol-3 alingdiv">
        <div class="txtFreelance">FREELANCING REDEFINED

        </div>
        <div style="margin-top: 10px;">

            <input type="text" placeholder="SEARCH" class="searchBtnStyle searchBtnStyle" [(ngModel)]="selected"
                [typeahead]="products" [isAnimated]="true" />
            <button class="btn btn-primary txtSearchBar" (click)="NavigateToOrder()">Design/Print</button>
        </div>
        <div></div>
    </div>


    <div class="dcol-2">
        <img src="../../../../assets/HomePageImg/Home Page _ Images/Home Page Main Image1200.png" alt="Illustration of a man who is standing on a road holding a green map in front of the direction sign
        boards where the map is representing the nearby graphic designers and printing shops.">
    </div>
    <div class="dcol-3 positioncontainerRight">
        <div class="row z-ind-les">
            <div class="col-md-12   col-6 d-flex ">

                <div class="imgEditpenposition mr-2">
                    <img src="../../../../assets/HomePageImg/Home Page _ Images/Verified Designer Pencil1200.png"
                        class="imgEditPenSize">
                </div>
                <div>
                    <span class="txtMainHeading">1000+</span>
                    <br>
                    <span class="textStyle">Verified Freelance</span>
                    <br>
                    <span class="textStyle">Graphic Designers</span>
                </div>

            </div>
            <div class="col-md-12 col-6 d-flex mt-mob-0 mt-5">
                <div class="imgEditpenposition mr-2">
                    <img src="../../../../assets/HomePageImg/Home Page _ Images/Verified Print Shop1200.png"
                        class="imgEditPrintSize">
                </div>
                <div>
                    <span class="txtMainHeading">100+</span>
                    <br>
                    <span class="textStyle">Verified Freelance</span>
                    <br>
                    <span class="textStyle">Digital Printing Shops</span>
                </div>
            </div>




            <div class="col-md-12 col-8 d-flex mt-mob-0 mt-mob-30Im mt-5">
                <div class="imgEditpenpositiontwo mr-2">
                    <img src="../../../../assets/HomePageImg/Home Page _ Images/Magnifying Glass1200.png"
                        class="imgEditPenSize">
                </div>
                <div>
                    <span style="text-decoration: line-through red;" class="txtMainHeading"> Find &
                        Hire</span>
                    <br>
                    <span class="textStyle">Connect with a Freelancer </span>

                    <span class="textStyle">instantly-no digging </span>

                    <span class="textStyle">into 100's of Profile</span>
                </div>

            </div>
        </div>
    </div>
</div>