<nav
  class="navbar navbar-inverse navbar-expand-xl navbar-dark"
  style="height: 40px;"
>
  <!-- <div class="navbar-header d-flex col" style="margin-left: 10%;display:none">
    <a href="tel:+9530123654896">
      <span class="lnr lnr-phone"></span>
      <span class="text">
        <span class="text">+953012 3654 896</span>
      </span>
    </a>

  </div> -->
  <!-- Collection of nav links, forms, and other content for toggling -->
  <div
    id="navbarCollapse"
    class="collapse navbar-collapse justify-content-start"
  >
    <ul class="nav navbar-nav navbar-right ml-auto">
      <li class="nav-item dropdown">
        <a
          href="#"
          data-toggle="dropdown"
          class="nav-link dropdown-toggle user-action"
          ><img
            src="../../../assets/StudentDashboard/img/avatar.jpg"
            class="avatar"
            alt="Avatar"
          />
          {{ username }}
        </a>
        <ul class="dropdown-menu">
          <li>
            <a routerLink="/students/profile" class="dropdown-item"
              ><i class="fa fa-user-o"></i> Profile</a
            >
          </li>
          <li style="display: none;">
            <a routerLink="/students/dashboard" class="dropdown-item"
              ><i class="fa fa-calendar-o"></i> Dashboard</a
            >
          </li>
          <!-- <li>
            <a href="#" class="dropdown-item"
              ><i class="fa fa-sliders"></i> Settings</a
            >
          </li> -->
          <li class="divider dropdown-divider"></li>
          <li>
            <a routerLink="/logout" class="dropdown-item"
              ><i class="material-icons">&#xE8AC;</i> Logout</a
            >
          </li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
