
<div class="content">
    <div class="row">
        <div class="accordion" id="accordionExample">
            <div class="card">
              <div class="card-header" id="headingOne">
                    <h5 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    Introduction to Front End Development and React
                            </button>
                          </h5> 
              
             
              </div>
          
              <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                 <p>This module will introduce the candidates to the world of front end development its various aspects and how React fits in here.
                 <p><h3>Topics/Concepts</h3>
                 <ul>
                     <li>Building Blocks of Web Application Development</li>
                     <li>Concept of Single-page and Multi-page Applications</li>
                     <li>Different Client-side Technologies</li>
                     <li>Introduction to React</li>
                     <li>	Installation Node and  React</li>
                     <li>  JSX and its use case</li>
                     <li>DOM</li>
                     <li>Virtual DOM and its working</li>
                     <li>NPM Modules</li>
                     <li>React Application Architecture</li>
                     
                 </ul>
                 <p><h3>Training Material</h3>
                 <ul>
                   <li><a href="#">Course Material</a></li>  
                     <li><a href="#">Practical Guide Link</a></li>
                 </ul>
                 <p><h3>Assignment/Assesment</h3>
                        <ul>
                          <li><a href="#">Assingments</a></li>  
                          <li><a href="#">Test Link</a></li>
                        </ul>
                </div>
              </div>
            </div>
           
            <div class="card">
                    <div class="card-header" id="headingTwo" >
                            <h5 class="mb-0">
                                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                                            Introduction to  Components, State and Props
                                    </button>
                                  </h5> 
                                
                            
                            </div>
              <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                <div class="card-body">
                        <p>In this module, you will learn React core concepts like Components, State and Props and how to use them in the react application
                        <p><h3>Topics/Concepts</h3>
                        <ul>
                            <li>React Elements</li>
                            <li>Render Function</li>
                            <li>Components</li>
                            <li>Class Component</li>
                            <li>Component Constructor</li>
                            <li>Functional Components</li>
                            <li>Introduction to Props</li>
                            <li>Props with Class based and Function baes Component</li>
                            <li>Introdution to States</li>
                            <li>States vs Props</li>
                            <li>Binding Data into the components</li>
                            <li>Component Lifecycle</li>
                        </ul>
                        <p><h3>Training Material</h3>
                        <ul>
                          <li><a href="#">Course Material</a></li>  
                            <li><a href="#">Practical Guide Link</a></li>
                        </ul>
                        <p><h3>Assignment/Assesment</h3>
                               <ul>
                                 <li><a href="#">Assingments</a></li>  
                                 <li><a href="#">Test Link</a></li>
                               </ul>
                        
                </div>
              </div>
            </div>
            <div class="card" style="display: none;">
              <div class="card-header" id="headingThree">
                <h2 class="mb-0">
                  <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        React Forms, Events, Component Styling 
                  </button>
                </h2>
               
              </div>
              <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                <div class="card-body">
                        <p>In this module candidate will understand the concepts of connecting React app with backend Rest API, understanding the HTTP protocol, how to secure your application and how to use third party library called Axios for API calls
                        <p><h3>Topics/Concepts</h3>
                        <ul>
                            <li>React Events</li>
                            <li>React Forms</li>
                            <li>Controlled and Uncontrolled Components</li>
                            <li>Different Form Concepts</li>
                            <li>Form Styling in React </li>
                            <li>Inline Styling</li>
                            <li>CSS Stylesheet      </li>
                            
                        </ul>
                        <p><h3>Training Material</h3>
                 <ul>
                   <li><a href="#">Course Material</a></li>  
                     <li><a href="#">Practical Guide Link</a></li>
                 </ul>
                 <p><h3>Assignment/Assesment</h3>
                        <ul>
                          <li><a href="#">Assingments</a></li>  
                          <li><a href="#">Test Link</a></li>
                        </ul>
                </div>
              </div>
            </div>
            <div class="card" style="display: none;">
                    <div class="card-header" id="headingFour">
                      <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                            React API calls, Security architecture ,Axios
                        </button>
                      </h2>
                      <div class="courseLink">
                            <div class="courseRegister">
                                    <a href="Register.hmtl?courseid=react&topicid=4" class="genric-btn  primary-border">Duration: 8 hrs</a>
                                
                              </div> 
                              <div class="courseRegister">
                                    <a href="Register.hmtl?courseid=react&topicid=4" class="genric-btn  info-border">Fees: &#x20B9; 2500</a>
                                
                              </div>
                              <div class="courseRegister">
                                    <a href="Register.hmtl?courseid=react&topicid=4" class="genric-btn info circle">Register</a>
                                
                              </div>
                      </div> 
                    </div>
                    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                      <div class="card-body">
                          <ul>
                        <li>Understanding the Rest Frame work </li>
                            <li>Concept of Stateless and Stateful </li>
                            <li>HTTP Protocol-GET,POST,PUT,DELETE </li>
                            <li>Setting up the JSON Mock server for imitating the Backed API</li>
                            <li>Understanding the OAuth 2.0 and JWT Token </li>
                            <li>Making API Calls with Axios</li>
                            <li>Securing API Calls with JWT Tokens      </li>
                        </ul>
                            <p><h3>Hands on/Practical</h3>
                        <ul>
                            <li>Need to convert the React forms interactive by connecting them with the Live API's</li>
                            <li>Secure you Application with the Login Page using JWT </li>
                            <li>Secure you backend API's by using JWT tokens </li>
                            
                        </ul>
                        <p><h3>Assignment/Assesment</h3>
                        <ul>
                            <li>Complete an Assignment provided by the Trainer</li>
                            <li>Online exam to test the candidate understandings of the concepts</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="card" style="display: none;">
                        <div class="card-header" id="headingFive">
                          <h2 class="mb-0">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                React Navigation, Routing, Securing Routes
                            </button>
                          </h2>
                          <div class="courseLink">
                                <div class="courseRegister">
                                        <a href="Register.hmtl?courseid=react&topicid=5" class="genric-btn  primary-border">Duration: 8 hrs</a>
                                    
                                  </div> 
                                  <div class="courseRegister">
                                        <a href="Register.hmtl?courseid=react&topicid=5" class="genric-btn  info-border">Fees: &#x20B9; 3000</a>
                                    
                                  </div>
                                  <div class="courseRegister">
                                        <a href="Register.hmtl?courseid=react&topicid=5" class="genric-btn info circle">Register</a>
                                    
                                  </div>
                          </div> 
                        </div>
                        <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
                          <div class="card-body">
                              <ul>
                            <li> Introduction to Routing </li>
                            <li> react-router </li>
                            <li> Difference between Route and Switch  </li>

                            <li> Features of react-route </li>
                            <li> Configuration of routing using react-router </li>
                            <li> Navigation using Links </li>
                            <li> 404 page (Not found Page) , URL Parameters </li>
                            <li> Nested Routes      </li>
                            <li> Securing Routes using Private Routes      </li>
                        </ul>
                            <p><h3>Hands on/Practical</h3>
                            <ul>
                                    <li> Implement Routing in the Project by connecting different components using React router Navigation</li>
                                    <li> Redirect the Application to error or the required page using dynamic routing</li>
                                    
                                    <li> Secure the application Routes based on authentication by implementing the Secure Routes</li>
                                    
                                
                            </ul>
                            <p><h3>Assignment/Assesment</h3>
                            <ul>
                                <li>Complete an Assignment provided by the Trainer</li>
                                <li>Online exam to test the candidate understandings of the concepts</li>
                            </ul>
                          </div>
                        </div>
                      </div>
                      <div class="card" style="display: none;" >
                            <div class="card-header" id="headingSix">
                              <h2 class="mb-0">
                                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                        React State Management using Redux and Thunk
                                </button>
                              </h2>
                              <div class="courseLink">
                                    <div class="courseRegister">
                                            <a href="Register.hmtl?courseid=react&topicid=6" class="genric-btn  primary-border">Duration: 12 hrs</a>
                                        
                                      </div> 
                                      <div class="courseRegister">
                                            <a href="Register.hmtl?courseid=react&topicid=6" class="genric-btn  info-border">Fees: &#x20B9; 4000</a>
                                        
                                      </div>
                                      <div class="courseRegister">
                                            <a href="Register.hmtl?courseid=react&topicid=6" class="genric-btn info circle">Register</a>
                                        
                                      </div>
                              </div> 
                            </div>
                            <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordionExample">
                              <div class="card-body">
                                    <ul>
                                            <li>Need of Redux</li>
                                            <li> What is Redux? </li>
                                            <li> Redux Architecture  </li>

                                            <li> Redux Action  </li>
                                            <li> Redux Reducers </li>
                                            <li>Redux Store </li>
                                            <li> Principles of Redux </li>
                                            <li> Need of Async operations     </li>
                                            <li>Async Workflow
                                                         </li>
                                                         <li>Action Creators </li>
                                                         <li>
                                                                How to write Action Creators?
                                                                Handling Async Actions via Reducers
                                                                Middleware
                                                         </li>
                                                         <li>
                                                                How to write Action Creators?
                                                                
                                                         </li>
                                                         <li>
                                                               
                                                                Handling Async Actions via Reducers
                                                                
                                                         </li>
                                                         <li>
                                                               
                                                                Middleware
                                                         </li>
                                                         <li>Redux Thunk</li>
                                                         <li>Implementing the Async calls with Thunk in application </li>
                                                         <li>Connect store with components</li>
                                                         <li>Mapping store state  and action creators with Props </li>
                                        </ul>
                                            <p><h3>Hands on/Practical</h3>
                                            <ul>
                                                    <li> Implement Routing in the Project by connecting different components using React router Navigation</li>
                                                    <li> Redirect the Application to error or the required page using dynamic routing</li>
                                                    
                                                    <li> Secure the application Routes based on authentication by implementing the Secure Routes</li>
                                                    <li>Mapping store state  and action creators with Props </li>
                                                    
                                                
                                            </ul>
                                            <p><h3>Assignment/Assesment</h3>
                                            <ul>
                                                <li>Complete an Assignment provided by the Trainer</li>
                                                <li>Online exam to test the candidate understandings of the concepts</li>
                                               
                                            </ul>
                              </div>
                            </div>
                          </div>
                          <div class="card" style="display: none;">
                                <div class="card-header" id="headingSeven">
                                  <h2 class="mb-0">
                                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                                            React Hooks
                                    </button>
                                    
                                  </h2>
                                  <div class="courseLink">
                                        <div class="courseRegister">
                                                <a href="Register.hmtl?courseid=react&topicid=7" class="genric-btn  primary-border">Duration: 10 hrs</a>
                                            
                                          </div> 
                                          <div class="courseRegister">
                                                <a href="Register.hmtl?courseid=react&topicid=7" class="genric-btn  info-border">Fees: &#x20B9; 3000</a>
                                            
                                          </div>
                                          <div class="courseRegister">
                                                <a href="Register.hmtl?courseid=react&topicid=7" class="genric-btn info circle">Register</a>
                                            
                                          </div>
                                  </div> 
                                </div>
                                <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordionExample">
                                  <div class="card-body">
                                        <ul>
                                                <li>Functional components and React hooks</li>
                                                <li> Basic hooks </li>
                                                <li> useState() hook  </li>

                                                <li> How to write useState() hook when state variable is an array of objects  </li>
                                                <li> useEffect() hook </li>
                                                <li>Fetch API data using useEffect() hook </li>
                                                <li> useContext() hook </li>
                                                <li>Custom hooks    </li>
                                               
                                            </ul>
                                                <p><h3>Hands on/Practical</h3>
                                                <ul>
                                                        <li>Fetch API data using useEffect() hook</li>
                                                        <li> Pass multiple Context using useContext() hook</li>
                                                        
                                                        <li> Writing custom hooks</li>
                                                        
                                                    
                                                </ul>
                                                <p><h3>Assignment/Assesment</h3>
                                                <ul>
                                                    <li>Complete an Assignment provided by the Trainer</li>
                                                    <li>Online exam to test the candidate understandings of the concepts</li>
                                                   
                                                </ul>
                                  </div>
                                </div>
                              </div>

                             
                                 
                                  <div class="card" style="display: none;">
                                    <div class="card-header" id="headingNine">
                                      <h2 class="mb-0">
                                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
                                                React Application Unit Testing and Deployment on Firebase
                                        </button>
                                      </h2>
                                      <div class="courseLink">
                                            <div class="courseRegister">
                                                    <a href="Register.hmtl?courseid=react&topicid=8" class="genric-btn  primary-border">Duration: 6 hrs</a>
                                                
                                              </div> 
                                              <div class="courseRegister">
                                                    <a href="Register.hmtl?courseid=react&topicid=8" class="genric-btn  info-border">Fees: &#x20B9; 2000</a>
                                                
                                              </div>
                                              <div class="courseRegister">
                                                    <a href="Register.hmtl?courseid=react&topicid=8" class="genric-btn info circle">Register</a>
                                                
                                              </div>
                                      </div> 
                                    </div>
                                    <div id="collapseNine" class="collapse" aria-labelledby="headingNine" data-parent="#accordionExample">
                                      <div class="card-body">
                                            <ul>
                                                    <li>Understanding Unit testing</li>
                                                    <li> Jest and Enzyme Set up </li>
                                                    <li> Create Test Components  </li>
    
                                                    <li> Tetsing Redux code  </li>
                                                    <li> Checking Code coverage using coverlet </li>
                                                    <li>Push Application on Git </li>
                                                    <li> Deploy app on Firebase </li>
                                                    <li>Create Docker for React Application   </li>
                                                   
                                                </ul>
                                                    <p><h3>Hands on/Practical</h3>
                                                    <ul>
                                                            <li>Fetch API data using useEffect() hook</li>
                                                            <li> Pass multiple Context using useContext() hook</li>
                                                            
                                                            <li> Writing custom hooks</li>
                                                            
                                                        
                                                    </ul>
                                                    <p><h3>Assignment/Assesment</h3>
                                                    <ul>
                                                        <li>Complete an Assignment provided by the Trainer</li>
                                                        <li>Online exam to test the candidate understandings of the concepts</li>
                                                       
                                                    </ul>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="card" style="display: none;">
                                    <div class="card-header" id="headingTen">
                                      <h2 class="mb-0">
                                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
                                         Any Custom Topic/Particular issue Support
                                        </button>
                                      </h2>  <div class="courseLink">
                                            <!-- <div class="courseRegister">
                                                    <a href="Register.hmtl?courseid=react&topicid=9" class="genric-btn  primary-border">Duration: 6 hrs</a>
                                                
                                              </div> 
                                              <div class="courseRegister">
                                                    <a href="Register.hmtl?courseid=react&topicid=9" class="genric-btn  info-border">Fees: &#x20B9; 2500</a>
                                                
                                              </div> -->
                                              <div class="courseRegister">
                                                    <a href="Register.hmtl?courseid=react&topicid=9" class="genric-btn info circle">Register</a>
                                                
                                              </div>
                                      </div> 

                                    </div>
                                    <div id="collapseTen" class="collapse" aria-labelledby="headingTen" data-parent="#accordionExample">
                                      <div class="card-body">
                                       If Any one wants to learn any custom topic or require some support with particular issue or Topic he/she can register and share the details.Our Expert/Trainers will get in touch with you. Based on discussion and complexity price will be decided
                                      </div>
                                    </div>
                                  </div>
          </div>
        
      </div>
</div>