<div class="app">
        
        

    <div class="app-body">
        <style>
            .svg-icon path {
fill: red;
}
        </style>
        <div  class="svg-icon"> 

          </div>
     
        
           <div class="container mt-4">
               <div class="row">
                   <div class="col-md-4">
                       <div class="shadow-box mb-3 p-3 box-two">
                           <div class="profile-img-two">
                               <div class="img"> <img id="profile"  src="img/prof1.jpg" alt=""></div>
                                        <div class="edit-icon">
                                            <i class="fa fa-camera"></i>
                                            <input id="image" type="file" name="profile_photo" placeholder="Photo" required="" capture>
                                        </div>
                                    </div>
                            
                           <div class="form-group mt-3">
                               <label for="username" class="label text-uppercase">Availability    </label>
                               <select class="form-control" id="exampleFormControlSelect1">
                                   <option>Available</option>
                                   <option>Not Available</option>
                                   <option>Part Time </option>

                               </select>
                           </div>
                           <div class="form-group">
                               <label for="username" class="label text-uppercase">Availability Type   </label>
                               <select class="form-control" id="exampleFormControlSelect1">
                                   <option>Onsite</option>
                                   <option>Partial Onsite</option>
                                   <option>Remote Work</option>

                               </select>
                           </div>
                           <div class="form-group">
                               <label for="username" class="label text-uppercase">Skills   </label>
                             <ul class="list-none list-inline list-item-round">
                                   <li>AJAX <i class="fa fa-times-circle" aria-hidden="true"></i></li>
                                   <li>EC2 <i class="fa fa-times-circle" aria-hidden="true"></i></li>
                                   <li>Amazon S3 <i class="fa fa-times-circle" aria-hidden="true"></i></li>
                                   <li>bootsrap <i class="fa fa-times-circle" aria-hidden="true"></i></li>
                                   <li>REST <i class="fa fa-times-circle" aria-hidden="true"></i></li>
                                   <li>Amazon Web Services <i class="fa fa-times-circle" aria-hidden="true"></i></li>
                                   <li>RSS <i class="fa fa-times-circle" aria-hidden="true"></i></li>
                                   <li>Apache administration <i class="fa fa-times-circle" aria-hidden="true"></i></li>
                                   <li>API Development <i class="fa fa-times-circle" aria-hidden="true"></i></li>
                               </ul>
                           </div>
                         
                          

                       </div>
                      
                   

                   </div>
                   <div class="col-md-8">
                       <div class=" p-3  shadow-box ">
                           <h3>Edit Profile
                           </h3>
                           <div class="row">
                               <div class="col-sm-6">
                                   <div class="form-group">
                                       <label for="username" class="label text-uppercase">First Name </label>
                                       <input class="form-control" type="type" required="" placeholder="First Name" />
                                   </div>
                               </div>
                                <div class="col-sm-6">
                                   <div class="form-group">
                                       <label for="username" class="label text-uppercase">Last Name </label>
                                       <input class="form-control" type="type" required="" placeholder="Last Name" />
                                   </div>
                               </div>
                              
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="username" class="label text-uppercase">Availability    </label>
                                        <select class="form-control" id="exampleFormControlSelect1">
                                            <option>Available</option>
                                            <option>Not Available</option>
                                            <option>Part Time </option>
     
                                        </select>
                                    </div>
                               </div>
                                <div class="col-sm-6">
                                   <div class="form-group">
                                       <label for="username" class="label text-uppercase">Email   </label>
                                       <input class="form-control" type="email" value="info@vbooking.com" required="" placeholder="Designation" />
                                   </div>
                               </div>
                                <div class="col-sm-6">
                                   <div class="form-group">
                                       <label for="username" class="label text-uppercase"> Mobile   </label>
                                       <input class="form-control" type="type" value="UX Developer" required="" placeholder="Designation" />
                                   </div>
                               </div>
                                <div class="col-sm-6">
                                   <div class="form-group">
                                       <label for="username" class="label text-uppercase">DOB   </label>
                                       <input class="form-control" type="email" value="info@vbooking.com" required="" placeholder="Designation" />
                                   </div>
                               </div>
                               <div class="col-sm-12">
                                   <div class="form-group">
                                       <label for="username" class="label text-uppercase">Address </label>
                                       <textarea class="form-control" id="exampleFormControlTextarea1" rows="3">Vmary nilaya,bansankari,2nt satage,
Bangalre-50001</textarea>
                                   </div>
                               </div>
                               <div class="col-sm-12">
                                   <div class="form-group">
                                       <label for="username" class="label text-uppercase">About Me </label>
                                       <textarea class="form-control" id="exampleFormControlTextarea1" rows="3">Vmary nilaya,bansankari,2nt satage,
Bangalre-50001</textarea>
                                   </div>
                               </div>
                                 <div class="border-bottom my-2  w-100"></div>
                               <div class="col-sm-12">
                                    <div class="form-group">
                               <label for="username" class="label text-uppercase">Skills   </label>
                                    <input class="form-control  search-input search" type="search" placeholder="Search your Skill">
                                    <ul class="list-none list-inline list-item-round">
                                   <li>AJAX <i class="fa fa-times-circle" aria-hidden="true"></i></li>
                                   <li>EC2 <i class="fa fa-times-circle" aria-hidden="true"></i></li>
                                   <li>Amazon S3 <i class="fa fa-times-circle" aria-hidden="true"></i></li>
                                   <li>bootsrap <i class="fa fa-times-circle" aria-hidden="true"></i></li>
                                   <li>REST <i class="fa fa-times-circle" aria-hidden="true"></i></li>
                                   <li>Amazon Web Services <i class="fa fa-times-circle" aria-hidden="true"></i></li>
                                   <li>RSS <i class="fa fa-times-circle" aria-hidden="true"></i></li>
                                   <li>Apache administration <i class="fa fa-times-circle" aria-hidden="true"></i></li>
                                   <li>API Development <i class="fa fa-times-circle" aria-hidden="true"></i></li>
                               </ul>
                                   </div>
                               </div>
                               <div class="border-bottom my-2  w-100"></div>
                               <hr>
                               <div class="col-sm-12" style="display:none">
                                  <div class="form-group">
                               <label for="username" class="label text-uppercase">Link </label>
                               <div class="row">
                                   <div class="col-11">
                                       <div class="form-group">
                                           <input type="text" value="Facebook" class="form-control" id="exampleFormControlInput1">
                                       </div>
                                   </div>
                                   <div class="col-1 p-0  align-self-center">
                                       <div class="form-group mb-0">
                                           <a href="#" class=" btn-minus" role="button" aria-pressed="true"><i class="fa fa-minus-circle" aria-hidden="true"></i></a>
                                           <a href="#" class=" btn-plus ml-3" role="button" aria-pressed="true"><i class="fa fa-plus-circle" aria-hidden="true"></i></a>
                                       </div>
                                   </div>

                               </div>
                               <div class="row">
                                   <div class="col-11">
                                       <div class="form-group">
                                           <input type="text" value="Facebook" class="form-control" id="exampleFormControlInput1">
                                       </div>
                                   </div>
                                   <div class="col-1 p-0  align-self-center">
                                       <div class="form-group mb-0">
                                           <a href="#" class=" btn-minus" role="button" aria-pressed="true"><i class="fa fa-minus-circle" aria-hidden="true"></i></a>
                                           <a href="#" class=" btn-plus ml-3" role="button" aria-pressed="true"><i class="fa fa-plus-circle" aria-hidden="true"></i></a>
                                       </div>
                                   </div>

                               </div>
                               <div class="row">
                                   <div class="col-11">
                                       <div class="form-group">
                                           <input type="text" value="Facebook" class="form-control" id="exampleFormControlInput1">
                                       </div>
                                   </div>
                                   <div class="col-1 p-0  align-self-center">
                                       <div class="form-group mb-0">
                                           <a href="#" class=" btn-minus" role="button" aria-pressed="true"><i class="fa fa-minus-circle" aria-hidden="true"></i></a>
                                           <a href="#" class=" btn-plus ml-3" role="button" aria-pressed="true"><i class="fa fa-plus-circle" aria-hidden="true"></i></a>
                                       </div>
                                   </div>

                               </div>
                               <div class="row">
                                   <div class="col-11">
                                       <div class="form-group">
                                           <input type="text" value="Facebook" class="form-control" id="exampleFormControlInput1">
                                       </div>
                                   </div>
                                   <div class="col-1 p-0  align-self-center">
                                       <div class="form-group mb-0">
                                           <a href="#" class=" btn-minus" role="button" aria-pressed="true"><i class="fa fa-minus-circle" aria-hidden="true"></i></a>
                                           <a href="#" class=" btn-plus ml-3" role="button" aria-pressed="true"><i class="fa fa-plus-circle" aria-hidden="true"></i></a>
                                       </div>
                                   </div>

                               </div>
                           </div>
                               </div>
                           </div>
                          
                         
                         

                       </div> 
                       <div class="clearfix"></div>
                       <div class="  p-3 mt-3  shadow-box ">
                           <h3>Education
                             <a class="text-primary link-animatin-plus pull-right font-30" data-toggle="modal" data-target="#Education" role="button">+</a>
                           </h3>
                         
                           <div class="well well-sm mt-3">
                               <div class="row">
                                   <div class="col-xs-3 col-md-2 text-center">
                                       <img src="http://bootsnipp.com/apple-touch-icon-114x114-precomposed.png" alt="bootsnipp"
                                            class="img-rounded img-responsive" />
                                   </div>
                                   <div class="col-xs-9 col-md-10 section-box">
                                       <h3 class="font-bold">University of Calicut
                                           <a class="text-primary link-animatin pull-right font-16" data-toggle="modal" data-target="#Education" role="button">
                                               <i class="fa fa-pencil" aria-hidden="true"></i></a>
                                       </h3>
                                       <div class="date">Bachelore of  Art(BA), Economics 2004- 2006<br>
                                            Mumbail Area, India
                                        </div>
                                       <p>
                                           Design elements, playground and code snippets for Bootstrap HTML/CSS/JS framewora</p>
                                       <hr />
                                   </div>
                               </div>
                           </div>
                           <div class="well well-sm mt-3">
                               <div class="row">
                                   <div class="col-xs-3 col-md-2 text-center">
                                       <img src="http://bootsnipp.com/apple-touch-icon-114x114-precomposed.png" alt="bootsnipp"
                                            class="img-rounded img-responsive" />
                                   </div>
                                   <div class="col-xs-9 col-md-10 section-box">
                                       <h3 class="font-bold">University of Calicut
                                           <a class="text-primary link-animatin pull-right font-16" data-toggle="modal" data-target="#Education" role="button">
                                               <i class="fa fa-pencil" aria-hidden="true"></i></a>
                                       </h3>
                                       <div class="date">Bachelore of  Art(BA), Economics 2004- 2006<br>
                                            Mumbail Area, India
                                        </div>
                                       <p>
                                           Design elements, playground and code snippets for Bootstrap HTML/CSS/JS framewora</p>
                                       <hr />
                                   </div>
                               </div>
                           </div>
                           <div class="well well-sm mt-3">
                               <div class="row">
                                   <div class="col-xs-3 col-md-2 text-center">
                                       <img src="http://bootsnipp.com/apple-touch-icon-114x114-precomposed.png" alt="bootsnipp"
                                            class="img-rounded img-responsive" />
                                   </div>
                                   <div class="col-xs-9 col-md-10 section-box">
                                       <h3 class="font-bold">University of Calicut
                                           <a class="text-primary link-animatin pull-right font-16" data-toggle="modal" data-target="#Education" role="button">
                                               <i class="fa fa-pencil" aria-hidden="true"></i></a>
                                       </h3>
                                       <div class="date">Bachelore of  Art(BA), Economics 2004- 2006<br>
                                            Mumbail Area, India
                                        </div>
                                       <p>
                                           Design elements, playground and code snippets for Bootstrap HTML/CSS/JS framewora</p>
                                       <hr />
                                   </div>
                               </div>
                           </div>
                           

                       </div> 
                       <div class="clearfix"></div>
                       <div class="  p-3 mt-3  shadow-box ">
                           <h3>Experience
                             <a class="text-primary link-animatin-plus pull-right font-30" data-toggle="modal" data-target="#exampleModal2" role="button">+</a>
                           </h3>
                         
                           <div class="well well-sm mt-3">
                               <div class="row">
                                   <div class="col-xs-3 col-md-2 text-center">
                                       <img src="http://bootsnipp.com/apple-touch-icon-114x114-precomposed.png" alt="bootsnipp"
                                            class="img-rounded img-responsive" />
                                   </div>
                                   <div class="col-xs-9 col-md-10 section-box">
                                       <h3 class="font-bold">Co Founder 
                                           <a class="text-primary link-animatin pull-right font-16" data-toggle="modal" data-target="#exampleModal2" role="button">
                                               <i class="fa fa-pencil" aria-hidden="true"></i></a>
                                       </h3>
                                       <div class="date">June 20015 - Oct 2016 1 yr 5 mos<br/>
                                           Mumbail Area, India
                                       </div>
                                       <p>
                                           Design elements, playground and code snippets for Bootstrap HTML/CSS/JS framewora</p>
                                       <hr />
                                   </div>
                               </div>
                           </div>
                           <div class="well well-sm mt-3">
                               <div class="row">
                                   <div class="col-xs-3 col-md-2 text-center">
                                       <img src="http://bootsnipp.com/apple-touch-icon-114x114-precomposed.png" alt="bootsnipp"
                                            class="img-rounded img-responsive" />
                                   </div>
                                   <div class="col-xs-9 col-md-10 section-box">
                                       <h3 class="font-bold">Co Founder
                                        <a class="text-primary link-animatin pull-right font-16" data-toggle="modal" data-target="#exampleModal2" role="button">
                                               <i class="fa fa-pencil" aria-hidden="true"></i></a>
                                       </h3>
                                       <div class="date">June 20015 - Oct 2016 1 yr 5 mos<br/>
                                           Mumbail Area, India
                                       </div>
                                       <p>
                                           Design elements, playground and code snippets for Bootstrap HTML/CSS/JS framewora</p>
                                       <hr />
                                   </div>
                               </div>
                           </div>
                           <div class="well well-sm mt-3">
                               <div class="row">
                                   <div class="col-xs-3 col-md-2 text-center">
                                       <img src="http://bootsnipp.com/apple-touch-icon-114x114-precomposed.png" alt="bootsnipp"
                                            class="img-rounded img-responsive" />
                                   </div>
                                   <div class="col-xs-9 col-md-10 section-box">
                                       <h3 class="font-bold">Co Founder
                                        <a class="text-primary link-animatin pull-right font-16" data-toggle="modal" data-target="#exampleModal2" role="button">
                                               <i class="fa fa-pencil" aria-hidden="true"></i></a></h3>
                                       <div class="date">June 20015 - Oct 2016 1 yr 5 mos<br/>
                                           Mumbail Area, India
                                       </div>
                                       <p>
                                           Design elements, playground and code snippets for Bootstrap HTML/CSS/JS framewora</p>
                                       <hr />
                                   </div>
                               </div>
                           </div>

                       </div> 
                      
                        
                       <div class=" p-3 mt-3 shadow-box ">
                           <h3>Overview
                               <a class="text-primary link-animatin-plus pull-right font-16" data-toggle="modal" data-target="#Overview" role="button"> <i class="fa fa-pencil" aria-hidden="true"></i></a>
                           </h3>
                           <p>
                               I am a Web-based Software Developer with over a decade of experience in software development and system architecture for web and mobile apps. 
                           </p>
                           <p>
                               
I love to build and create new products and ideas. I am the founder of 4 development based Slack channels serving over 12,000 members (and growing). ([you must be logged in to see this link], [you must be logged in to see this link], [you must be logged in to see this link] & 
                           </p>
                         

                       </div> 
                       
                   </div>
                  
                   
               </div>
               
        </div>
    
      
       
       
        <!--
        <div class=" footer  clearfix">
            <div class="content">
                Copyright © 2018 - mSupply.in

            </div>

        </div>-->
    </div>
     <footer>
        <div class="container-fluid">
            <div class="row">

                <div class="footerlink">
                    <ul class="">
                        <li><a href="#">HOMe</a>	</li>	
                        <li><a href="#">About</a></li> 
                        <li><a href="#">		Pricing	</a></li>
                        <li><a href="#">freelanceer Benifits</a></li>
                        <li><a href="#">support	</a></li>
                        <li><a href="#">Contact Us</a></li>
                        <li><a href="#">Blog</a></li>
                    </ul>
                </div>
                <div class="clearfix"></div>
                <div class="row w-100  justify-content-md-center">
                    <div class="col">
                        <ul class="social-block pl-1">

                            <li> <a href=""><i id="social-fb" class="fa fa-facebook fa-3x social"></i></a></li>
                            <li>    <a href=""><i id="social-tw" class="fa fa-twitter fa-3x social"></i></a></li>
                            <li>   <a href=""><i id="social-gp" class="fa fa-google-plus fa-3x social"></i></a></li>
                            <li>   <a href=""><i id="social-em" class="fa fa-youtube fa-3x social"></i></a></li>
                        </ul>
                    </div>
                    <div class="col">
                       <div class="">Copyright Ⓒ All Rights reserved</div>  
                    </div>
                    <div class="col text-right">
                        <div class=""><a href="#">Terms of Use </a> | <a href="#"> Privacy Policy</a> </div>  
                    </div>
                </div>
              
               

            </div>
        </div>
    </footer>
</div>

<!-- Modal -->

<div class="modal fade" id="Project-images" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog modal-lg" role="document">
<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title text-center" id="NewPricingTitle">Edit Project Images</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">✕</span>
        </button>
    </div>
  <div class="modal-body">
    <div class="row">
        <div class="col">
            <div class="upload-image">
                <input type="file">
                <div class="upload-image-content">
                    <i class="fa fa-cloud-upload" aria-hidden="true"></i>
                    <br>
                    Upload Image
                </div>
            </div>

        </div>
        <div class="col">
            <div class="upload-image">
                <input type="file">
                <div class="upload-image-content">
                    <i class="fa fa-cloud-upload" aria-hidden="true"></i>
                    <br>
                    Upload Image
                </div>
            </div>

        </div>
        <div class="col">
            <div class="upload-image">
                <input type="file">
                <div class="upload-image-content">
                    <i class="fa fa-cloud-upload" aria-hidden="true"></i>
                    <br>
                    Upload Image
                </div>
            </div>

        </div>
    
        <div class="col">
            <div class="upload-image">
                <input type="file">
                <div class="upload-image-content">
                    <i class="fa " aria-hidden="true">+</i>
                    <br>
                    Add Image
                </div>
            </div>

        </div>
       
       
       </div>
     
      
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" >Submit</button>
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel </button>
  </div>
</div>
</div>
</div>


<!--experiance-->
<div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog modal-lg" role="document">
<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title text-center" id="NewPricingTitle">Add Experience</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">✕</span>
        </button>
    </div>
  <div class="modal-body">
      <div class="form-group">
          <label for="username" class="label text-uppercase">Title </label>
          <input class="form-control" type="type" required="" placeholder="Name">
      </div>
      <div class="form-group">
          <label for="username" class="label text-uppercase">Company  </label>
          <input class="form-control" type="type" required="" placeholder="Name">
      </div>
      <div class="form-group">
          <label for="username" class="label text-uppercase">Location  </label>
          <input class="form-control" type="type" required="" placeholder="Name">
      </div>
      <div class="row">
          <div class="col-sm-6">
              <div class="form-group">
                  <label for="username" class="label text-uppercase">From   </label>
                  <select class="form-control" id="exampleFormControlSelect1">
                      <option>Month</option>
                      <option>2</option>
                      <option>3</option>
                      <option>4</option>
                      <option>5</option>
                  </select>
              </div>  
              <div class="form-group">
                  <label for="username" class="label text-uppercase">   </label>
                     <select class="form-control" id="exampleFormControlSelect1">
                      <option>Year</option>
                      <option>2</option>
                      <option>3</option>
                      <option>4</option>
                      <option>5</option>
                  </select>
              </div>  
          </div>
          <div class="col-sm-6">
              <div class="form-group">
                  <label for="username" class="label text-uppercase">To   </label>
                  <select class="form-control" id="exampleFormControlSelect1">
                      <option>Month</option>
                      <option>2</option>
                      <option>3</option>
                      <option>4</option>
                      <option>5</option>
                  </select>
              </div>  
              <div class="form-group">
                  <label for="username" class="label text-uppercase">   </label>
                     <select class="form-control" id="exampleFormControlSelect1">
                      <option>Year</option>
                      <option>2</option>
                      <option>3</option>
                      <option>4</option>
                      <option>5</option>
                  </select>
              </div>  
          </div>
      </div>
      <div class="form-group ">
          <label class="checkbox checkbox-primary">
              <input type="checkbox">
              <span class="check-mark"></span>  I currently work here 
          </label>

      </div>                              
      <div class="form-group ">
          <label class="checkbox checkbox-primary">
              <input type="checkbox">
              <span class="check-mark"></span> Update my industry
          </label>

      </div>                              
     
      <div class="form-group ">
          <label for="username" class="label text-uppercase">Description </label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
      </div>
      <div class="form-group ">
          <label for="username" class="label text-uppercase">Media </label>
          <div>
              <div class="file-field">
                  <div class="btn btn-sm btn-outline-primary ">
                      <span> Upload</span>
                      <input type="file">
                  </div>
                  <!--                          <div class="file-path-wrapper">
                                                <input class="file-path validate" type="text" placeholder="Upload your file">
                                            </div>-->
                  <button type="button" class="btn btn-sm btn-outline-secondary">Link</button>
              </div>
          </div>
      </div>
      
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" >Submit</button>
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel </button>
  </div>
</div>
</div>
</div>
<!----Overview-->
<div class="modal fade" id="Overview" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog modal-lg" role="document">
<div class="modal-content ">
    <div class="modal-header">
        <h5 class="modal-title text-center" id="NewPricingTitle"> Overview about you</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">✕</span>
        </button>
    </div>
  <div class="modal-body">
     
      <div class="form-group ">
          <label for="username" class="label text-uppercase">Overview </label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3">                                    </textarea>
      </div>
   
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" >Submit</button>
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel </button>
  </div>
</div>
</div>
</div>

<!----Skills-->

<div class="modal fade" id="Skills" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog modal-lg" role="document">
<div class="modal-content ">
    <div class="modal-header">
        <h5 class="modal-title text-center" id="NewPricingTitle"> Add your Skill and Edit</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">✕</span>
        </button>
    </div>
  <div class="modal-body">
     
      <div class="form-group ">
          <input class="form-control  search-input search" type="search" placeholder="Search your Skill">
                         
      </div>
      
      <h6 class="my-3">Selected Skills</h6>
      <ul class="list-none list-inline list-item-round">
                                   <li>AJAX <i class="fa fa-times-circle" aria-hidden="true"></i></li>
                                   <li>EC2 <i class="fa fa-times-circle" aria-hidden="true"></i></li>
                                   <li>Amazon S3 <i class="fa fa-times-circle" aria-hidden="true"></i></li>
                                   <li>bootsrap <i class="fa fa-times-circle" aria-hidden="true"></i></li>
                                   <li>REST <i class="fa fa-times-circle" aria-hidden="true"></i></li>
                                   <li>Amazon Web Services <i class="fa fa-times-circle" aria-hidden="true"></i></li>
                                   <li>RSS <i class="fa fa-times-circle" aria-hidden="true"></i></li>
                                   <li>Apache administration <i class="fa fa-times-circle" aria-hidden="true"></i></li>
                                   <li>API Development <i class="fa fa-times-circle" aria-hidden="true"></i></li>
                               </ul>
   
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" >Submit</button>
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel </button>
  </div>
</div>
</div>
</div>
<!----Education-->
<div class="modal fade" id="Education" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog modal-lg" role="document">
<div class="modal-content ">
    <div class="modal-header">
        <h5 class="modal-title text-center" id="NewPricingTitle"> Add New Education  details</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">✕</span>
        </button>
    </div>
  <div class="modal-body">
     
     <div class="form-group">
          <label for="username" class="label text-uppercase">School </label>
          <input class="form-control" type="type" required="" placeholder="Name">
      </div>
     <div class="form-group">
          <label for="username" class="label text-uppercase">Degree </label>
          <input class="form-control" type="type" required="" placeholder="Name">
      </div>
     <div class="form-group">
          <label for="username" class="label text-uppercase">Field of study </label>
          <input class="form-control" type="type" required="" placeholder="Name">
      </div>
     <div class="form-group">
          <label for="username" class="label text-uppercase">Grade </label>
          <input class="form-control" type="type" required="" placeholder="Name">
      </div>
     <div class="form-group">
          <label for="username" class="label text-uppercase">Activities and societies </label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
      </div>
      <div class="row">
          <div class="col-sm-6">
              <div class="form-group">
                  <label for="username" class="label text-uppercase">From   </label>
                   <select class="form-control" id="exampleFormControlSelect1">
                      <option>Year</option>
                      <option>2</option>
                      <option>3</option>
                      <option>4</option>
                      <option>5</option>
                  </select>
              </div>  
            
          </div>
          <div class="col-sm-6">
              <div class="form-group">
                  <label for="username" class="label text-uppercase">To   </label>
                    <select class="form-control" id="exampleFormControlSelect1">
                      <option>Year</option>
                      <option>2</option>
                      <option>3</option>
                      <option>4</option>
                      <option>5</option>
                  </select>
              </div>  
              
          </div>
      </div>
     <div class="form-group">
          <label for="username" class="label text-uppercase">Description </label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
      </div>
       <div class="form-group ">
          <label for="username" class="label text-uppercase">Media </label>
          <div>
              <div class="file-field">
                  <div class="btn btn-sm btn-outline-primary ">
                      <span> Upload</span>
                      <input type="file">
                  </div>
                  <!--                          <div class="file-path-wrapper">
                                                <input class="file-path validate" type="text" placeholder="Upload your file">
                                            </div>-->
                  <button type="button" class="btn btn-sm btn-outline-secondary">Link</button>
              </div>
          </div>
      </div>
     
   
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" >Submit</button>
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel </button>
  </div>
</div>
</div>
</div>
