<!-- <img  [src]="imgUrl" alt="Snow" /> -->
<div class="container" style="margin-top: -50px;">
    <div class="dcol-3 alingdiv">
        <div class="txtFreelance">
            <img src="../../../../assets/HomePageImg/Home Page _ Images/Live Design1200.png" class="imgtop">
        </div>
        <div class="txtFreelance">
            LIVE DESIGNING
        </div>
        <div class="textStyle" style="margin-top: 10px;">
            <ul class="textAling">
                <li>Get Two Design Concepts</li>
                <li>Real-Time Revison,Powered by Google Meet</li>
                <li>Instant Design Delivery in 5 Hours.*</li>
            </ul>
        </div>
        <div class="termsStyle">
            T&C: Delivery Time may vary according to the product category
        </div>
    </div>
    <div class="dcol-3 alingdiv" style="margin-left: 3%;">
        <div class="txtFreelance">
            <img src="../../../../assets/HomePageImg/Home Page _ Images/Nearest Print1200.png" class="imgtop">
        </div>
        <div class="txtFreelance">
            NEAREST PRINTING
        </div>
        <div class="textStyle" style="margin-top: 10px;">
            <ul class="textAling">
                <li>Upload Design and get printing done by your nearest printing shop </li>
                <li>Swift Printing and doorstep delivery with in 10 hours.*</li>
                <li>Rely on us for perfection</li>

            </ul>
        </div>
        <div class="termsStyle">
            T&C: Delivery Time may vary according to the marketing collateral,size,and quantity.
        </div>
    </div>
    <div class="dcol-3 alingdiv" style="margin-left: 3%;">
        <div class="txtFreelance">
            <img src="../../../../assets/HomePageImg/Home Page _ Images/Fast Deliver1200.png" class="imgtop">
        </div>
        <div class="txtFreelance">
            FASTEST DELIVERY
        </div>
        <div class="textStyle" style="margin-top: 10px;">
            <ul class="textAling">
                <li>Easing you with the delivery needs of graphic design and printing</li>
                <li>Instant Design Delivery after virtual meeting</li>
                <li>Doorstep prinitng- Delivery powered by Dunzo </li>
            </ul>
        </div>
        <div class="termsStyle">

        </div>
    </div>
</div>