<form class="form-horizontal" id="recoverform" [formGroup]="studentForm">
  <div class="form-group " style="text-align: center;">
    <h3>Verify OTP</h3>
    <p class="text-muted" style="text-align: center;">
      Enter your OTP Recieved on your Mobile#!
    </p>
  </div>
  <div class="form-group" style="margin-left: 20%;">
    <label for="username" style="margin-left: 15%;" class="label text-uppercase"
      >Enter OTP
    </label>
    <input
      class="form-control"
      type="text"
      required
      formControlName="mobileNumber"
      placeholder="OTP"
      style="width:50%"
    />
    <!-- <span
      class="errorMessage"
      *ngIf="
        (studentForm.controls['mobileNumber'].dirty ||
          studentForm.controls['mobileNumber'].touched) &&
        studentForm.controls['mobileNumber'].invalid &&
        studentForm.controls['mobileNumber'].errors.invalidPattern
      "
    >
      *Mobile# is incorrect.
    </span> -->
    <span
      class="errorMessage"
      *ngIf="
        (studentForm.controls['mobileNumber'].dirty ||
          studentForm.controls['mobileNumber'].touched) &&
        studentForm.controls['mobileNumber'].invalid &&
        studentForm.controls['mobileNumber'].errors.required
      "
    >
      *OTP# is required.
    </span>
  </div>
  <div class="form-group text-center mt-4">
    <div>{{ message }}</div>
    <!-- {{ studentForm.controls["mobileNumber"].errors.required }} -->
    <div class="btn-group" role="group" aria-label="Basic example">
      <button
        class="btn btn-info btn-lg  text-uppercase "
        type="button"
        (click)="resetPassword()"
      >
        Verify
      </button>
      <button
        class="btn btn-outline-info btn-lg  text-uppercase "
        id="login-back"
        (click)="activeModal.dismiss('Cross click')"
        type="submit"
      >
        Back
      </button>
    </div>
  </div>
</form>
<ngx-spinner
  bdColor="rgba(51, 51, 51, 0.8)"
  size="default"
  type="ball-spin-clockwise"
>
  <p style="color: white">Please Wait.</p>
</ngx-spinner>
