<div class="container" style="margin-top: 50px;">
    <div class="dcol-3">
        <img src="../../../../assets/HomePageImg/Home Page _ Images/Verified Freelance Designer1200.png">
    </div>
    <div class="dcol-3 alingdiv">
        <div class="txtFreelance">Design By Verified</div>
        <div class="txtFreelance">Freelance</div>
        <div class="txtFreelance">Graphic Designers</div>
        <div class="txtSample">Sample Design of all categories</div>
    </div>

    <div class="dcol-3">
        <img src="../../../../assets/HomePageImg/Home Page _ Images/Verified Freelance Designer Icon1200.png">
    </div>
</div>