<div class="container" style="display:none">
    <div class="row">
        <div class="col-md-12 py-4 text-center">
            <h1>List of Notifications</h1>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-12 py-4">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Order Id</th>
                        <th>Notification Date</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let order of orderList">
                        <th scope="row">{{ order.orderId }}</th>
                        <td>{{ order.notificationDate }}</td>
                        <td>
                            <button type="button" class="btn btn-primary"
                                (click)="openModal(order.orderDetails,order.orderId)">Accept</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12 py-4 text-center">
            <div class="card ">
                <div class="card-header ">
                    <h1>List of Notifications</h1>
                </div>
                <div class="card-body ">
                    <div class="row justify-content-center">
                        <div class="col-md-12 py-4">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Order Id</th>
                                        <th>Notification Date</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let order of orderList">
                                        <th scope="row">{{ order.orderId }}</th>
                                        <td>{{ order.notificationDate }}</td>
                                        <td>
                                            <button type="button" class="btn btn-primary"
                                                (click)="openModal(order.orderDetails,order.orderId)">Open
                                                Details</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>