<!--================Home Banner Area =================-->
<section class="banner_area">
        <div class="banner_inner d-flex align-items-center">
            <div class="overlay"></div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <div class="banner_content text-center">
                            <h2>Java - Spring Boot</h2>
                           
                            <div class="page_link">
                                <a href="index.html">Home</a>
                                <a href="courses.html">Courses</a>
                                <a href="course-details.html">React JS</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================End Home Banner Area =================-->
    
    <!--================ Start Course Details Area =================-->
    <section class="course_details_area section_gap">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 course_details_left" style="font-family: 'Open Sans';">
                    <div class="main_image">
                        <img class="img-fluid" src="../../../assets/img/Java.jpg"  style="width:100%;height: 410px" alt="">
                    </div>
                    <div class="content_wrapper">
                        <h4 class="title">Objectives</h4>
                        <div class="content">
                                Learn core and advance JAVA and JAVA framework Spring. Learn to design and develop RESTful web services with Spring, JPA and MySQL. Master Microservices with Spring Boot. AWS account setup, AWS EC2 instance setup and backend server setup and deployment, AWS RDS server setup and management, WebAPI hosting, Database Hosting.
                                We will cover OOPs concepts, GIT, design patterns, web deployment and DB deployment in this course. This course includes many coding exercise to cover langauge and OOPs concept. We will do two projects as a part of this course. One will be backend project that cover Web API, Authorization, SQL database and ORM JPA, Logging, Debugging, Exception handling, GitHub, AWS account setup, AWS EC2 instance setup and backend server setup and deployment, AWS RDS server setup and management, WebAPI hosting, Database Hosting. For 2nd project, we offer student to come up with any real world idea, we will help them build it from scratch and deploy the project on AWS to make it live


                        </div>
    
                        <h4 class="title">Micro Learning</h4>
                        <div class="content">
                            As per the concept of micro learning we have divided this course into several micro learning concepts. Each concept have few topics related to it, candidate can opt for any concept which he or she wants to learn and just need to pay the fees of that particular topic only.
                            <br>
                            <br>
                            All the topics listed below are arranged in a sequential flow which means if someone opts to learn a particular topic/concept, he/she should be comfortable with all the previous topics.
    At end of each concept candidate needs to go through the assignment related to the topic along with an examination to make sure the candidate understand the topic clearly.
    <br>
                            <br>
                            Candidate can choose from the pool of our available trainers. Detailed profile of each trainer is available on our platform along with the review or ratings from all the students. Candidate can choose any trainer from the list.
    <br>
    <br>
    Apart from micro learning candidate can choose for the bundled package (Full course also) and can convert his micro learning into bundled package any time. In that case cost of micro learning topics will be deducted from the full package cost  and candidate can pay the remaining amount.
    
                        </div>
    
                        <h4 class="title">Course Outline</h4>
                        <div class="content">
                            <div class="accordion" id="accordionExample">
                                <div class="card">
                                  <div class="card-header" id="headingOne">
                                        <h2 class="mb-0">
                                                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                        Web Development Basics and Tools
                                                </button>
                                              </h2> 
                                  <div class="courseLink">
                                        <div class="courseRegister">
                                                <a (click)="register(5,1)" class="genric-btn  primary-border">Duration: 4 hrs</a>
                                            
                                          </div> 
                                          <div class="courseRegister">
                                                <a (click)="register(5,1)" class="genric-btn  info-border">Fees: &#x20B9; 1500</a>
                                            
                                          </div>
                                          <div class="courseRegister">
                                                <a (click)="register(5,1)"class="genric-btn info circle">Register</a>
                                            
                                          </div>
                                  </div> 
                                 
                                  </div>
                              
                                  <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                                    <div class="card-body">
                                     <p>This module will introduce the candidates to the world of front end development its various aspects and how React fits in here.
                                     <p><h3>Topics/Concepts</h3>
                                     <ul>
                                            <li >What is internet, web or w3</li><li >Domain and DNS</li><li >Http basics</li><li >Request-response model</li>
                                            <li >Visual studio code, &nbsp;IntelliJ, Spring tool Suite, &nbsp;</li>
                                            <li >
                                                MySQL benchmark, &nbsp;Postman</li>
                                            <li >Version Control - Git</li>
                                         
                                     </ul>
                                     <p><h3>Hands on/Practical</h3>
                                     <ul>
                                         <li>Tools set up in system</li>
                                         <li>Using Tools for Development</li>
                                     </ul>
                                     <p><h3>Assignment/Assesment</h3>
                                            <ul>
                                                <li>Complete an Assignment provided by the Trainer</li>
                                                <li>Online exam to test the candidate understandings of the concepts</li>
                                            </ul>
                                    </div>
                                  </div>
                                </div>
                               
                                <div class="card">
                                        <div class="card-header" id="headingTwo" >
                                                <h2 class="mb-0">
                                                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                                                                Java - Programming basics
                                                        </button>
                                                      </h2> 
                                                      <div class="courseLink">
                                                            <div class="courseRegister">
                                                                    <a (click)="register(5,2)" class="genric-btn  primary-border">Duration: 6 hrs</a>
                                                                
                                                              </div> 
                                                              <div class="courseRegister">
                                                                    <a (click)="register(5,2)" class="genric-btn  info-border">Fees: &#x20B9; 2000</a>
                                                                
                                                              </div>
                                                              <div class="courseRegister">
                                                                    <a (click)="register(5,2)" class="genric-btn info circle">Register</a>
                                                                
                                                              </div>
                                                      </div> 
                                                
                                                </div>
                                  <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                                    <div class="card-body">
                                            <p>In this module, you will learn React core concepts like Components, State and Props and how to use them in the react application
                                            <p><h3>Topics/Concepts</h3>
                                            <ul>
                                                    <li _ngcontent-c15="">Introduction and History</li><li _ngcontent-c15="">Environment Setup</li><li _ngcontent-c15="">Hello World! program</li><li _ngcontent-c15="">Variable, primitive data-type, keywords</li><li _ngcontent-c15="">Operator, conditional statements</li><li _ngcontent-c15="">Array, Struct, Enum</li><li _ngcontent-c15="">Switch, loop</li>
                                                    <li _ngcontent-c15="">Collection- ArrayList, Dictionary, Hash Table</li><li _ngcontent-c15="">Exception- Handling, throw, Custom exception</li>
                                            </ul>
                                            <p><h3>Hands on/Practical</h3>
                                            <ul>
                                                <li>Data structure Problems using the basic Java Programming</li>
                                                
                                            </ul>
                                            <p><h3>Assignment/Assesment</h3>
                                            <ul>
                                                <li>Complete an Assignment provided by the Trainer</li>
                                                <li>Online exam to test the candidate understandings of the concepts</li>
                                            </ul>
                                            
                                    </div>
                                  </div>
                                </div>
                                <div class="card">
                                  <div class="card-header" id="headingThree">
                                    <h2 class="mb-0">
                                      <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                            Java - OOPs and Design Pattern
                                      </button>
                                    </h2>
                                    <div class="courseLink">
                                            <div class="courseRegister">
                                                    <a (click)="register(5,3)" class="genric-btn  primary-border">Duration: 8 hrs</a>
                                                
                                              </div> 
                                              <div class="courseRegister">
                                                    <a (click)="register(5,3)" class="genric-btn  info-border">Fees: &#x20B9; 2500</a>
                                                
                                              </div>
                                              <div class="courseRegister">
                                                    <a (click)="register(5,3)" class="genric-btn info circle">Register</a>
                                                
                                              </div>
                                      </div> 
                                  </div>
                                  <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                                    <div class="card-body">
                                            <p>In this module candidate will understand the concepts of connecting React app with backend Rest API, understanding the HTTP protocol, how to secure your application and how to use third party library called Axios for API calls
                                            <p><h3>Topics/Concepts</h3>
                                            <ul>
                                                    <li _ngcontent-c15="">Inheritance</li><li _ngcontent-c15="">Composition</li><li _ngcontent-c15="">Interface</li><li _ngcontent-c15="">Inner and abstract Classes</li><li _ngcontent-c15="">Dependency Injection</li><li _ngcontent-c15="">Singleton Pattern</li><li _ngcontent-c15="">Builder Pattern</li><li _ngcontent-c15="">Chain of Responsibility Pattern</li>
                                                
                                            </ul>
                                            <p><h3>Hands on/Practical</h3>
                                            <ul>
                                                <li> Sample Banking Application backend code using OOPS concepts </li>
                                                <li>Implement the Design patterns in the code  </li>
                                                
                                            </ul>
                                            <p><h3>Assignment/Assesment</h3>
                                            <ul>
                                                <li>Complete an Assignment provided by the Trainer</li>
                                                <li>Online exam to test the candidate understandings of the concepts</li>
                                            </ul>
                                    </div>
                                  </div>
                                </div>
                                <div class="card">
                                        <div class="card-header" id="headingFour">
                                          <h2 class="mb-0">
                                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                                Java - Introduction RESTFul Web Services (API's)
                                            </button>
                                          </h2>
                                          <div class="courseLink">
                                                <div class="courseRegister">
                                                        <a (click)="register(5,4)" class="genric-btn  primary-border">Duration: 8 hrs</a>
                                                    
                                                  </div> 
                                                  <div class="courseRegister">
                                                        <a (click)="register(5,4)" class="genric-btn  info-border">Fees: &#x20B9; 2500</a>
                                                    
                                                  </div>
                                                  <div class="courseRegister">
                                                        <a (click)="register(5,4)" class="genric-btn info circle">Register</a>
                                                    
                                                  </div>
                                          </div> 
                                        </div>
                                        <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                                          <div class="card-body">
                                              <ul>
                                                    <li _ngcontent-c15="">What is Spring and SpringBoot</li><li _ngcontent-c15="">Setting up development environment</li><li _ngcontent-c15="">Maven and dependencies management</li><li _ngcontent-c15="">Hello Web API application</li><li _ngcontent-c15="">Controller, Routing</li>
                                            </ul>
                                                <p><h3>Hands on/Practical</h3>
                                            <ul>
                                                <li>Implement the First Web API using Spring</li>
                                                
                                                
                                            </ul>
                                            <p><h3>Assignment/Assesment</h3>
                                            <ul>
                                                <li>Complete an Assignment provided by the Trainer</li>
                                                <li>Online exam to test the candidate understandings of the concepts</li>
                                            </ul>
                                          </div>
                                        </div>
                                      </div>
                                      <div class="card">
                                            <div class="card-header" id="headingFive">
                                              <h2 class="mb-0">
                                                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                                    Java-Spring Boot Web API Advance
                                                </button>
                                              </h2>
                                              <div class="courseLink">
                                                    <div class="courseRegister">
                                                            <a (click)="register(5,5)" class="genric-btn  primary-border">Duration: 8 hrs</a>
                                                        
                                                      </div> 
                                                      <div class="courseRegister">
                                                            <a (click)="register(5,5)" class="genric-btn  info-border">Fees: &#x20B9; 3000</a>
                                                        
                                                      </div>
                                                      <div class="courseRegister">
                                                            <a (click)="register(5,5)" class="genric-btn info circle">Register</a>
                                                        
                                                      </div>
                                              </div> 
                                            </div>
                                            <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
                                              <div class="card-body">
                                                  <ul>
                                                        <li _ngcontent-c15="">N-tier Architecture</li><li _ngcontent-c15="">Dependency Injection in Spring</li><li _ngcontent-c15="">@Bean and @Component in Spring</li><li _ngcontent-c15="">Entity and its relationship</li><li _ngcontent-c15="">SAO, DAO</li><li _ngcontent-c15="">Hibernate, Spring Data JPA</li><li _ngcontent-c15="">Web API for CRUD with dynamic data</li><li _ngcontent-c15="">Filters and Middleware</li>
                                            </ul>
                                                <p><h3>Hands on/Practical</h3>
                                                <ul>
                                                        <li> Implement the enterprise Web API's using spring boot</li>
                                                        <li> Implement the advance concepts like Dependency Injection Factory Pattern etc.</li>
                                                        
                                                        
                                                        
                                                    
                                                </ul>
                                                <p><h3>Assignment/Assesment</h3>
                                                <ul>
                                                    <li>Complete an Assignment provided by the Trainer</li>
                                                    <li>Online exam to test the candidate understandings of the concepts</li>
                                                </ul>
                                              </div>
                                            </div>
                                          </div>
                                          <div class="card">
                                                <div class="card-header" id="headingSix">
                                                  <h2 class="mb-0">
                                                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                                            Java - Spring Boot Micro service Architecture API Security using OAuth2.0 JWT
                                                    </button>
                                                  </h2>
                                                  <div class="courseLink">
                                                        <div class="courseRegister">
                                                                <a (click)="register(5,6)" class="genric-btn  primary-border">Duration: 12 hrs</a>
                                                            
                                                          </div> 
                                                          <div class="courseRegister">
                                                                <a (click)="register(5,6)" class="genric-btn  info-border">Fees: &#x20B9; 4000</a>
                                                            
                                                          </div>
                                                          <div class="courseRegister">
                                                                <a (click)="register(5,6)" class="genric-btn info circle">Register</a>
                                                            
                                                          </div>
                                                  </div> 
                                                </div>
                                                <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordionExample">
                                                  <div class="card-body">
                                                        <ul>
                                                                <li _ngcontent-c15="">Authentication and Authorization</li><li _ngcontent-c15="">Spring Security, OAuth, JWT</li><li _ngcontent-c15="">Serialization, Deserialization, JSON</li><li _ngcontent-c15="">Exception and Error handling, Logging</li><li _ngcontent-c15="">Micorservice Architecture with Spring Boot</li>
                                                            </ul>
                                                                <p><h3>Hands on/Practical</h3>
                                                                <ul>
                                                                        <li> Implement Security in the web API using the JWT and OAuth</li>
                                                                        <li>Implement API's using Microservices Architecture</li>
                                                                        
                                                                        
                                                                        
                                                                    
                                                                </ul>
                                                                <p><h3>Assignment/Assesment</h3>
                                                                <ul>
                                                                    <li>Complete an Assignment provided by the Trainer</li>
                                                                    <li>Online exam to test the candidate understandings of the concepts</li>
                                                                   
                                                                </ul>
                                                  </div>
                                                </div>
                                              </div>
                                              <div class="card">
                                                    <div class="card-header" id="headingSeven">
                                                      <h2 class="mb-0">
                                                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                                                                Java - Database connections and concepts
                                                        </button>
                                                        
                                                      </h2>
                                                      <div class="courseLink">
                                                            <div class="courseRegister">
                                                                    <a (click)="register(5,7)" class="genric-btn  primary-border">Duration: 10 hrs</a>
                                                                
                                                              </div> 
                                                              <div class="courseRegister">
                                                                    <a (click)="register(5,7)" class="genric-btn  info-border">Fees: &#x20B9; 3000</a>
                                                                
                                                              </div>
                                                              <div class="courseRegister">
                                                                    <a (click)="register(5,7)" class="genric-btn info circle">Register</a>
                                                                
                                                              </div>
                                                      </div> 
                                                    </div>
                                                    <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordionExample">
                                                      <div class="card-body">
                                                            <ul>
                                                                    <li _ngcontent-c15="">Introduction to the Database concepts</li>
                                                                    <li _ngcontent-c15="">Understading MySQL DB queries,Joins Stored procedures etc.</li>
                                                                    <li _ngcontent-c15="">Database connection and setup using JDBC</li>
                                                                    <li _ngcontent-c15="">Hibernate, Spring Data JPA</li>
                                                                    
                                                                   
                                                                </ul>
                                                                    <p><h3>Hands on/Practical</h3>
                                                                    <ul>
                                                                            <li>Connecting Web API's with Database using JDBC</li>
                                                                            <li> Connecting Web API's using spring Data JPA</li>
                                                                            
                                                                            <li> Writing custom hooks</li>
                                                                            
                                                                        
                                                                    </ul>
                                                                    <p><h3>Assignment/Assesment</h3>
                                                                    <ul>
                                                                        <li>Complete an Assignment provided by the Trainer</li>
                                                                        <li>Online exam to test the candidate understandings of the concepts</li>
                                                                       
                                                                    </ul>
                                                      </div>
                                                    </div>
                                                  </div>
    
                                                 
                                                     
                                                      <div class="card">
                                                        <div class="card-header" id="headingNine">
                                                          <h2 class="mb-0">
                                                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
                                                                    JAVA Application Unit Testing and Deployment on AWS
                                                            </button>
                                                          </h2>
                                                          <div class="courseLink">
                                                                <div class="courseRegister">
                                                                        <a (click)="register(5,8)" class="genric-btn  primary-border">Duration: 6 hrs</a>
                                                                    
                                                                  </div> 
                                                                  <div class="courseRegister">
                                                                        <a (click)="register(5,8)" class="genric-btn  info-border">Fees: &#x20B9; 2000</a>
                                                                    
                                                                  </div>
                                                                  <div class="courseRegister">
                                                                        <a (click)="register(5,8)" class="genric-btn info circle">Register</a>
                                                                    
                                                                  </div>
                                                          </div> 
                                                        </div>
                                                        <div id="collapseNine" class="collapse" aria-labelledby="headingNine" data-parent="#accordionExample">
                                                          <div class="card-body">
                                                                <ul>
                                                                        <li>Understanding Unit testing</li>
                                                                        <li> Writing Test cases using Mockito </li>
                                                                       
                        
                                                                        <li _ngcontent-c10="">AWS account setup</li><li _ngcontent-c10="">Web API/Services hosting on AWS EC2 instance</li><li _ngcontent-c10="">Database Hosting on AWS RDS server</li>
                                                                       
                                                                    </ul>
                                                                        <p><h3>Hands on/Practical</h3>
                                                                        <ul>
                                                                                <li>Fetch API data using useEffect() hook</li>
                                                                                <li> Pass multiple Context using useContext() hook</li>
                                                                                
                                                                                <li> Writing custom hooks</li>
                                                                                
                                                                            
                                                                        </ul>
                                                                        <p><h3>Assignment/Assesment</h3>
                                                                        <ul>
                                                                            <li>Complete an Assignment provided by the Trainer</li>
                                                                            <li>Online exam to test the candidate understandings of the concepts</li>
                                                                           
                                                                        </ul>
                                                          </div>
                                                        </div>
                                                      </div>
                                                      <div class="card">
                                                        <div class="card-header" id="headingTen">
                                                          <h2 class="mb-0">
                                                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
                                                             Any Custom Topic/Particular issue Support
                                                            </button>
                                                          </h2>  <div class="courseLink">
                                                                <!-- <div class="courseRegister">
                                                                        <a href="Register.hmtl?courseid=react&topicid=9" class="genric-btn  primary-border">Duration: 6 hrs</a>
                                                                    
                                                                  </div> 
                                                                  <div class="courseRegister">
                                                                        <a href="Register.hmtl?courseid=react&topicid=9" class="genric-btn  info-border">Fees: &#x20B9; 2500</a>
                                                                    
                                                                  </div> -->
                                                                  <div class="courseRegister">
                                                                        <a (click)="register(5,9)" class="genric-btn info circle">Register</a>
                                                                    
                                                                  </div>
                                                          </div> 
    
                                                        </div>
                                                        <div id="collapseTen" class="collapse" aria-labelledby="headingTen" data-parent="#accordionExample">
                                                          <div class="card-body">
                                                           If Any one wants to learn any custom topic or require some support with particular issue or Topic he/she can register and share the details.Our Expert/Trainers will get in touch with you. Based on discussion and complexity price will be decided
                                                          </div>
                                                        </div>
                                                      </div>
                              </div>
                        </div>
                    </div>
                </div>
    
    
                <div class="col-lg-4 right-contents">
                    <ul>
                        <li>
                            <a class="justify-content-between d-flex" href="#">
                                <p>Course Duration (Full Course)
                                <span class="or">56 hrs</span>
                            </a>
                        </li>
                        <li>
                            <a class="justify-content-between d-flex" href="#">
                                <p>Course Fee 
                                <span> &#x20B9; 20000</span>
                            </a>
                        </li>
                        <li>
                            <a class="justify-content-between d-flex" href="#">
                                <p>Weekdays 
                                <span>7:00 am to 8:30 am</span>
                            </a>
                        </li>
                        <li>
                            <a class="justify-content-between d-flex" href="#">
                                <p>Weekends 
                                <span>(9 to 11:30 am)/ (3:30  to 6 p.m.) </span>
                            </a>
                        </li>
                    </ul>
                    <a (click)="register(5,0)"  class="primary-btn text-uppercase enroll">Enroll the course</a>
    
                    <h4 class="title">Reviews</h4>
                    <div class="content">
                        <app-reviews [courseId]="courseId"></app-reviews>
                       
                        <h4  style="margin-top:86px" class="title">FAQ's</h4>
                        <app-faq></app-faq>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================ End Course Details Area =================-->
    
    