<!-- <img [src]="imgUrl" alt="Snow" /> -->
<div class="container"
    style="background-image: url('../../../../assets/HomePageImg/Home Page _ Images/footerBackgroudEdit.png');margin-top: 100px;background-size: cover;height: 300px;">
    <div class="dcol-3">
        <img src="../../../assets/img/logonew.svg" style="height: 40px;">
    </div>
    <div class="dcol-3 alingdiv">
        <div class="txtFreelance">CONTACT US <span>INFO@SHAPENPRINT.COM</span></div>

    </div>

    <div class="dcol-3 positioncontainerRight">
        <div class="container">
            <div class="dcol-5">
                <img src="../../../../assets/DashBoard/img/link.jpg" class="imgEditPenSize">
            </div>
            <div class="dcol-5">
                <img src="../../../../assets/DashBoard/img/Instagram.png" class="imgEditPenSize">
            </div>
            <div class="dcol-5">
                <img src="../../../../assets/DashBoard/img/Twiter1200.png" class="imgEditPenSize">
            </div>
            <div class="dcol-5">
                <img src="../../../../assets/DashBoard/img/fb.jpg" class="imgEditPenSize">
            </div>

        </div>

    </div>
</div>