<!-- <img [src]="imgUrl" alt="Snow" /> -->
<div class="container "
    style="background-image: url('../../../../assets/HomePageImg/Home Page _ Images/Bottom Background 1200.png');background-size: cover;">
    <div class="d-flex w-100">

        <div class="dcol-3 doc-cust1">
            <img src="../../../assets/img/logonew.svg" style="height: 40px;">
        </div>
        <div class="dcol-3 hide-mob doc-cust2 alingdiv" style="margin-left:10%">
            <div class="txtFreelance">CONTACT US <span>INFO@SHAPENPRINT.COM</span></div>

        </div>

        <div class="dcol-3 doc-cust3 positioncontainerRight">
            <div class="container social-icon">
                <div class="dcol-5">
                    <img src="../../../../assets/DashBoard/img/link.jpg" class="imgEditPenSize"
                        (click)="openLinkSocial(' https://www.linkedin.com/company/shapenprint',$event)">
                </div>
                <div class="dcol-5">
                    <img src="../../../../assets/DashBoard/img/Instagram.png" class="imgEditPenSize"
                        (click)="openLinkSocial(' https://www.instagram.com/shapenprint',$event)">
                </div>
                <div class="dcol-5">
                    <img src="../../../../assets/DashBoard/img/Twiter1200.png" class="imgEditPenSize"
                        (click)="openLinkSocial('https://www.twitter.com/shapenprint',$event)">
                </div>
                <div class="dcol-5">
                    <img src="../../../../assets/DashBoard/img/fb.jpg" class="imgEditPenSize"
                        (click)="openLinkSocial(' https://www.facebook.com/shapenprint',$event)">
                </div>

            </div>

        </div>
    </div>
    <div class="d-flex justify-content-center ">
        <div class="txtFreelance vis-mob">CONTACT US <span>INFO@SHAPENPRINT.COM</span></div>

    </div>
</div>
<!-- /*begin new footer  */ -->
<div class="footer-menu-block" style="display:none">
    <div class="container">
        <div class="row w-100">
            <div class="col-6 col-sm-3">
                <b>Products</b>
                <ul>
                    <li>
                        <a href="#">Logo</a></li>
                    <li> <a href="#">Flyer</a></li>
                    <li> <a href="#">Brochure</a></li>
                    <li> <a href="#">Digital Marketing Banner</a></li>
                    <li> <a href="#">All Products</a></li>

                </ul>

            </div>

            <div class="col-6 col-sm-3">
                <b> What we offer</b>
                <ul>
                    <li>
                        <a href="#">Design </a></li>
                    <li> <a href="#">Print</a></li>
                    <li> <a href="#">Design & Print</a></li>
                    <li> <a href="#">Bulk Order</a></li>
                    <li> <a href="#">Something Else </a></li>

                </ul>

            </div>
            <div class="col-6 col-sm-2">
                <b> Support</b>
                <ul>
                    <li>
                        <a href="#">Help & Support </a></li>

                </ul>
            </div>
            <div class="col-6 col-sm-1">
                <b> Blog</b>

            </div>
            <div class="col-sm-3 ">
                <b> About shapeNprint</b>
                <ul>
                    <li> <a href="#"> About Us </a></li>
                    <li> <a href="#"> Terms and Conditions </a></li>
                    <li> <a href="#"> Become a Service Provider</a></li>

                </ul>
            </div>



        </div>
    </div>
</div>
<!-- /*End new footer css */ -->
<div class="containerFooter" style="margin-top: 50px;"
    style="background:cornflowerblue;text-align: center; color:white">
    <span style="font-family: 'Maven Pro';font-size: 12px;">COPYRIGHT @ RESERVED RJB
        INTERNATIONAL</span>
</div>