<app-navbar *ngIf="!displayUserNavbar && displayNavigation"></app-navbar>
<div
  style="position: fixed;width:100%"
  *ngIf="displayUserNavbar && displayNavigation"
>
  <app-navbaruser></app-navbaruser>

  <app-navbarcommon></app-navbarcommon>
</div>
<!-- <app-homelink-page></app-homelink-page> -->
<div
  [ngStyle]="{ 'padding-top': displayNavigation === true ? '120px' : '0px' }"
>
  <router-outlet></router-outlet>
</div>

<app-footer *ngIf="displayNavigation"></app-footer>
<!-- <router-outlet></router-outlet> -->
