<app-section-top-nav *ngIf="displayTopNav" (componentLoaded)="topNavLoaded($event)"></app-section-top-nav>
<app-section-products *ngIf="displayTopNav" class="sticky"></app-section-products>
<router-outlet></router-outlet>

<!-- <app-navbar *ngIf="!displayUserNavbar && displayNavigation"></app-navbar>
<div
  style="position: fixed;width:100%"
  *ngIf="displayUserNavbar && displayNavigation"
>
  <app-navbaruser></app-navbaruser>

  <app-navbarcommon></app-navbarcommon>
</div>


<div [ngStyle]="getStyle()">
  <router-outlet></router-outlet>
</div> -->

<!-- <app-footer *ngIf="displayNavigation"></app-footer> -->