<div class="sidebar" data-color="white" data-active-color="danger">
  <!--
      Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red | yellow"
  -->
  <div class="logo">
    <a routerLink="/" class="simple-text logo-mini">
      <div class="logo-image-small">
        <img src="../../../assets/img/logo.png" />
      </div>
    </a>
    <a routerLink="/" class="simple-text logo-normal">
      SHAPENPRINT
      <!-- <div class="logo-image-big">
          <img src="../assets/img/logo-big.png">
        </div> -->
    </a>
  </div>
  <div class="sidebar-wrapper" *ngIf="displayLeftNav">
    <ul class="nav">
      <li>
        <a routerLink="/students/dashboard" routerLinkActive="active">
          <i class="nc-icon nc-bank"></i>
          <p>Dashboard</p>
        </a>
      </li>

      <li>
        <a routerLink="/students/orders" routerLinkActive="active">
          <i class="nc-icon nc-briefcase-24"></i>
          <p>Orders</p>
        </a>
      </li>

      <li>
        <a routerLink="/students/profile" routerLinkActive="active">
          <i class="nc-icon nc-single-02"></i>
          <p>User Profile</p>
        </a>
      </li>
      <li>
        <a routerLink="/students/payments" routerLinkActive="active">
          <i class="nc-icon nc-bank"></i>
          <p>Payments</p>
        </a>
      </li>
      <li>
        <a routerLink="/students/help" routerLinkActive="active">
          <i class="nc-icon nc-support-17"></i>
          <p>Help</p>
        </a>
      </li>
      <li>
        <a routerLink="/students/settings" routerLinkActive="active">
          <i class="nc-icon nc-settings-gear-65"></i>
          <p>Settings</p>
        </a>
      </li>
      <li>
        <a routerLink="/students/notifications" routerLinkActive="active">
          <i class="nc-icon nc-email-85"></i>
          <p>Notifications</p>
        </a>
      </li>
    </ul>
  </div>
</div>
