<div class="container" style="height: 200px; margin-top: 50px;">
    <div class="dcol-3 alingdiv">
        <div class="txtFreelance">How We</div>
        <div class="txtFreelance" style="font-size: 35px;
            font-weight: 900;">Print</div>
    </div>
    <div class="dcol-2"
        style="background-image: url('../../../../assets/HomePageImg/Home Page _ Images/How we priint background1200.png') !important;background-size: cover;">
        <div class="container">
            <div class="dcol-6 alingDesingImg">
                <img src="../../../../assets/HomePageImg/Home Page _ Images/Upload Design1200.png">
            </div>
            <div class="dcol-6 alingDesingImg">
                <img src="../../../../assets/HomePageImg/Home Page _ Images/Nearest Print done1200.png">
            </div>
            <div class="dcol-6 alingDesingImg">
                <img src="../../../../assets/HomePageImg/Home Page _ Images/Door Delivery1200.png">
            </div>


        </div>
    </div>

</div>