<div class="container" style="display: none;">
    <div class="row">
        <div class="col-md-12 py-4 text-center">
            <h1>List of Active orders</h1>
        </div>
    </div>
    <ag-grid-angular style="width: 810px; height: 1000px; margin: auto;" [gridOptions]="gridOptions"
        class="ag-theme-alpine" (gridReady)="OngridReady($event)" [rowData]="ongoingOrderData" [columnDefs]="columnDefs"
        [frameworkComponents]="frameworkComponents">
    </ag-grid-angular>
</div>

<div class="row" style="margin-top: 80px;margin-left: 0px;
margin-right: 0px;">
    <div class="col-md-12">
        <div class="card " style="background-color: transparent !important;">
            <div class="card-header ">
                <h5 class="card-title" style="text-align: center;
                font-size: 24px;
                font-family: maven pro black;
                font-weight: 900;">ALL Orders</h5>

            </div>
            <div class="card-body ">
                <div class="content" style="margin-top:0px">
                    <div class="row">
                        <div class="col-md-10">
                            <div class="">

                                <div class="" style="margin-left: 20%;">
                                    <ag-grid-angular style="width: 810px; height: 400px; margin: auto;"
                                        [gridOptions]="gridOptions" class="ag-theme-alpine"
                                        (gridReady)="OngridReady($event)" [rowData]="ongoingOrderData"
                                        [columnDefs]="columnDefs" [frameworkComponents]="frameworkComponents"
                                        [paginationPageSize]="50" [pagination]="true">
                                    </ag-grid-angular>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer ">
                <hr />

            </div>
        </div>
    </div>
</div>