.input01 {
  border-radius: 10px;
  width: 100%;
  border: 1px solid lightblue;
  max-width: 400px;
}
.dropdownitem {
  cursor: pointer;
  font-family: "Maven pro";
  color: inherit !important;
  /* color: blue !important;
  text-decoration: underline !important; */
}
.dropdownitem:hover {
  background-color: none !important;
}
.mainheading {
  font-family: "Maven pro";
  font-size: 18px;
}
@media (min-width: 1200px) {
  .container {
    max-width: 1340px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  .vLine {
    border-right: 2px solid lightblue;
    /* height: 3px; */
    /* margin-top: 13px; */
    height: 53px;
    margin-left: 15px;
  }
  .dcol-3 {
    flex-wrap: nowrap;
    width: 33%;
  }
  .dcol-2 {
    flex-wrap: nowrap;
    width: 75%;
  }
  .dcol-4 {
    flex-wrap: nowrap;
    width: 15%;
    text-align: left;
    margin-left: 2%;
  }
  .dcol-5 {
    flex-wrap: nowrap;
    width: 100%;
  }
  .dcol-6 {
    flex-wrap: nowrap;
    width: 15%;
  }
  .alingDesingImg {
    padding-top: 60px;
    margin-left: 6%;
  }
  .searchBtnStyle {
    border-radius: 10px;
    /* border-color: lightblue; */
    border: 1px solid lightblue;
  }
  .txtFreelance {
    font-weight: bold;
    font-family: "Maven Pro";
  }
  .alingdiv {
    padding-top: 60px;
    /* padding-left: 9%; */
  }
  .imgEditpenposition {
    padding-top: 30px;
  }
  .imgEditPenSize {
    width: 20px;
    height: 40px;
  }
  .textStyle {
    font-family: Maven pro;
    font-size: 12px;
    font-weight: 300;
  }
  .positioncontainerRight {
    padding-top: 40px;
    padding-left: 60px;
  }
  .imgEditPrintSize {
    height: 30px;
    padding-top: 5px;
    width: 20px;
  }
}
@media (max-width: 768px) {
  .imgEditPrintSize {
    height: 30px;
    padding-top: 5px;
    width: 20px;
  }
  .txtFreelance {
    font-weight: 700;
  }
  .alingdiv {
    padding-top: 100px;
  }
  .searchBtnStyle {
    border-radius: 10px;
    /* border-color: lightblue; */
    border: 1px solid lightblue;
  }
  .imgEditpenposition {
    padding-top: 30px;
  }
  .imgEditPenSize {
    width: 30px;
    height: 30px;
  }
  .textStyle {
    font-family: Maven pro;
    font-size: 12px;
    font-weight: 300;
  }
  .input01 {
    border-radius: 10px;
    width: 100%;
    max-width: auto;
  }
  .dcol-4 {
    float: left;
    width: 46%;
    text-align: left;
  }
  .dcol-4 {
    border-right: 2px solid lightblue;
    margin-right: 10px;
  }
  .mob-no-border {
    border: none;
  }
  .dcol-5 {
    clear: both;
  }
}
