<header class="animated fadeInDown nav-bar-two " id="navbar">
    <app-section-top-nav id="topNav" class="topNavhide"></app-section-top-nav>
    <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-two" style="margin-top: -15px;">
        <!-- <a class="navbar-brand" href="#">Navbar</a> -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon" style="height: 30px;background-color: transparent;"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown" style="justify-content:center;">
            <ul class="navbar-nav">
                <li class="nav-item borderNav">
                    <a class="nav-link" (click)="navigateToProduct('Logo',$event)">LOGO</a>
                </li>
                <li class="nav-item active borderNav">
                    <div class="vLine"></div>
                </li>
                <li class="nav-item active borderNav">
                    <a class="nav-link" (click)="navigateToProduct('Flyers',$event)">FLYER <span
                            class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active borderNav">
                    <div class="vLine"></div>
                </li>
                <li class="nav-item borderNav">
                    <a class="nav-link" (click)="navigateToProduct('Digital Marketing',$event)">DIGITAL
                        MARKETING BANNER</a>
                </li>
                <li class="nav-item active borderNav">
                    <div class="vLine"></div>
                </li>
                <li class="nav-item borderNav">
                    <a class="nav-link" (click)="navigateToProduct('Business Cards',$event)">BUSINESS CARD</a>
                </li>
                <li class="nav-item active borderNav">
                    <div class="vLine"></div>
                </li>
                <li class="nav-item borderNav">
                    <a class="nav-link" (click)="navigateToProduct('Brochure',$event)">BROCHURE</a>
                </li>
                <li class="nav-item active borderNav">
                    <div class="vLine"></div>
                </li>



                <li class="nav-item borderNav">
                    <a class="nav-link" (click)="navigateToProduct('Stickers/Labels',$event)">STICKERS/LABELS</a>
                </li>
                <li class="nav-item active borderNav">
                    <div class="vLine"></div>
                </li>
                <li class="nav-item borderNav">
                    <a class="nav-link" (click)="navigateToProduct('Poster',$event)">POSTER</a>
                </li>
                <li class="nav-item active borderNav">
                    <div class="vLine"></div>
                </li>
                <li class="nav-item borderNav">
                    <a class="nav-link" (click)="navigateToProduct('Stickers/Labels',$event)">BULK ORDER</a>
                </li>
                <li class="nav-item active borderNav">
                    <div class="vLine"></div>
                </li>

                <!-- 9415191978 -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        All Products
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">

                        <div class="menuItemDD" *ngFor="let menuItem of products">
                            <a class="dropdown-item" (click)="navigateToProduct(menuItem,$event)">{{menuItem}}</a>
                        </div>


                    </div>
                </li>
            </ul>
        </div>
    </nav>
</header>