.navbar a:not(.btn):not(.dropdown-item) {
  color: lightgrey;
}
.bg-light {
  background-color: white !important;
}

@media (min-width: 778px) {
  .borderNav {
    border-right: 0x solid;
  }
}
@media (max-width: 778px) {
  .borderNav {
    border-right: 0px solid;
  }
  .navbar-toggler span {
    height: 27px !important;
  }
}
.sticky {
  background: #fff;
  box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.08);
  position: fixed;
  top: 0;
  height: 70px;
  width: 100%;
  z-index: 99;
}
.dropdown-menu {
  width: 100%;
}
.dropdown {
  position: static !important;
}

.dropdown-menu {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
  margin-top: 0px !important;
  width: 75% !important;
  margin-left: 5%;
  display: flex;
  flex-wrap: wrap;
}
.vLine {
  border-right: 2px solid lightblue;
  height: 3px;
  margin-top: 13px;
  height: 13px;
  margin-left: 15px;
  margin-right: 15px;
}
.menuItemDD {
  width: 15%;
}
.topNavhide {
  display: none;
}
.productNavMarginLeft {
  margin-left: 5%;
}
.productNavMarginTop {
  margin-top: -30px;
}
.navbar .navbar-collapse .nav-item a {
  color: black !important;
  font-weight: 200;
  font-family: "Maven Pro";
  font-size: 13px;
}
/* .navbar {
  position: initial !important;
} */

@media only screen and (max-width: 768px) {
  .navbar .navbar-nav .nav-item:not(:last-child) {
    padding-top: 0;
    margin-bottom: 0px;
  }

  .navbar-nav {
    background: rgb(231 239 245);
  }
  .bg-light {
    /* background-color: transparent !important; */
    margin-top: -65px !important;
  }
  .nav-item.active.borderNav {
    display: none;
  }
  #navbarNavDropdown {
    margin-left: 0 !important;
  }
  .navbar-two {
    display: none;
  }
}
