.container {
  max-width: 1300px;
}
.iframe{
  width: 100%;
  min-height: 320px;
}
.dcol-2{
  /* margin-left: 15%; */
}
.dot{
  background: url("../../../../assets/HomePageImg/Home Page _ Images/Your Plan_Tick Bullet1200.png");
  display: inline-block;
    width: 100%;
    font-family: Maven pro;
    font-size: 14px;
    font-weight: 300;
    background-repeat: no-repeat;
    background-size: 20px;
    padding: 0px 0 0 55px;
    background-position: 0px 5px;
  
}
.hide-mob{ display: block;}
.view-mob{ display: none;}
@media (min-width: 768px) {
  .points {
    margin-top: 20px;
    margin-left: 2em;
  }
  .indentSecond {
    text-indent: -2em;
  }
  
  .container {
    width: 100%;
    display: flex;
    flex-wrap: unset;
    justify-content: space-between;
  }
  .dcol-3 {
    flex-wrap: nowrap;
    width: 33%;
  }
  .dcol-2 {
    flex-wrap: nowrap;
    width: 49%;
  }
  .searchBtnStyle {
    border-radius: 10px;
    /* border-color: lightblue; */
    border: 1px solid lightblue;
  }
  .txtFreelance {
    font-weight: 900;
    font-family: "Maven Pro";
    font-size: 35px;
    line-height: 40px;
  }
  .alingdiv {
    padding-top: 100px;
  }
  .imgEditpenposition {
    padding-top: 30px;
  }
  .imgEditPenSize {
    width: 20px;
    height: 40px;
  }
  .textStyle {
    font-family:'Maven Pro', sans-serif;
    font-size: 16px;
    font-weight: 300;
  }
  .positioncontainerRight {
    padding-top: 40px;
    padding-left: 60px;
  }
  .imgEditPrintSize {
    height: 30px;
    padding-top: 5px;
    width: 20px;
  }
}
@media (max-width: 768px) {
  .imgEditPrintSize {
    height: 30px;
    padding-top: 5px;
    width: 20px;
  }
  .txtFreelance {
    font-weight: 700;
    font-size: 23px;
    line-height: 25px;
  }
  
  .alingdiv {
    padding-top: 60px;
  }
  .searchBtnStyle {
    border-radius: 10px;
    /* border-color: lightblue; */
    border: 1px solid lightblue;
  }
  .imgEditpenposition {
    padding-top: 30px;
  }
  .imgEditPenSize {
    width: 30px;
    height: 30px;
  }
  .textStyle {
    font-family: Maven pro;
    font-size: 14px;
    font-weight: 300;
  }
  .dcol-2{
    margin-left: 0;
  }
  .iframe{
    width: 100%;
    height: 240px;
  }
  .dot{
    padding: 0px 0 0 29px;
 
}
.hide-mob{ display: none;}
.view-mob{display: block;}
}
 