<!-- <img [src]="imgUrl" alt="Snow" /> -->
<div class="container">
    <div class="dcol-2 alingdiv">
        <div class="txtFreelance">Your plan, Our action </div>
        <div class="txtFreelance" style="margin-top: 10px;">We ensure your satisfaction! </div>

        <div class="points">
            <p class="indentSecond">
                <span><img src="../../../../assets/HomePageImg/Home Page _ Images/Your Plan_Tick Bullet1200.png"
                        height="20px"></span>
                <span style="padding-left: 10px;" class="textStyle">Only Verified Freelancers,one transparent
                    price</span>
            </p>

        </div>
        <div class="points">
            <p class="indentSecond"> <span><img
                        src="../../../../assets/HomePageImg/Home Page _ Images/Your Plan_Tick Bullet1200.png"
                        height="20px"></span>
                <span style="padding-left: 10px;" class="textStyle">
                    Its simple but significant,where
                    freelancing,technology,and creativity
                    connects
                </span></p>
        </div>
        <div class="points">
            <p class="indentSecond">
                <span><img src="../../../../assets/HomePageImg/Home Page _ Images/Your Plan_Tick Bullet1200.png"
                        height="20px"></span>
                <span style="padding-left: 10px;" class="textStyle">Your satisfaction is our duty,otherwise moneyback
                    gaurantee.* </span>
            </p>

        </div>
        <div class="points">
            <p class="indentSecond">
                <span><img src="../../../../assets/HomePageImg/Home Page _ Images/Your Plan_Tick Bullet1200.png"
                        height="20px"></span>
                <span style="padding-left: 10px;" class="textStyle">Payments are secured and powered by Razorpay </span>
            </p>

        </div>
        <div class="points" style="font-size: 12px;
        font-weight: 300;">T&C: Please Refer to Terms and Conditions</div>
    </div>
    <div class="dcol-2 alingdiv" style="margin-left:15%">
        <iframe width="420" height="215" src="https://www.youtube.com/embed/tgbNymZ7vqY">
        </iframe>
    </div>

</div>