<div class="modal-header">
    <!-- <h2 class="modal-title" style="margin-left: 15%;">Promotion Offer</h2> -->
    <button type="button" class="close" aria-label="Close" (click)="activeModal.close('Close click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="modal-body">
    <img [src]="promotionURL">
</div>




<!-- <div class="row" style="text-align: center;">
    <div class="col-md-12">
        <input class="form-control" [(ngModel)]="config.FlagName" disabled>

    </div>
    <div class="col-md-12" style="margin-top: 20px;">
        <input type="text" class="form-control" [(ngModel)]="config.FlagValue">

    </div>

</div> -->