<div class="wrapper ">
  <app-leftnav [resetFormSubject]="resetFormSubject.asObservable()"></app-leftnav>
  <div class="main-panel">
    <!-- Navbar -->
    <!-- <app-topnavuserlogin></app-topnavuserlogin> -->
    <app-topnav></app-topnav>
    <app-navbarcommon *ngIf="isPrinterVerified"></app-navbarcommon>
    <!-- End Navbar -->
    <!-- <div class="panel-header panel-header-sm">
      
      
      </div> -->
    <router-outlet></router-outlet>
    <!-- <app-footer></app-footer> -->
  </div>
</div>
<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">
  <p style="color: white">Please Wait.</p>
</ngx-spinner>