<!-- <img  src="../../../../assets/HomePageImg/Home Page _ Images/How we Design1200.png" alt="Snow" /> -->
<div class="container" style="height: 220px; margin-top: 50px;">
    <div class="dcol-5 alingdiv">
        <div class="txtFreelance">How We</div>
        <div class="txtFreelance" style="font-size: 35px;
        font-weight: 900;">Design</div>
    </div>
    <div class="dcol-2">
        <img  src="../../../../assets/HomePageImg/Home Page _ Images/How we Design1200.png" alt="Snow" />
    </div>
    <div class="dcol-2"
        style="background-image: url('../../../../assets/HomePageImg/Home Page _ Images/designbackground.png') !important;background-size: cover;display: none;">
        <div class="container">
            <div class="dcol-6 alingDesingImg">
                <img src="../../../../assets/HomePageImg/Home Page _ Images/Book Time Slot1200.png">
            </div>
            <div class="dcol-6 alingDesingImg">
                <img src="../../../../assets/HomePageImg/Home Page _ Images/Freelance Designer_11200.png"
                    style="height: 120px;">
            </div>
            <div class="dcol-6 alingDesingImg">
                <img src="../../../../assets/HomePageImg/Home Page _ Images/Revision Google meet_11200.png">
            </div>
            <div class="dcol-6 alingDesingImg">
                <img src="../../../../assets/HomePageImg/Home Page _ Images/Instant Design Delivery_11200.png">
            </div>

        </div>
    </div>

</div>