 <!--================Home Banner Area =================-->
 <section class="banner_area">
    <div class="banner_inner d-flex align-items-center">
        <div class="overlay"></div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="banner_content text-center">
                        <h2>About Us</h2>
                        <!-- <p style="font-size: xx-large;"><b>mLearn</b>  </p>
                        <p>The Micro Learning platform- Unbundle your learning   </p> -->
                        <!-- <div class="page_link">
                            <a href="index.html">Home</a>
                            <a href="about-us.html">About</a>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Home Banner Area =================-->

<!--================ Start Department Area =================-->
<div class="department_area">
    <div class="container">
        <div class="row align-items-center">
            <!-- <div class="col-lg-6 text-center">
                <img class="img-fluid" src="img/about-img.png" alt="">
            </div> -->

            <div class="offset-lg-1 col-lg-10">
                <div class="dpmt_right">
                    <h1  style="text-align: center;margin-top: 40px;font-weight: bold;">mLearn - Unbundle Your learning</h1>
                    <h2 style="text-align: center;margin-top: 40px;font-weight: bold;">Learn with your own pace</h2>
                    <p>We are the First organization which understood the importance of micro learning. With our decade long experience with Technical learning domain we realized that most of the candidates can easily understand and learn the basics of any technology but 90% of them face issues when they try to dig deeper in to the complex topics and without the proper guidance and lack on hands on experience they are not able to master them and gain the confidence in that particular technology stack.</p>
                    <p>All the course providers in the market provides the entire bundled packages of the course with all those topics which a candidate already knows and ends up paying even for those which he already knows.
                        We in mLearning understood that gap in the industry and came up with a solution of Pay as you learn on which a candidate only needs to pay for the topics which he/she wants to learn instead of paying for the entire bundled package.
                        Also if someone wants to learn from basics till advance they can choose our bundled package course in which also they choose pay as you learn approach where candidate can choose to pay as per the course progress instead of paying everything in one go and have an option to choose among multiple trainers in they are not satisfied with the existing one.
                        All our course are instructor led programs. Candidate can choose for online as well as the classroom base session. In the classroom session candidate need to visit the designated center to attend the session.  
                        </p>
                        <a routerLink="/explorecourses" class="primary-btn text-uppercase">Explore Courses</a>
                        <h2 style="text-align: center;margin-top: 40px;font-weight: bold;">Learning Options</h2>
                        <p class="format">On our platform you can choose any of the below mentioned learning Plans</p>
                        <h3>Micro Learning (Pay as Learn):</h3>
                        <p class="format">Under this program candidate can chose to pay only for the topics which he wants to learn.  </p>
                        <ol>
                            <li>
                                        Once candidate registers for a particular topic he/she will be mapped with the relevant trainers from the pool of our experienced trainers. 
                            </li>
                            <li>
                                    You can shortlist anyone of them based of the different parameters and you will get a chance to interact with them before starting with your learning. 
                            </li>
                            <li>
                                    Once candidate is satisfied he/she need to make the payment though the portal.
                            </li>
                            <li>
                                    After that you will receive the meeting link along with other relevant details regarding your session.
                            </li>
                        </ol>
                        <a routerLink="/explorecourses" class="primary-btn text-uppercase">Explore Courses</a>
                       
                        <h3 class="format">Bundled Learning (Full course):</h3>
                        <p class="format">If you are beginner you can always choose the entire bundled package.Which comes up with a very discounted rate  </p>
                        <ol>
                            <li>
                                    All our course are instructor led programs delivered by the working industry experts having multiple years of experience  
                            </li>
                            <li>
                                    You can choose for either of our online or classroom program. For classroom program you can choose any of our delivery center located in your city.
                            </li>
                            <li>
                                    In case if a delivery center is not located in your city you can always choose for our online programs which are equally good.
                            </li>
                            
                        </ol>
                    <a routerLink="/explorecourses" class="primary-btn text-uppercase">Explore Courses</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!--================ End Department Area =================-->

<!--================ Start Instructor Area =================-->
<div class="instructors_area lite_bg">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="main_title">
                    <h2>Our Team</h2>
                    <!-- <p>There is a moment in the life of any aspiring astronomer that it is time to buy that first
                        telescope. It’s exciting to think about setting up your own viewing station.</p> -->
                </div>
            </div>
        </div>
        
        <div class="row">
            
            <!-- single-instructor -->
            <div class="col-lg-3 col-sm-6">
                <div class="single_instructor">
                    <div class="author">
                        <img src="../../../assets/img/instructors/ins1.jpg" alt="">
                    </div>
                    <div class="author_decs">
                        <h4>Ethel Davis</h4>
                        <p class="profession">Sr. Faculty Data Science</p>
                        <p>If you are looking at blank cassettes on the web, you may be very confused at the
                            difference in price.</p>
                        <div class="social_icons">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- single-instructor -->
            <div class="col-lg-3 col-sm-6">
                <div class="single_instructor">
                    <div class="author">
                        <img src="../../../assets/img/instructors/ins2.jpg" alt="">
                    </div>
                    <div class="author_decs">
                        <h4>Rodney Cooper</h4>
                        <p class="profession">Sr. Faculty Data Science</p>
                        <p>If you are looking at blank cassettes on the web, you may be very confused at the
                            difference in price.</p>
                        <div class="social_icons">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- single-instructor -->
            <div class="col-lg-3 col-sm-6">
                <div class="single_instructor">
                    <div class="author">
                        <img src="../../../assets/img/instructors/ins3.jpg" alt="">
                    </div>
                    <div class="author_decs">
                        <h4>Dane Walker</h4>
                        <p class="profession">Sr. Faculty Data Science</p>
                        <p>If you are looking at blank cassettes on the web, you may be very confused at the
                            difference in price.</p>
                        <div class="social_icons">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- single-instructor -->
            <div class="col-lg-3 col-sm-6">
                <div class="single_instructor">
                    <div class="author">
                        <img src="../../../assets/img/instructors/ins4.jpg" alt="">
                    </div>
                    <div class="author_decs">
                        <h4>Lena Keller</h4>
                        <p class="profession">Sr. Faculty Data Science</p>
                        <p>If you are looking at blank cassettes on the web, you may be very confused at the
                            difference in price.</p>
                        <div class="social_icons">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--================ End Instructor Area =================-->
<!--================ Start Testimonial Area =================-->
<div class="text-center" style="margin-top: 50px;margin-bottom: 30px;background-color: #f9f9f9;
padding-left: 5%;
padding-right: 5%;">
        <h2 class="main_title" style="text-align: center;font-weight: bold;">Our Recuiters</h2>
        <app-carouselholder [slidesData]="slidesStore"></app-carouselholder>
    </div>
<div class="section_gap testimonial_area" style="display: none;">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10 text-center">
                <div class="active_testimonial owl-carousel" data-slider-id="1">
                    <!-- single testimonial -->
                    <div class="single_testimonial">
                        <div class="testimonial_head">
                            <img src="img/quote.png" alt="">
                            <h4>Fanny Spencer</h4>
                            <div class="review">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                        </div>
                        <div class="testimonial_content">
                            <p>As conscious traveling Paup ers we must always be oncerned about our dear Mother
                                Earth. If you think about
                                it, you travel across her faceand She is the host to your journey.</p>
                        </div>
                    </div>

                    <div class="single_testimonial">
                        <div class="testimonial_head">
                            <img src="img/quote.png" alt="">
                            <h4>Fanny Spencer</h4>
                            <div class="review">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                        </div>
                        <div class="testimonial_content">
                            <p>As conscious traveling Paup ers we must always be oncerned about our dear Mother
                                Earth. If you think about
                                it, you travel across her faceand She is the host to your journey.</p>
                        </div>
                    </div>

                    <div class="single_testimonial">
                        <div class="testimonial_head">
                            <img src="img/quote.png" alt="">
                            <h4>Fanny Spencer</h4>
                            <div class="review">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                        </div>
                        <div class="testimonial_content">
                            <p>As conscious traveling Paup ers we must always be oncerned about our dear Mother
                                Earth. If you think about
                                it, you travel across her faceand She is the host to your journey.</p>
                        </div>
                    </div>

                    <div class="single_testimonial">
                        <div class="testimonial_head">
                            <img src="img/quote.png" alt="">
                            <h4>Fanny Spencer</h4>
                            <div class="review">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                        </div>
                        <div class="testimonial_content">
                            <p>As conscious traveling Paup ers we must always be oncerned about our dear Mother
                                Earth. If you think about
                                it, you travel across her faceand She is the host to your journey.</p>
                        </div>
                    </div>
                </div>

                <div class="owl-thumbs d-flex justify-content-center" data-slider-id="1">
                    <div class="owl-thumb-item">
                        <div class="position-relative">
                            <img class="img-fluid" src="img/testimonial/t1.jpg" alt="">
                        </div>
                        <div class="overlay-grad"></div>
                    </div>
                    <div class="owl-thumb-item">
                        <div class="position-relative">
                            <img class="img-fluid" src="img/testimonial/t2.jpg" alt="">
                        </div>
                        <div class="overlay-grad"></div>
                    </div>
                    <div class="owl-thumb-item">
                        <div class="position-relative">
                            <img class="img-fluid" src="img/testimonial/t3.jpg" alt="">
                        </div>
                        <div class="overlay-grad"></div>
                    </div>
                    <div class="owl-thumb-item">
                        <div class="position-relative">
                            <img class="img-fluid" src="img/testimonial/t4.jpg" alt="">
                        </div>
                        <div class="overlay-grad"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--================ End Testimonial Area =================-->
<!--================ Start Department Area =================-->
<div class="department_area section_gap">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="dpmt_courses">
                    <div class="main_title">FAQ's</div>
                    <div class="row">
                            <div id="accordion">
                                    <div class="card">
                                      <div class="card-header" id="headingOne">
                                        <h5 class="mb-0">
                                          <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                How the concept of Micro Learning Works?
                                          </button>
                                        </h5>
                                      </div>
                                  
                                      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                                        <div class="card-body">
                                                Based on the topic complexity and duration cost of each topic will be decided.
                                                Each session will consist of in depth theory/concept building as well as the Practical scenario along with that candidate will be provided with a real world example and assignment to make sure you have in depth understanding of the topic.
                                                Along with that candidate can check his skills with a test which they need to pass to make sure they are comfortable with the topic.   
                                                
                                        </div>
                                      </div>
                                    </div>
                                    <div class="card">
                                      <div class="card-header" id="headingTwo">
                                        <h5 class="mb-0">
                                          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                                Does mLearn provides the Placement opportunity?
                                          </button>
                                        </h5>
                                      </div>
                                      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                                        <div class="card-body">
                                                Yes we have a fully functional placement cell whose responsibility is collaborate with the corporate and provide our candidate with the ample job opportunities. Each of our student are eligible for all opportunities.
                                        </div>
                                      </div>
                                    </div>
                                    <div class="card">
                                      <div class="card-header" id="headingThree">
                                        <h5 class="mb-0">
                                          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                                What If I am not clear with the Topic or missed classes?
                                          </button>
                                        </h5>
                                      </div>
                                      <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                                        <div class="card-body">
                                                Candidates always have an option to join classes as many times as they want whenever the next class is scheduled for that particular topic by the Trainer.
                                        </div>
                                      </div>
                                    </div>
                                    <div class="card">
                                            <div class="card-header" id="headingThree">
                                              <h5 class="mb-0">
                                                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                                        How I will notify for next Class in case I want to revisit the Topic?
                                                </button>
                                              </h5>
                                            </div>
                                            <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
                                              <div class="card-body">
                                                    Candidate just needs to register for that from the dashboard by clicking on the re visit button and he/she will be notified for the next scheduled class for that particular topic. 
                                              </div>
                                            </div>
                                          </div>
                                          <div class="card">
                                                <div class="card-header" id="headingThree">
                                                  <h5 class="mb-0">
                                                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                                            How will I make sure the quality of the Trainers?
                                                    </button>
                                                  </h5>
                                                </div>
                                                <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
                                                  <div class="card-body">
                                                        All of our trainers have to go through a strict quality test which includes interview by experts as well as the multiple rounds of test to make sure our students get the best in class training.
One can also check the feedback and reviews of the Trainers from the other candidates.
Also micro learning based candidate get a chance to discuss with trainers before signing up. Bundled course have the provision of Demo classes also.

                                                  </div>
                                                </div>
                                              </div>
                                  </div>
                    </div>
                </div>
            </div>

            <!-- <div class="offset-lg-1 col-lg-5">
                <div class="dpmt_right">
                    <h1>Over 2500 Courses from 5 Platform</h1>
                    <p>There is a moment in the life of any aspiring astronomer that it is time to buy that first
                        telescope. It’s
                        exciting to think about setting up your own viewing station. In the life of any aspiring
                        astronomer that it is
                        time to buy that first telescope. It’s exciting to think about setting up your own viewing
                        station.</p>
                    <p>It’s exciting to think about setting up your own viewing station. In the life of any
                        aspiring astronomer that
                        it is time to buy that first telescope exciting is time to buy that first.</p>
                    <a href="#" class="primary-btn text-uppercase">Explore Courses</a>
                </div>
            </div> -->
        </div>
    </div>
</div>
<!--================ End Department Area =================-->


