<div class="row" style="padding-top:50px">
  <div class="col-md-8">
    <div>
      <form [formGroup]="orderForm">
        <!-- Container for Order Type Selection -->
        <div class="container shadow p-3 mb-5 bg-white rounded">
          <div class="or-formcontrol">
            <h3 class="display-label">
              Create Order
            </h3>
          </div>
          <div class="or-formcontrol flex-container">
            <div class="flex-control3">
              <button
                class="btn btn-primary or-btn"
                type="button"
                (click)="showCategory('Design Only')"
              >
                Design
              </button>
            </div>
            <div class="flex-control3">
              <button
                class="btn btn-primary or-btn"
                type="button"
                (click)="showCategory('Design And Print')"
              >
                Design & Print
              </button>
            </div>
            <div class="flex-control3">
              <button
                class="btn btn-primary or-btn"
                type="button"
                (click)="showCategory('Print Only')"
              >
                Print
              </button>
            </div>
          </div>
        </div>

         <!-- Container for Category Selection -->
        <div
          class="container shadow p-3 mb-5 bg-white rounded"
          *ngIf="displayCategory"
        >
          <div class="or-formcontrol">
            <h3 class="display-label">
              Please Select Category
            </h3>
          </div>
          <div class="or-formcontrol flex-container">
            <div class="flex-control-radio" *ngFor="let item of selectedCategory">
              <input
                class=""
                type="radio"
                name="category"
                id="inlineRadio1"
                [value]="item.value"
                (change)="selectedProduct(item.value)"
                formControlName="category"
              />
              <label class="form-check-label" for="category">{{
                item.value
              }}</label>
            </div>
          </div>
        </div>

        <!-- Container for Product Specification -->
        <div class="container shadow p-3 mb-5 bg-white rounded" *ngIf="displaySpecs">
          <div class="or-formcontrol">
            <h3 class="display-label">
              Product Specification
            </h3>
            
        
          </div>
          <div class="or-formcontrol flex-container">
            <div class="flex-control2">
              <img src="../../../assets/StudentDashboard/img/download.jpg" />
            </div>
            <div class="flex-control8" >
                <div class="row">
                    <div class="flex-control5" >
                        <div class="form-group">
                            <label>Order Type *</label>
                            <input
                              type="text"
                              class="form-control"
                              placeholder=""                         formControlName="type"                    disabled                                                
                            />
                           
                            
                           
                          </div>
                      
                    </div>
                    <div class="flex-control5">
                        <div class="form-group">
                            <label>Category *</label>
                            <input
                              type="text"
                              class="form-control"
                              placeholder="orientation"                   formControlName="category"                  disabled                                                        
                            />                           
                           
                          </div>
                    </div>
                   
                </div>
              <div class="row">
                  <div class="flex-control5" >
                      <div class="form-group">
                          <label>SubCategory *</label>
                          <select
                            type="text"
                            class="form-control"
                            placeholder="state"                         formControlName="subCategory"                                                                    
                          >
                          <option></option>
                          <option *ngFor="let item of proSpec.subcat">
                            {{item}}
                          </option>
                          </select>
                         
                        </div>
                    
                  </div>
                  <div class="flex-control5">
                      <div class="form-group">
                          <label>Orientation *</label>
                          <select
                            type="text"
                            class="form-control"
                            placeholder="orientation"                   formControlName="orientation"                                                                          
                          >
                          <option></option>
                          <option *ngFor="let item of proSpec.orientation">
                            {{item}}
                          </option>
                          </select>
                         
                        </div>
                  </div>
                  <div class="flex-control5">
                      <div class="form-group">
                          <label>Size *</label>
                          <select
                            type="text"
                            class="form-control"
                            placeholder="Sub Category"                   (change)="selectedSize($event)"              formControlName="size"                                                              
                          >
                          <option></option>
                          <option *ngFor="let item of proSpec.size">
                            {{item}}
                          </option>
                          </select>
                         
                        </div>
                  </div>
              </div>
              <div class="row" *ngIf="displayprinter">
                  <div class="flex-control5" >
                      <div class="form-group">
                          <label>Paper GSM *</label>
                          <select
                            type="text"
                            class="form-control"
                            placeholder="quantities"                    formControlName="GSM"                                                                       
                          >
                          <option></option>
                          <option *ngFor="let item of proSpec.gsm">
                            {{item}}
                          </option>
                          </select>
                         
                        </div>
                    
                  </div>
                  <div class="flex-control5">
                      <div class="form-group">
                          <label>Quantities *</label>
                          <select
                            type="text"
                            class="form-control"
                            placeholder="quantities"                   formControlName="quantities"                                                                             
                          >
                          <option></option>
                          <option *ngFor="let item of proSpec.displayQuant">
                            {{item}}
                          </option>
                          </select>
                         
                        </div>
                  </div>
                 
              </div>
              
              <div class="row" >
                  <div class="flex-control8" >
                      <div class="form-group">
                          <a href="#" style="margin-left: 3%;">Click here for {{ orderForm.controls['category'].value}} Blog</a>                                                 
                        </div>
                    
                  </div>
                 
                 
              </div>

              <div class="row" *ngIf="displayDesigner">
                  <div class="checkbox-profession" >
                      <div class="form-group">
                          <input type="checkbox" formControlName="professionDesigner" />
                         
                         <label style="margin-left: 20px;">Professional Designer</label>
                        </div>
                    
                  </div>
                 
                 
              </div>
              <div class="row">
                  <div class="flex-controllabel" style="padding-top: 15px;">
                      <div class="form-group">
                          <label><span style="font-size: large;font-weight: bold;">Total Cost:  &#x20B9; 10000 </span></label>
                        </div>
                    
                  </div>
                  <div class="flex-controllabel" >
                      <div class="form-group">
                          <button type="button" class="btn btn-primary" (click)="proceedOrder()" [disabled]="!orderForm.valid" >Proceed</button>
                        </div>
                    
                  </div>
                 
                 
              </div>
            </div>
          </div>
        </div>
        <!-- Container for Meeting Slot -->
        <div class="container shadow p-3 mb-5 bg-white rounded" *ngIf="displayMeetings">
            <div class="or-formcontrol">
              <h3 class="display-label">
                Book a Meeting Slot
              </h3>
              
          
            </div>
            <div class="or-formcontrol flex-container">
              
              <div class="flex-control8" style="margin-left: 20%;">
                  
                <div class="row">
                    
                    <div class="flex-control5">
                        <div class="form-group">
                            <label>Meeting Slot Day</label>
                            <div class="input-group">
                                <input class="form-control" placeholder="yyyy-mm-dd"
                                       name="dp" [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker"
                                       formControlName="meetingDate"
                                       (blur)="d.close();dateSet()"
                                       (dateSelect)="dateSet()" 
                                       [minDate]="minDate"
                                        
                                        >
                                <div class="input-group-append" style="border: 1px solid rgb(221, 221, 221);
                                height: 38px;">
                                  <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"></button>
                                </div>
                              </div>
                           
                          </div>
                    </div>
                    <div class="flex-control5" >
                        <div class="form-group">
                            <label>Meeting Slot Time</label>
                            <select
                              type="text"
                              class="form-control"
                              placeholder="quantities"                    formControlName="meetingSlot"   
                              (change)="dateSet()"                           formControlName="meetingSlot"                                         
                            >
                            <option></option>
                            <option *ngFor="let item of meetingSlots">
                              {{item}}
                            </option>
                            </select>
                           
                          </div>
                      
                    </div>
                   
                </div>
               
              </div>
            </div>
          </div>
        <!-- Container for Order Review -->
        <div class="container shadow p-3 mb-5 bg-white rounded" *ngIf="displaysummary">
            <div class="or-formcontrol">
              <h3 class="display-label">
                 Order Summary
              </h3>
              
          
            </div>
            <div class="or-formcontrol flex-container">
              <div class="flex-control2">
                <img src="../../../assets/StudentDashboard/img/download.jpg" />
              </div>
              <div class="flex-control8" >
                  <div class="row">
                      <div class="flex-control-50" >
                          <div class="form-group">
                              <label style="font-size: 18px;font-weight:700;">{{orderForm.controls['type'].value}} - {{orderForm.controls['category'].value}}</label>                   
                              <hr/>        
                             
                              
                             
                            </div>
                        
                      </div>
                      <div class="flex-control3 price-margin" >
                          <div class="form-group">
                              <label style="font-size: 18px;font-weight:700;">Price Details</label>                   
                              <hr/>        
                             
                              
                             
                            </div>
                        
                      </div>
                    
                     
                  </div>
                <div class="row">
                    <div class="flex-control-50" >
                        <div class="form-group">
                            <label style="font-size: 16px;font-weight:500;">({{orderForm.controls['subCategory'].value}}) - ({{orderForm.controls['orientation'].value}})</label> 
                            
                           
                          </div>
                      
                    </div>
                    <div class="flex-control3 price-margin" >
                        <div class="form-group" style="display: flex;">
                            <div class="flex-controllabel">
                                <label style="font-size: 14px;font-weight:bold;">Price: </label> 
                            </div>
                              <div class="flex-controlPrice">
                                  <label>
                                      &#x20B9; 10000
                                  </label>
                              </div>
                           
                          </div>
                         
                      
                    </div>
                   
                   
                </div>
                <div class="row" >
                    <div class="flex-control-50">
                        <div class="form-group">
                            <label style="font-size: 14px;font-weight:bold;">Size: {{orderForm.controls['size'].value}},   Quantitiy:  {{orderForm.controls['quantities'].value}}, GSM: {{orderForm.controls['GSM'].value}}</label> 
                            
                           
                          </div>
                          
                    </div>

                    <div class="flex-control3 price-margin">
                        <div class="form-group" style="display: flex;">
                            <div class="flex-controllabel">
                                <label style="font-size: 14px;font-weight:bold;">Delivery Fees: </label> 
                            </div>
                              <div class="flex-controlPrice">
                                  <label>
                                      &#x20B9; 10000
                                  </label>
                              </div>
                           
                          </div>
                          <hr>
                          
                    </div>
                </div>
                <div class="row" *ngIf="displayprinter">
                    <div class="flex-control-50">
                        <div class="form-group">
                            <input type="checkbox" formControlName="sourceFile"/>
                           
                            <label style="margin-left: 20px;">Source File</label>
                            
                           
                          </div>
                         
                    </div>
                    <div class="flex-control3 price-margin">
                        <div class="form-group" style="display: flex;">
                          <div class="flex-controllabel">
                              <label style="font-size: 14px;font-weight:bold;">GST: </label> 
                          </div>
                            <div class="flex-controlPrice">
                                <label>
                                    &#x20B9; 10000
                                </label>
                            </div>
                          
                           
                          </div>
                          <hr/>
                          
                    </div>

                   
                </div>
                <div class="row" *ngIf="displayprinter">
                    <div class="flex-control-50">
                        <div class="form-group">
                           <button class="btn btn-primary" style="display: none;">Check Out</button>
                            
                           
                          </div>
                         
                    </div>
                    <div class="flex-control3 price-margin">
                        <div class="form-group" style="display: flex;">
                            <div class="flex-controllabel">
                                <label style="font-size: 14px;font-weight:bold;">Total: </label> 
                            </div>
                              <div class="flex-controlPrice">
                                  <label>
                                      &#x20B9; 10000
                                  </label>
                              </div>
                           
                          </div>
                          <hr/>
                          
                    </div>

                   
                </div>
                <div class="row">
                    <div class="flex-control-50">
                        <div class="form-group">
                           <button class="btn btn-primary" (click)="checkout()">Check Out</button>
                            
                           
                          </div>
                         
                    </div>
                    <div class="flex-control3 price-margin">
                        <div class="form-group">
                           <button class="btn btn-primary" style="margin-left: 18%;" (click)="addToCart()">Add to Cart</button>
                            
                           
                          </div>
                         <span style="color:green" *ngIf="displaycartMessage">Item Added to Cart</span>
                    </div>

                   
                </div>
                
                
  
               
               
              </div>
            </div>
          </div>
      </form>
    </div>
  </div>
 
    
</div>
