<section class="header1 cid-si6VojyX7F" id="header1-q">


    <div class="container">
        <div class="mbr-row align-left">
            <div class="title-block mbr-col-sm-12 mbr-col-md-12 mbr-col-lg-12">
                <h1 class="mbr-section-title mbr-fonts-style mbr-bold display-1">Invitation Cards Make Relations
                    Stronger<div><br></div>
                </h1>
            </div>
        </div>
    </div>
</section>
<section class="image1 cid-si6Wa1MUZo" id="image1-r">


    <div class="container-fluid">

        <div class="image-block mbr-m-auto align-center">
            <amp-img class="placeholder-loader"
                src="https://drive.google.com/uc?export=view&id=18ErWL1sqtnZL71iAxwnyLQBYhYEQWKlK" layout="responsive"
                width="1247.376" height="702" alt="Christmas feeling scene - invitation cards surrounded by plants."
                title="Minimal invitation cards">
                <div placeholder="" class="placeholder">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 300 300">
                        <circle class="big" fill="none" stroke="#c2e0e0" stroke-width="3" stroke-dasharray="230"
                            stroke-dashoffset="230" cx="150" cy="150" r="145"></circle>
                        <circle class="small" fill="none" stroke="#c2e0e0" stroke-width="3" stroke-dasharray="212"
                            cx="150" cy="150" r="135"></circle>
                    </svg></div>

            </amp-img>
        </div>

    </div>
</section>

<section class="mbr-section content1 cid-si6XmpnHt5" id="content1-s">


    <div class="container">

        <div class="mbr-row mbr-jc-c">
            <div class="card mbr-col-sm-12 mbr-col-lg-12">
                <p class="mbr-text mbr-fonts-style display-7">Since long, Invitation cards have to invite people to
                    their occasion asking for their auspicious presence. Either in physical form or digital form, the
                    designing of invitation cards have always been fascinating for people and helping them to make it
                    more unique and special for their big day to be remembered and reminisced.


                    <br></p>
            </div>



        </div>
    </div>
</section>

<section class="image1 cid-si6YR1ouXJ" id="image1-t">


    <div class="container">

        <div class="image-block mbr-m-auto align-center mbr-col-md-8">
            <amp-img class="placeholder-loader"
                src="https://drive.google.com/uc?export=view&id=1FxXas_-iAgbaCumQWvOXfH5tA3zoV31S" layout="responsive"
                width="707.2135785007072" height="500"
                alt="The background is brown, and there is a blue invitation card and envelope."
                title="Blue envelope invitation card">
                <div placeholder="" class="placeholder">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 300 300">
                        <circle class="big" fill="none" stroke="#c2e0e0" stroke-width="3" stroke-dasharray="230"
                            stroke-dashoffset="230" cx="150" cy="150" r="145"></circle>
                        <circle class="small" fill="none" stroke="#c2e0e0" stroke-width="3" stroke-dasharray="212"
                            cx="150" cy="150" r="135"></circle>
                    </svg></div>

            </amp-img>
        </div>

    </div>
</section>
<section class="mbr-section content1 cid-si784wiGCz" id="content1-14">


    <div class="container">

        <div class="mbr-row mbr-jc-c">
            <div class="card mbr-col-sm-12 mbr-col-lg-12">
                <p class="mbr-text mbr-fonts-style display-7">Here go four ways to make your invitation card so
                    attractive, so people find it an exemplary embodiment for their occasions.&nbsp;<br><br></p>
            </div>



        </div>
    </div>
</section>


<div class="container">
    <div class="title mbr-pb-4">
        <h3 class="mbr-section-title mbr-fonts-style mbr-bold display-2">1) All components of an invitation card should
            be there</h3>
    </div>

</div>


<section class="image1 cid-si76WEklJ6" id="image1-x">


    <div class="container">

        <div class="image-block mbr-m-auto align-center mbr-col-md-8">
            <amp-img class="placeholder-loader"
                src="https://drive.google.com/uc?export=view&id=1IZZail_H1t0O5-7pFnegbB4oub91fbU7" layout="responsive"
                width="707.2135785007072" height="500" alt="Minimal party invitation card design."
                title="Party invitation card">
                <div placeholder="" class="placeholder">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 300 300">
                        <circle class="big" fill="none" stroke="#c2e0e0" stroke-width="3" stroke-dasharray="230"
                            stroke-dashoffset="230" cx="150" cy="150" r="145"></circle>
                        <circle class="small" fill="none" stroke="#c2e0e0" stroke-width="3" stroke-dasharray="212"
                            cx="150" cy="150" r="135"></circle>
                    </svg></div>

            </amp-img>
        </div>

    </div>
</section>
<section class="mbr-section content1 cid-si784wiGCz" id="content1-14">


    <div class="container">

        <div class="mbr-row mbr-jc-c">
            <div class="card mbr-col-sm-12 mbr-col-lg-12">
                <p class="mbr-text mbr-fonts-style display-7"><br>Any part missing will fail the purpose of the
                    invitation.<br><br><b>Formal Invitation Components:</b>&nbsp;<br></p>
                <ul class="mbr-text mbr-fonts-style display-7" style="list-style-type:disc">
                    <li>Name of host</li>
                    <li>Invitational request </li>
                    <li>Date And Time</li>
                    <li>Event type/name/purpose (e.g., luncheon, dinner, reception, lecture)</li>
                    <li>Theme</li>
                    <li>Directions</li>
                    &nbsp;<br>
                </ul>
                <p class="mbr-text mbr-fonts-style display-7"><b>Reply Card Components:</b>&nbsp;<br></p>
                <ul class="mbr-text mbr-fonts-style display-7" style="list-style-type:disc">
                    <li>Event Name and Date</li>
                    <li>Line(s) for the guest name(s)</li>
                    <li>The line for a contact number</li>
                    <li>Attendance indicator</li>
                    <li>Special instructions if any</li>
                    &nbsp;<br>
                </ul>
            </div>



        </div>
    </div>
</section>


<section class="mbr-section content1 cid-si784Naaqc" id="content1-15">


    <div class="container">
        <div class="title mbr-pb-4">
            <h3 class="mbr-section-title mbr-fonts-style mbr-bold display-2">2) Build relationships with customers</h3>
        </div>

    </div>
</section>

<section class="image1 cid-si79V77YEF" id="image1-18">


    <div class="container">

        <div class="image-block mbr-m-auto align-center mbr-col-md-7">
            <amp-img class="placeholder-loader"
                src="https://drive.google.com/uc?export=view&id=1VVKJNcW4g91xmdOxQR-S5hBjF5WpV21_" layout="responsive"
                width="613.8613861386139" height="434" alt="Beautiful sky blue flower theme invitation cards and bags."
                title="Flower theme invitation cards">
                <div placeholder="" class="placeholder">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 300 300">
                        <circle class="big" fill="none" stroke="#c2e0e0" stroke-width="3" stroke-dasharray="230"
                            stroke-dashoffset="230" cx="150" cy="150" r="145"></circle>
                        <circle class="small" fill="none" stroke="#c2e0e0" stroke-width="3" stroke-dasharray="212"
                            cx="150" cy="150" r="135"></circle>
                    </svg></div>

            </amp-img>
        </div>

    </div>
</section>

<section class="mbr-section content1 cid-si784wiGCz" id="content1-14">


    <div class="container">

        <div class="mbr-row mbr-jc-c">
            <div class="card mbr-col-sm-12 mbr-col-lg-12">
                <p class="mbr-text mbr-fonts-style display-7">One easy way to help develop long-term relationships and
                    create bonds is to make memories and feel comfortable together. In terms of doing business, it's
                    always easy to have extensive connections. Make customers believe that you care for them. Send cards
                    to them on their birthday, this way they will feel that your brand is part of their life.&nbsp;<br>
                </p>
            </div>



        </div>
    </div>
</section>

<section class="mbr-section content1 cid-si784e1ym9" id="content1-13">


    <div class="container">
        <div class="title mbr-pb-4">
            <h3 class="mbr-section-title mbr-fonts-style mbr-bold display-2">3) Ensuring paper and printing are
                compatible</h3>
        </div>

    </div>
</section>

<section class="image1 cid-si7aCVOD6m" id="image1-19">


    <div class="container">

        <div class="image-block mbr-m-auto align-center mbr-col-md-7">
            <amp-img class="placeholder-loader"
                src="https://drive.google.com/uc?export=view&id=17Lp0JkJ-6AzWygKs68r7dTyvbQY6RF6S" layout="responsive"
                width="613.8613861386139" height="434" alt="Green colour decorated the card with flowers beside it."
                title="Green colour decorative card">
                <div placeholder="" class="placeholder">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 300 300">
                        <circle class="big" fill="none" stroke="#c2e0e0" stroke-width="3" stroke-dasharray="230"
                            stroke-dashoffset="230" cx="150" cy="150" r="145"></circle>
                        <circle class="small" fill="none" stroke="#c2e0e0" stroke-width="3" stroke-dasharray="212"
                            cx="150" cy="150" r="135"></circle>
                    </svg></div>

            </amp-img>
        </div>

    </div>
</section>

<section class="mbr-section content1 cid-si783XoyX3" id="content1-12">


    <div class="container">

        <div class="mbr-row mbr-jc-c">
            <div class="card mbr-col-sm-12 mbr-col-lg-12">
                <p class="mbr-text mbr-fonts-style display-7">Sometimes it is observed that you choose a paper which is
                    not working with your printer if you are designing your invitation cards. See if you want inkjet or
                    laser printer which works better.<br><br>Cotton paper, linen, vellum and recycled papers are used
                    for invitations cards. All of them have different advantages. It depends what kind of qualities you
                    would select as far as cost, hand feel, elegance, luxury and tradition is concerned.
                    <br></p>
            </div>



        </div>
    </div>
</section>

<section class="mbr-section content1 cid-si783GKodx" id="content1-11">


    <div class="container">
        <div class="title mbr-pb-4">
            <h3 class="mbr-section-title mbr-fonts-style mbr-bold display-2">4) Invitation card designs</h3>
        </div>

    </div>
</section>

<section class="image1 cid-si7aQrx1Wd" id="image1-1a">


    <div class="container">

        <div class="image-block mbr-m-auto align-center mbr-col-md-7">
            <amp-img class="placeholder-loader"
                src="https://drive.google.com/uc?export=view&id=16M2R5E8sTfuL17tHyV5YwnDILbdqElUT" layout="responsive"
                width="613.8613861386139" height="434" alt="Yellow Indian god Ganpati/ Ganesha invitation cards."
                title="Ganpati invitation card design">
                <div placeholder="" class="placeholder">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 300 300">
                        <circle class="big" fill="none" stroke="#c2e0e0" stroke-width="3" stroke-dasharray="230"
                            stroke-dashoffset="230" cx="150" cy="150" r="145"></circle>
                        <circle class="small" fill="none" stroke="#c2e0e0" stroke-width="3" stroke-dasharray="212"
                            cx="150" cy="150" r="135"></circle>
                    </svg></div>

            </amp-img>
        </div>

    </div>
</section>

<section class="mbr-section content1 cid-si783lPQ3M" id="content1-10">


    <div class="container">

        <div class="mbr-row mbr-jc-c">
            <div class="card mbr-col-sm-12 mbr-col-lg-12">
                <p class="mbr-text mbr-fonts-style display-7">Invitation cards design should be eyecatching as well as
                    the recipient should feel to keep them forever for its look. There are many templates available
                    online, but they are unable to give the impact.<br><br>Businesses should hire verified graphic
                    designers who will make it unique and give your brands personalised touch. In terms of invitation
                    card for weddings, birthdays and parties should show your personality. The invitation cards should
                    be beautifully crafted and made from high-quality materials.&nbsp;<br></p>
            </div>



        </div>
    </div>
</section>



<section class="info1 cid-si7qmPhHRF" id="info1-1d">

    <!--Block parameters controls (Blue "Gear" panel) -->

    <div class="container">
        <div class="mbr-row mbr-jc-c">
            <div class="title-wrap mbr-col-lg-8 mbr-col-md-8 mbr-col-sm-12 mbr-flex mbr-column mbr-jc-c">
                <h3 class="mbr-section-title mbr-fonts-style mbr-bold display-2">Get your design/print in one-click!
                </h3>
                <p class="mbr-text mbr-fonts-style mbr-pt-4 display-7"><em>People are paying more attention to their
                        social status. The main reason for this is that everybody wants to be respected and wants to be
                        an essential person. Invitation cards one of the most relevant publications used as marketing
                        tools, and they help to accomplish this purpose. Get the eyecatching invitation card with
                        shapeNprint's verified freelance graphic designers and built the relationship with your
                        customers. Get premium quality invitation cards printed from your city’s local printing shops by
                        just sitting at your home from shapeNprint. Guaranteed 24-hour doorstep delivery. We design, we
                        print.</em></p>
            </div>
            <div class="btn-wrap mbr-col-lg-4 mbr-col-md-4 mbr-col-sm-12 mbr-flex mbr-column">
                <div class="mbr-section-btn mbr-m-auto"><a class="btn btn-md btn-primary display-7"
                        href="https://www.shapenprint.com/createorder?selectedProduct=Invitation%20Card"
                        target="_blank">Order Now</a></div>
            </div>
        </div>
    </div>
</section>