.vis-mob{
  display: none;
}
.dot {
  background: url("../../../../assets/HomePageImg/Home Page _ Images/Round Blue Bullet1200.png");
  display: inline-block;
  width: 100%;
  font-family: Maven pro;
  font-size: 14px;
  font-weight: 300;
  background-repeat: no-repeat;
  background-size: 14px;
  padding: 0px 0 0 30px;
  background-position: 0px 7px;
}
.container{
max-width: 1300px;
}
.hide-mob{
  display: block;
  position: absolute;
  right: -60px;
  top: -35px;
  width: 70px !important;
}
@media (min-width: 768px) {
  .container {
    width: 100%;
    display: flex;
    flex-wrap: unset;
  }
  .points {
    margin-top: 20px;
    margin-left: 2em;
  }
  .indentSecond {
    /* text-indent: -23px; */
  }
  .dcol-3 {
    flex-wrap: nowrap;
    width: 30%;
  }
  .dcol-4 {
    flex-wrap: nowrap;
    width: 80%;
  }
  .dcol-1 {
    flex-wrap: nowrap;
    width: 10%;
  }
  .searchBtnStyle {
    border-radius: 10px;
    /* border-color: lightblue; */
    border: 1px solid lightblue;
  }
  .txtFreelance {
    font-weight: bold;
    font-family: "Maven Pro";
  }
  .alingdiv {
    /* padding-top: 100px; */
    margin-left: 5%;
  }
  .imgEditpenposition {
    padding-top: 30px;
  }
  .imgEditPenSize {
    width: 20px;
    height: 40px;
  }
  .textStyle {
    font-family: Maven pro;
    font-size: 16px;
    font-weight: 300;
  }

  .positioncontainerRight {
    padding-top: 70px;
  }
  .imgEditPrintSize {
    height: 30px;
    padding-top: 5px;
    width: 20px;
  }
}
@media (max-width: 768px) {
  .imgEditPrintSize {
    height: 30px;
    padding-top: 5px;
    width: 20px;
  }
  .txtFreelance {
    font-weight: 700;
  }
  .alingdiv {
    padding-top: 30px;
  }
  .searchBtnStyle {
    border-radius: 10px;
    /* border-color: lightblue; */
    border: 1px solid lightblue;
  }
  .imgEditpenposition {
    padding-top: 30px;
  }
  .imgEditPenSize {
    width: 30px;
    height: 30px;
  }
  .textStyle {
    font-family: Maven pro;
    font-size: 12px;
    font-weight: 300;
  }
  .vis-mob{
    display: block;
    position: absolute;
    right: 20px;
    margin-top: -25px;
  }
  .hide-mob{
    display: none;
  }
  .flex-colm-mob{
    flex-direction: column;
  }
  .mob-order-2{
    order: 2;
  }
  .log-head .img1 {
    width: 110px !important;
    height: auto !important;
  }
  .log-head span{ font-size: 14px !important;}

  .dot {
   
    background-size: 14px;
    padding: 0px 0 0 30px;
    background-position: 0px 7px;
  }
}
