<!-- <img [src]="imgUrl" alt="Snow" /> -->
<div class="container" style="margin-top: 80px;">
    <div class="d-flex flex-colm-mob">

        <div class="dcol-4 mob-order-2">
            <img src="../../../../assets/HomePageImg/Home Page _ Images/One Brand Illustration1200.png">
        </div>
        <div>
            <div class="dcol-1 vis-mob">
                <div class="txtFreelance"><img src="../../../../assets/HomePageImg/Home Page _ Images/One Brand Icon1200.png"
                        style="height: 60px;">
        
                </div>
            </div>
            <div class="dcol-4 alingdiv log-head position-relative">
                <div class="txtFreelance"><img src="../../../../assets/img/logoname.png" class="img1" style="width: 200px;height: 50px;"> -
                    <span style="font-size:18px">
                        One brand,endless solutions
                    </span></div>
                    <div class="dcol-1 hide-mob">
                        <div class="txtFreelance"><img src="../../../../assets/HomePageImg/Home Page _ Images/One Brand Icon1200.png"
                                >
                
                        </div>
                    </div>
                <div> We design, we print, we satisfy, we care</div>
        
                <div class="points">
                    <p class="indentSecond">
                       <span class="dot">  <!--<img src="../../../../assets/HomePageImg/Home Page _ Images/Round Blue Bullet1200.png"
                                height="12px"></span>
                        <span style="padding-left: 10px;" class="textStyle">shapeNprint,your virtual assistance,aims to -->
                            revolutionize the world and to improve the way people are living and working </span>
                    </p>
                </div>
                <div class="points">
                    <p class="indentSecond">
                        <span class="dot">We are packed with talented people whose passion is
                            to
                            make others life easier, from design to print to delivery </span>
                    </p>
        
                </div>
                <div class="points">
                    <p class="indentSecond">
                        <span class="dot">You Select shapeNprint connects</span>
                    </p>
        
                </div>
                <div>
                    <button class="btn btn-primary">Design/Print</button>
                </div>
            </div>
        
          
        </div>
    </div>
   