<!-- <img [src]="imgUrl" alt="Snow" /> -->
<div class="container" style="margin-top: 50px;">
    <div class="dcol-4">
        <img src="../../../../assets/HomePageImg/Home Page _ Images/One Brand Illustration1200.png">
    </div>
    <div class="dcol-4 alingdiv">
        <div class="txtFreelance"><img src="../../../../assets/img/logoname.png" style="width: 250px;height: 70px;"> -
            <span>
                One brand,endless solutions
            </span></div>
        <div> we design, we print, we satisfy, we care</div>
        <div style="margin-top: 20px;">
            <span><img src="../../../../assets/HomePageImg/Home Page _ Images/Round Blue Bullet1200.png"
                    height="12px"></span>
            <span style="padding-left: 10px;" class="textStyle">Only Verified Freelancers,one transparent price</span>
        </div>
        <div>
            <span><img src="../../../../assets/HomePageImg/Home Page _ Images/Round Blue Bullet1200.png"
                    height="12px"></span>
            <span style="padding-left: 10px;" class="textStyle">Its simple but significant,where
                freelancing,technology,and creativity
                connects </span>
        </div>
        <div>
            <span><img src="../../../../assets/HomePageImg/Home Page _ Images/Round Blue Bullet1200.png"
                    height="12px"></span>
            <span style="padding-left: 10px;" class="textStyle">Your satisfaction is our duty,otherwise moneyback
                gaurantee.* </span>
        </div>
        <div>
            <span><img src="../../../../assets/HomePageImg/Home Page _ Images/Round Blue Bullet1200.png"
                    height="12px"></span>
            <span style="padding-left: 10px;" class="textStyle">Payments are secured and powered by Razorpay </span>
        </div>
    </div>

    <div class="dcol-1">
        <div class="txtFreelance"><img src="../../../../assets/HomePageImg/Home Page _ Images/One Brand Icon1200.png"
                style="height: 60px;">

        </div>
    </div>