<!--================ Start footer Area  =================-->
<!-- <img  [src]="imgUrl" alt="Snow" /> -->

<div class="container alingdiv" style="margin-top: 50px;"
  style="background-image: url('../../../../assets/HomePageImg/Home Page _ Images/footerBckGrnd.png') !important;background-size: cover;">

  <div class="dcol-4 ">
    <div class="mainheading">
      Products
    </div>

    <div><a class="dropdownitem" (click)="navigateToProduct('Logo',$event)">Logo</a></div>
    <div><a class="dropdownitem" (click)="navigateToProduct('Flyers',$event)">Flyers</a></div>
    <div><a class="dropdownitem" (click)="navigateToProduct('Brochure',$event)">Brochure</a></div>
    <div>
      <a class="dropdownitem"
        (click)="navigateToProduct('Digital Marketing Banners/Social Media Banners',$event)">Digital Marketing
        Banner</a>
    </div>
    <div>
      <a class="dropdownitem" (click)="navigateTopath('/createorder',$event)">All Products</a>
    </div>

  </div>
  <div class="vLine"></div>
  <div class="dcol-4 mob-no-border">
    <div class="mainheading">
      What we offer
    </div>

    <div>
      <a class="dropdownitem" (click)="navigateTopath('/createorder',$event)">Design</a>
    </div>
    <div><a class="dropdownitem" (click)="navigateTopath('/createorder',$event)">Print</a></div>
    <div><a class="dropdownitem" (click)="navigateTopath('/createorder',$event)">Design & Print</a></div>
    <div><a class="dropdownitem"
        href="https://docs.google.com/forms/d/e/1FAIpQLSeN6TJj7WO5OAeMb3yPEXkez4c_DRVduwJUOWoSeMBoaEZKAQ/viewform?usp=sf_link"
        target="_blank">Bulk Order</a></div>
    <div><a class="dropdownitem" (click)="navigateTopath('/createorder',$event)">Something Else</a></div>
  </div>
  <div class="vLine"></div>
  <div class="dcol-4 mob-no-border">
    <div class="mainheading">
      Blog
    </div>

    <!-- <div>-</div>
        <div>-</div>
        <div>-</div>
        <div>-</div> -->
  </div>
  <div class="vLine"></div>
  <div class="dcol-4">
    <div class="mainheading">
      Support
    </div>

    <div>
      <a class="dropdownitem" (click)="navigateTopath('/createorder',$event)">Help & Support</a>
    </div>
    <!-- <div>-</div>
        <div>-</div>
        <div>-</div> -->
  </div>

  <div class="dcol-4 mob-no-border">
    <div class="mainheading">
      About shapeNprint
    </div>

    <div> <a class="dropdownitem" (click)="navigateTopath('/aboutus',$event)">About Us</a></div>
    <div><a class="dropdownitem" (click)="navigateTopath('/terms',$event)">Terms and Conditions</a></div>
    <div><a class="dropdownitem" (click)="navigateTopath('/register',$event)">Become a Service Provider</a></div>

  </div>
  <!-- <div class="vLine"></div>
    <div class="dcol-4 mob-no-border">
        Trust & Supply
        <div>-</div>
        <div>-</div>
        <div>-</div>
        <div>-</div>
    </div> -->
  <div class="vLine"></div>
  <div class="dcol-5">
    <div class="text-center text-uppercase">
      Invite a Friend
    </div>

    <div class="d-flex justify-content-center">
      <input type="text" class="input01">
    </div>
    <div class="d-flex justify-content-center"><button class="btn btn-primary">Invite</button> </div>

  </div>


</div>
<div class="container "
  style="background-image: url('../../../../assets/HomePageImg/Home Page _ Images/Bottom Background 1200.png');background-size: cover;">
  <div class="d-flex w-100">

    <div class="dcol-3 doc-cust1">
      <img src="../../../assets/img/logonew.svg" style="height: 40px;cursor: pointer;">
    </div>
    <div class="dcol-3 hide-mob doc-cust2 alingdiv" style="margin-left:10%">
      <div class="txtFreelance">CONTACT US <span>INFO@SHAPENPRINT.COM</span></div>

    </div>

    <div class="dcol-3 doc-cust3 positioncontainerRight">
      <div class="container social-icon">
        <div class="dcol-5">
          <img src="../../../../assets/DashBoard/img/link.jpg" class="imgEditPenSize"
            (click)="openLinkSocial(' https://www.linkedin.com/company/shapenprint',$event)">
        </div>
        <div class="dcol-5">
          <img src="../../../../assets/DashBoard/img/Instagram.png" class="imgEditPenSize"
            (click)="openLinkSocial(' https://www.instagram.com/shapenprint',$event)">
        </div>
        <div class="dcol-5">
          <img src="../../../../assets/DashBoard/img/Twiter1200.png" class="imgEditPenSize"
            (click)="openLinkSocial('https://www.twitter.com/shapenprint',$event)">
        </div>
        <div class="dcol-5">
          <img src="../../../../assets/DashBoard/img/fb.jpg" class="imgEditPenSize"
            (click)="openLinkSocial(' https://www.facebook.com/shapenprint',$event)">
        </div>

      </div>

    </div>
  </div>
  <div class="d-flex justify-content-center ">
    <div class="txtFreelance vis-mob">CONTACT US <span>INFO@SHAPENPRINT.COM</span></div>

  </div>
</div>
<!--================ End footer Area  =================-->