.input01 {
  border-radius: 10px;
  width: 100%;
  border: 1px solid lightblue;
  max-width: 400px;
}
.dropdownitem {
  cursor: pointer;
  font-family: "Maven pro";
  color: blue !important;
  text-decoration: underline !important;
}
.dropdownitem:hover {
  background-color: none !important;
}
.mainheading {
  font-family: "Maven pro";
  font-size: 18px;
}
@media (min-width: 768px) {
  .container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  .vLine {
    border-right: 2px solid lightblue;
    /* height: 3px; */
    /* margin-top: 13px; */
    height: 53px;
    margin-left: 15px;
  }
  .dcol-3 {
    flex-wrap: nowrap;
    width: 33%;
  }
  .dcol-2 {
    flex-wrap: nowrap;
    width: 75%;
  }
  .dcol-4 {
    flex-wrap: nowrap;
    width: 20%;
    text-align: center;
  }
  .dcol-5 {
    flex-wrap: nowrap;
    width: 50%;
  }
  .dcol-6 {
    flex-wrap: nowrap;
    width: 15%;
  }
  .alingDesingImg {
    padding-top: 60px;
    margin-left: 6%;
  }
  .searchBtnStyle {
    border-radius: 10px;
    /* border-color: lightblue; */
    border: 1px solid lightblue;
  }
  .txtFreelance {
    font-weight: bold;
    font-family: "Maven Pro";
  }
  .alingdiv {
    padding-top: 60px;
    padding-left: 9%;
  }
  .imgEditpenposition {
    padding-top: 30px;
  }
  .imgEditPenSize {
    width: 20px;
    height: 40px;
  }
  .textStyle {
    font-family: Maven pro;
    font-size: 12px;
    font-weight: 300;
  }
  .positioncontainerRight {
    padding-top: 40px;
    padding-left: 60px;
  }
  .imgEditPrintSize {
    height: 30px;
    padding-top: 5px;
    width: 20px;
  }
}
@media (max-width: 768px) {
  .imgEditPrintSize {
    height: 30px;
    padding-top: 5px;
    width: 20px;
  }
  .txtFreelance {
    font-weight: 700;
  }
  .alingdiv {
    padding-top: 100px;
  }
  .searchBtnStyle {
    border-radius: 10px;
    /* border-color: lightblue; */
    border: 1px solid lightblue;
  }
  .imgEditpenposition {
    padding-top: 30px;
  }
  .imgEditPenSize {
    width: 30px;
    height: 30px;
  }
  .textStyle {
    font-family: Maven pro;
    font-size: 12px;
    font-weight: 300;
  }
  .input01 {
    border-radius: 10px;
    width: 100%;
    max-width: auto;
  }
  .dcol-4 {
    float: left;
    width: 46%;
    text-align: left;
  }
  .dcol-4 {
    border-right: 2px solid lightblue;
    margin-right: 10px;
  }
  .mob-no-border {
    border: none;
  }
  .dcol-5 {
    clear: both;
  }
}
.vis-mob{
  display: none;
}
.hide-mob{
  display: block;
}
/*begin new footer css */
.container{
  max-width: 1370px;
}
.footer-menu-block{
  background: #e1eefe;
  padding: 15px 0;
}
.footer-menu-block b{
  color: #2c2c2c;
  font-size: 15px;
  font-weight: 600;
}
.footer-menu-block ul{
  margin: 0;
  padding: 0;
}
.footer-menu-block ul li{
  list-style: none;
  display: block;
  font-weight: 300;
}
.footer-menu-block ul li a{
  color: #2c2c2c;
}
/*end new footer css */
@media (min-width: 768px) {
  .container {
    width: 100%;
    display: flex;
    flex-wrap: unset;
    margin-right: inherit;
    max-width: 1370px;
  }
  .containerFooter {
    width: 100%;
    /* display: flex; */
    flex-wrap: unset;
  }
  .dcol-3 {
    flex-wrap: nowrap;
    width: 33%;
    margin-top: 100px;
    margin-bottom: 20px;
  }
  .dcol-4 {
    flex-wrap: nowrap;
    width: 20%;
  }
  .dcol-5 {
    flex-wrap: nowrap;
    width: 15%;
  }
  .searchBtnStyle {
    border-radius: 10px;
    /* border-color: lightblue; */
    border: 1px solid lightblue;
  }
  .txtFreelance {
    font-weight: bold;
    font-family: "Maven Pro";
  }
  .alingdiv {
    padding-top: 30px;
  }
  .imgEditpenposition {
    padding-top: 30px;
  }
  .imgEditPenSize {
    width: 30px;
    height: 30px;
  }
  .textStyle {
    font-family: Maven pro;
    font-size: 12px;
    font-weight: 300;
  }
  .positioncontainerRight {
    padding-top: 40px;
    padding-left: 60px;
  }
  .imgEditPrintSize {
    height: 30px;
    padding-top: 5px;
    width: 20px;
  }
}

@media (max-width: 768px) {
 

  .imgEditPrintSize {
    height: 30px;
    padding-top: 5px;
    width: 20px;
  }
  .txtFreelance {
    font-weight: 700;
  }
  .alingdiv {
    padding-top: 100px;
  }
  .searchBtnStyle {
    border-radius: 10px;
    /* border-color: lightblue; */
    border: 1px solid lightblue;
  }
  .imgEditpenposition {
    padding-top: 30px;
  }
  .imgEditPenSize {
    width: 30px;
    height: 30px;
  }
  .textStyle {
    font-family: 'Maven pro';
    font-size: 12px;
    font-weight: 300;
  }
  .doc-cust1{
    padding-top: 28px;
  }
  .social-icon{
    display: flex;
  }
  .dcol-5{
    margin: 2px;
  }
  .vis-mob{
    display: block;
    margin: 15px 0;
  }
  .w-100{
    margin-top: 15px;
  }
  .hide-mob{
    display: none;
  }
  .doc-cust1{
    padding-top: 0px;
  }
}


  .dcol-5{
    flex-wrap: nowrap;
    width: 35px;
}

