<!--================ Start footer Area  =================-->
<footer class="footer-area section_gap">
  <div class="container">
    <div class="row">
      <div class="col-lg-2 col-md-6 single-footer-widget" style="color:white">
        <h4>Front End</h4>
        <ul>
          <li><a routerLink="/react">React JS</a></li>
          <li><a routerLink="/angular">Angular 8</a></li>
          <li><a routerLink="/javascript">JavaScript </a></li>
          <li><a routerLink="/mean">MEAN </a></li>
          <li><a routerLink="/mern">MERN </a></li>
          <li>
            <a routerLink="/explorecourses">All Course</a>
          </li>
        </ul>
      </div>
      <div class="col-lg-2 col-md-6 single-footer-widget" style="color:white">
        <h4>Back End</h4>
        <ul>
          <li><a routerLink="/java">JAVA</a></li>
          <li><a routerLink="/dotnet">C#/.Net</a></li>
          <li><a routerLink="/node">Node JS</a></li>
          <li><a routerLink="/mean">MEAN </a></li>
          <li><a routerLink="/mern">MERN </a></li>
          <li><a routerLink="/explorecourses">All Course</a></li>
        </ul>
      </div>
      <div class="col-lg-2 col-md-6 single-footer-widget" style="color:white">
        <h4>Features</h4>
        <ul>
          <li><a href="#">Jobs</a></li>
          <li><a href="#">Brand Assets</a></li>
          <li><a href="#">Investor Relations</a></li>
          <li><a href="#">Terms of Service</a></li>
        </ul>
      </div>
      <div class="col-lg-2 col-md-6 single-footer-widget" style="color:white">
        <h4>Contacts</h4>
        <ul>
                <li><a routerLink="/contact">Contact us</a></li>
          <li>
            <a href="tel:+9530123654896">
              <span class="lnr lnr-phone"></span>
              <span class="text">
                <span class="text">+953012 3654 896</span>
              </span>
            </a>
          </li>
          
          <a href="mailto:support@colorlib.com">
                <span class="lnr lnr-envelope"></span>
                <span class="text">
                  <span class="text">support@colorlib.com</span>
                </span>
              </a>
          
        </ul>
      </div>
      <div class="col-lg-4 col-md-6 single-footer-widget" style="color:white">
        <h4>HSR Layout Office</h4>
        <p>1st floor, #221, 9th Main, 6th Sector, HSR</p>
        <p>Layout, Near Lawrence High School ICSE,</p>
        <p>Bengaluru, Karnataka 560034</p>
        <!-- <div class="form-wrap" id="mc_embed_signup">
          <form
            target="_blank"
            action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01"
            method="get"
            class="form-inline"
          >
            <input
              class="form-control"
              name="EMAIL"
              placeholder="Your Email Address"
              onfocus="this.placeholder = ''"
              onblur="this.placeholder = 'Your Email Address'"
              required=""
              type="email"
            />
            <button class="click-btn btn btn-default">
              <span>subscribe</span>
            </button>
            <div style="position: absolute; left: -5000px;">
              <input
                name="b_36c4fd991d266f23781ded980_aefe40901a"
                tabindex="-1"
                value=""
                type="text"
              />
            </div>

            <div class="info"></div>
          </form>
        </div> -->
      </div>
    </div>
    <div class="row footer-bottom d-flex justify-content-between">
      <p class="col-lg-8 col-sm-12 footer-text m-0 text-white">
        Copyright © 2018 by <span><a routerLink="/">mLearn.in</a></span> All
        rights reserved
      </p>
      <div class="col-lg-4 col-sm-12 footer-social">
        <a href="#"><i class="fa fa-facebook"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="#"><i class="fa fa-dribbble"></i></a>
        <a href="#"><i class="fa fa-behance"></i></a>
      </div>
    </div>
  </div>
</footer>
<!--================ End footer Area  =================-->
