<!--================Home Banner Area =================-->
<section class="banner_area">
    <div class="banner_inner d-flex align-items-center">
        <div class="overlay"></div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="banner_content text-center">
                        <h2>Node JS</h2>
                        <p>Learn NodeJS and Express framework. Learn to design and develop RESTful web services with Express, Mongoose and MongoDB. AWS account setup and WebAPI hosting on AWS EC2 instance, Database Hosting on AWS RDS server
                        <div class="page_link">
                            <a href="index.html">Home</a>
                            <a href="courses.html">Courses</a>
                            <a href="course-details.html">Angular 8</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Home Banner Area =================-->

<!--================ Start Course Details Area =================-->
<section class="course_details_area section_gap">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 course_details_left" style="font-family: 'Open Sans';">
                <div class="main_image">
                    <img class="img-fluid" src="../../../assets/img/Node.png"  style="width:100%" alt="">
                </div>
                <div class="content_wrapper">
                    <h4 class="title">Objectives</h4>
                    <div class="content">
                            In the course, we will cover TypeScript programming langauge and Angular framework. We will explore the core design of Angular, its components and code organization techniques. We will learn how to develop SPA application using Angular CLI. We will cover OOPs concepts, GIT, design patterns, web deployment in this course. This course includes many coding exercise to cover langauge and OOPs concept. We will do  project as a part of this course. 
                    </div>

                    <h4 class="title">Micro Learning</h4>
                    <div class="content">
                        As per the concept of micro learning we have divided this course into several micro learning concepts. Each concept have few topics related to it, candidate can opt for any concept which he or she wants to learn and just need to pay the fees of that particular topic only.
                        <br>
                        <br>
                        All the topics listed below are arranged in a sequential flow which means if someone opts to learn a particular topic/concept, he/she should be comfortable with all the previous topics.
At end of each concept candidate needs to go through the assignment related to the topic along with an examination to make sure the candidate understand the topic clearly.
<br>
                        <br>
                        Candidate can choose from the pool of our available trainers. Detailed profile of each trainer is available on our platform along with the review or ratings from all the students. Candidate can choose any trainer from the list.
<br>
<br>
Apart from micro learning candidate can choose for the bundled package (Full course also) and can convert his micro learning into bundled package any time. In that case cost of micro learning topics will be deducted from the full package cost  and candidate can pay the remaining amount.

                    </div>

                    <h4 class="title">Course Outline</h4>
                    <div class="content">
                        <div class="accordion" id="accordionExample">
                                <div class="card">
                                        <div class="card-header" id="headingTS">
                                              <h2 class="mb-0">
                                                      <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseTS" aria-expanded="true" aria-controls="collapseTS">
                                                              TypeScript
                                                      </button>
                                                    </h2> 
                                        <div class="courseLink">
                                              <div class="courseRegister">
                                                      <a (click)="register(3,1)"  class="genric-btn  primary-border">Duration: 8 hrs</a>
                                                  
                                                </div> 
                                                <div class="courseRegister">
                                                      <a (click)="register(3,1)"  class="genric-btn  info-border">Fees: &#x20B9; 2500</a>
                                                  
                                                </div>
                                                <div class="courseRegister">
                                                      <a (click)="register(3,1)"  class="genric-btn info circle">Register</a>
                                                  
                                                </div>
                                        </div> 
                                       
                                        </div>
                                    
                                        <div id="collapseTS" class="collapse show" aria-labelledby="headingTS" data-parent="#accordionExample">
                                          <div class="card-body">
                                           <p>This module will introduce the candidates to the Typescript. Which is must for learning Angular.
                                           <p><h3>Topics/Concepts</h3>
                                           <ul>
                                               <li>Introduction and History</li>
                                               <li>Environment Setup</li>
                                               <li>	Variable, primitive data-type, keywords</li>
                                               <li>OOPs concepts</li>
                                               <li>Classes and Object</li>
                                               
                                               <li>  Operator, conditional, ternary operator</li>
                                               <li>Array, Struct, Enum,Switch, loop</li>
                                               <li>Interface,Inheritance</li>
                                               <li>React Application Architecture</li>
                                               
                                           </ul>
                                           <p><h3>Hands on/Practical</h3>
                                           <ul>
                                               <li>Node TS and Visual Studio Installation</li>
                                               <li>Sample Bank System desing with TypeScript</li>
                                           </ul>
                                           <p><h3>Assignment/Assesment</h3>
                                                  <ul>
                                                      <li>Complete an Assignment provided by the Trainer</li>
                                                      <li>Online exam to test the candidate understandings of the concepts</li>
                                                  </ul>
                                          </div>
                                        </div>
                                      </div>
                            <div class="card">
                              <div class="card-header" id="headingOne">
                                    <h2 class="mb-0">
                                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                    Introduction to Node.js
                                            </button>
                                          </h2> 
                              <div class="courseLink">
                                    <div class="courseRegister">
                                            <a (click)="register(3,2)"  class="genric-btn  primary-border">Duration: 4 hrs</a>
                                        
                                      </div> 
                                      <div class="courseRegister">
                                            <a (click)="register(3,2)" class="genric-btn  info-border">Fees: &#x20B9; 1500</a>
                                        
                                      </div>
                                      <div class="courseRegister">
                                            <a (click)="register(3,2)"class="genric-btn info circle">Register</a>
                                        
                                      </div>
                              </div> 
                             
                              </div>
                          
                              <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                                <div class="card-body">
                                 <p> This module will introduce you to the basic constructs of web application development, MVC architecture, what is Angular and the differences between single and multiple page applications. You will also learn how to install Angular and make use of NPM packages. .
                                 <p><h3>Topics/Concepts</h3>
                                 <ul>
                                     <li>What is Node.js and 
                                            Why?</li>
                                     <li>Installing NodeJS</li>
                                     <li>Node in-built packages</li>
                                     <li>Node.js Modules</li>
                                     <li>Node Package Manager (NPM) </li>
                                     <li> Local and Global Packages</li>
                                     <li>Push code to GitHub</li>
                                     
                                     
                                 </ul>
                                 <p><h3>Hands on/Practical</h3>
                                 <ul>
                                     <li>Node and Visual Studio Installation</li>
                                     <li>Installation of GIT and push codes to GIT repository</li>
                                 </ul>
                                 <p><h3>Assignment/Assesment</h3>
                                        <ul>
                                            <li>Complete an Assignment provided by the Trainer</li>
                                            <li>Online exam to test the candidate understandings of the concepts</li>
                                        </ul>
                                </div>
                              </div>
                            </div>
                           
                            <div class="card">
                                    <div class="card-header" id="headingTwo" >
                                            <h2 class="mb-0">
                                                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                                                            File System Module and Express.js
                                                    </button>
                                                  </h2> 
                                                  <div class="courseLink">
                                                        <div class="courseRegister">
                                                                <a (click)="register(3,3)"  class="genric-btn  primary-border">Duration: 8 hrs</a>
                                                            
                                                          </div> 
                                                          <div class="courseRegister">
                                                                <a (click)="register(3,3)" class="genric-btn  info-border">Fees: &#x20B9; 2500</a>
                                                            
                                                          </div>
                                                          <div class="courseRegister">
                                                                <a (click)="register(3,3)" class="genric-btn info circle">Register</a>
                                                            
                                                          </div>
                                                  </div> 
                                            
                                            </div>
                              <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                                <div class="card-body">
                                        <p>In this module, you will learn how to get user inputs via Command Line Arguments and store data using File system. You will also learn how to create the applications using Express Framework, 
                                        <p><h3>Topics/Concepts</h3>
                                        <ul>
                                                <ul>
                                                        <li>Get Input from Users 
                                                        </li><li>Pass Multiple Arguments with Yargs
                                                        </li><li>File System Module
                                                        </li><li>Operations associated with File System Module
                                                        </li><li>JSON Data 
                                                        </li><li>Http Server and Client
                                                        </li><li>Sending and receiving events with EventEmitters
                                                        </li><li>Express Framework
                                                        </li><li>Run a Web Server using Express Framework 
                                                        </li><li>Routes
                                                        </li><li>Deploy application using PM2 and Nginx 
                                                        </li></ul>
                                           
                                        </ul>
                                        <p><h3>Hands on/Practical</h3>
                                        <ul>
                                            <li>Build an API using express, read file with FS module</li>
                                            
                                        </ul>
                                        <p><h3>Assignment/Assesment</h3>
                                        <ul>
                                            <li>Complete an Assignment provided by the Trainer</li>
                                            <li>Online exam to test the candidate understandings of the concepts</li>
                                        </ul>
                                        
                                </div>
                              </div>
                            </div>
                            <div class="card">
                                    <div class="card-header" id="headingFour">
                                      <h2 class="mb-0">
                                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                                Asynchronous Programming    
                                        </button>
                                      </h2>
                                      <div class="courseLink">
                                            <div class="courseRegister">
                                                    <a (click)="register(3,4)" class="genric-btn  primary-border">Duration: 8 hrs</a>
                                                
                                              </div> 
                                              <div class="courseRegister">
                                                    <a (click)="register(3,4)" class="genric-btn  info-border">Fees: &#x20B9; 2500</a>
                                                
                                              </div>
                                              <div class="courseRegister">
                                                    <a (click)="register(3,4)" class="genric-btn info circle">Register</a>
                                                
                                              </div>
                                      </div> 
                                    </div>
                                    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                                      <div class="card-body">
                                            <ul>
                                                    <li style="text-align: justify;">Call Stack
                                                    </li>
                                                    <li style="text-align: justify;">Callbacks, Callback Queue and Event Loop
                                                    </li>
                                                    <li style="text-align: justify;">Callback Abstraction 
                                                    </li>
                                                    <li style="text-align: justify;">Callback Chaining
                                                    </li>
                                                    <li style="text-align: justify;">Promises 
                                                    </li>
                                                    <li style="text-align: justify;">Promise Chaining 
                                                    </li>
                                                    <li style="text-align: justify;">Request Package 
                                                    </li>
                                                    <li style="text-align: justify;">Customizing HTTP Requests 
                                                    </li>
                                                    <li style="text-align: justify;">Error handing with appropriate HTTP codes
                                                    </li>
                                                </ul>
                                            <p><h3>Hands on/Practical</h3>
                                        <ul>
                                            
                                           
                                            
                                        </ul>
                                        <p><h3>Assignment/Assesment</h3>
                                        <ul>
                                            <li>Complete an Assignment provided by the Trainer</li>
                                            <li>Online exam to test the candidate understandings of the concepts</li>
                                        </ul>
                                      </div>
                                    </div>
                                  </div>
                            <div class="card">
                              <div class="card-header" id="headingThree">
                                <h2 class="mb-0">
                                  <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                        Integration with MongoDB and Email Servers 
                                  </button>
                                </h2>
                                <div class="courseLink">
                                        <div class="courseRegister">
                                                <a (click)="register(3,5)" class="genric-btn  primary-border">Duration: 6 hrs</a>
                                            
                                          </div> 
                                          <div class="courseRegister">
                                                <a (click)="register(3,5)" class="genric-btn  info-border">Fees: &#x20B9; 2000</a>
                                            
                                          </div>
                                          <div class="courseRegister">
                                                <a (click)="register(3,5)" class="genric-btn info circle">Register</a>
                                            
                                          </div>
                                  </div> 
                              </div>
                              <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                                <div class="card-body">
                                        <p>In this module, you will learn how to work with NoSQL Database – MongoDB. Also, you will learn how to send emails via Node.js application.  
                                            
                                        <p><h3>Topics/Concepts</h3>
                                        <ul>
                                                <li style="text-align: justify;">Introduction to NoSQL Databases and MongoDB
                                                </li><li style="text-align: justify;">Installation of MongoDB on Windows 
                                                </li><li style="text-align: justify;">Installation of Database GUI Viewer 
                                                </li><li style="text-align: justify;">Inserting Documents 
                                                </li><li style="text-align: justify;">Querying, Updating and Deleting Documents 
                                                </li><li style="text-align: justify;">Connect MongoDB and Node.js Application
                                                </li><li style="text-align: justify;">Exploring SendGrid
                                                </li><li style="text-align: justify;">Sending emails through Node.js application using SendGrid
                                                </li></ul>
                                        <p><h3>Hands on/Practical</h3>
                                        <ul>
                                                <li style="text-align: justify;">Installation of MongoDB and MongoDB Compass
                                                </li><li style="text-align: justify;">Connecting MongoDB And Node.js
                                                </li><li style="text-align: justify;">Sending Email Via Node.js Application Using SendGrid
                                                </li></ul>
                                        <p><h3>Assignment/Assesment</h3>
                                        <ul>
                                            <li>Complete an Assignment provided by the Trainer</li>
                                            <li>Online exam to test the candidate understandings of the concepts</li>
                                        </ul>
                                </div>
                              </div>
                            </div>
                           
                                  <div class="card">
                                        <div class="card-header" id="headingFive">
                                          <h2 class="mb-0">
                                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                                    REST APIs
                                            </button>
                                          </h2>
                                          <div class="courseLink">
                                                <div class="courseRegister">
                                                        <a (click)="register(3,6)" class="genric-btn  primary-border">Duration: 8 hrs</a>
                                                    
                                                  </div> 
                                                  <div class="courseRegister">
                                                        <a (click)="register(3,6)"  class="genric-btn  info-border">Fees: &#x20B9; 2500</a>
                                                    
                                                  </div>
                                                  <div class="courseRegister">
                                                        <a (click)="register(3,6)"  class="genric-btn info circle">Register</a>
                                                    
                                                  </div>
                                          </div> 
                                        </div>
                                        <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
                                          <div class="card-body">
                                                <ul>
                                                        <li style="text-align: justify;">REST API 
                                                        </li><li style="text-align: justify;">REST API in Express
                                                        </li><li style="text-align: justify;">Postman
                                                        </li><li style="text-align: justify;">MongoDB Driver API
                                                        </li><li style="text-align: justify;">Express Router
                                                        </li><li style="text-align: justify;">Mongoose API
                                                        </li>
                                                        
                                                    </ul>
                                            <p><h3>Assignment/Assesment</h3>
                                            <ul>
                                                <li>Complete an Assignment provided by the Trainer</li>
                                                <li>Online exam to test the candidate understandings of the concepts</li>
                                            </ul>
                                          </div>
                                        </div>
                                      </div>
                                      <div class="card">
                                            <div class="card-header" id="headingSix">
                                              <h2 class="mb-0">
                                                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                                        User Authentication and Application Security
                                                </button>
                                              </h2>
                                              <div class="courseLink">
                                                    <div class="courseRegister">
                                                            <a (click)="register(3,7)"  class="genric-btn  primary-border">Duration: 12 hrs</a>
                                                        
                                                      </div> 
                                                      <div class="courseRegister">
                                                            <a (click)="register(3,7)"  class="genric-btn  info-border">Fees: &#x20B9; 4000</a>
                                                        
                                                      </div>
                                                      <div class="courseRegister">
                                                            <a (click)="register(3,7)"  class="genric-btn info circle">Register</a>
                                                        
                                                      </div>
                                              </div> 
                                            </div>
                                            <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordionExample">
                                              <div class="card-body">
                                                    <ul>
                                                            <li style="text-align: justify;">Authentication
                                                            </li><li style="text-align: justify;">Types of Authentication
                                                            </li><li style="text-align: justify;">Session Vs Tokens
                                                            </li><li style="text-align: justify;">JSON Web Tokens
                                                            </li><li style="text-align: justify;">Bcrypt
                                                            </li><li style="text-align: justify;">Node-localstorage
                                                            </li></ul>
                                                            <p><h3>Hands on/Practical</h3>
                                                            <ul>
                                                                    <li> Build a Login Application</li>
                                                                  
                                                                    
                                                                    
                                                                
                                                            </ul>
                                                            <p><h3>Assignment/Assesment</h3>
                                                            <ul>
                                                                <li>Complete an Assignment provided by the Trainer</li>
                                                                <li>Online exam to test the candidate understandings of the concepts</li>
                                                               
                                                            </ul>
                                              </div>
                                            </div>
                                          </div>
                                          <div class="card">
                                                <div class="card-header" id="headingSeven">
                                                  <h2 class="mb-0">
                                                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                                                            Testing Node.js Applications
                                                    </button>
                                                        
                                                  </h2>
                                                  <div class="courseLink">
                                                        <div class="courseRegister">
                                                                <a (click)="register(3,8)"  class="genric-btn  primary-border">Duration: 10 hrs</a>
                                                            
                                                          </div> 
                                                          <div class="courseRegister">
                                                                <a (click)="register(3,8)"class="genric-btn  info-border">Fees: &#x20B9; 2500</a>
                                                            
                                                          </div>
                                                          <div class="courseRegister">
                                                                <a (click)="register(3,8)" class="genric-btn info circle">Register</a>
                                                            
                                                          </div>
                                                  </div> 
                                                </div>
                                                <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordionExample">
                                                  <div class="card-body">
                                                        <ul>
                                                                <li style="text-align: justify;">Writing Tests and Assertions 
                                                                </li><li style="text-align: justify;">Testing Asynchronous Code 
                                                                </li><li style="text-align: justify;">Testing an Express Application
                                                                </li><li style="text-align: justify;">Setup and Teardown 
                                                                </li><li style="text-align: justify;">Testing with Authentication 
                                                                </li><li style="text-align: justify;">Advanced Assertions 
                                                                </li><li style="text-align: justify;">Mocking Libraries 
                                                                </li><li style="text-align: justify;">Wrapping up User Tests 
                                                                </li><li style="text-align: justify;">Setup Task Test Suite 
                                                                </li><li style="text-align: justify;">Testing with Task Data 
                                                                </li></ul>
                                                                <p><h3>Hands on/Practical</h3>
                                                                <ul>
                                                                        <li>Perform Testing with Mocha and Chai</li>
                                                                                                                                                 
                                                                        
                                                                        
                                                                    
                                                                </ul>
                                                                <p><h3>Assignment/Assesment</h3>
                                                                <ul>
                                                                    <li>Complete an Assignment provided by the Trainer</li>
                                                                    <li>Online exam to test the candidate understandings of the concepts</li>
                                                                   
                                                                </ul>
                                                  </div>
                                                </div>
                                              </div>

                                             
                                                 
                                                  <div class="card">
                                                    <div class="card-header" id="headingNine">
                                                      <h2 class="mb-0">
                                                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
                                                                Microservices Application
                                                        </button>
                                                      </h2>
                                                      <div class="courseLink">
                                                            <div class="courseRegister">
                                                                    <a (click)="register(3,9)" class="genric-btn  primary-border">Duration: 6 hrs</a>
                                                                
                                                              </div> 
                                                              <div class="courseRegister">
                                                                    <a (click)="register(3,9)"  class="genric-btn  info-border">Fees: &#x20B9; 2000</a>
                                                                
                                                              </div>
                                                              <div class="courseRegister">
                                                                    <a (click)="register(3,9)" class="genric-btn info circle">Register</a>
                                                                
                                                              </div>
                                                      </div> 
                                                    </div>
                                                    <div id="collapseNine" class="collapse" aria-labelledby="headingNine" data-parent="#accordionExample">
                                                      <div class="card-body">
                                                            <ul>
                                                                    <li style="text-align: justify;">Why Microservices?
                                                                    </li><li style="text-align: justify;">What is Microservices?
                                                                    </li><li style="text-align: justify;">Why Docker?
                                                                    </li><li style="text-align: justify;">What is Docker?
                                                                    </li><li style="text-align: justify;">Terminologies in Docker
                                                                    </li><li style="text-align: justify;">Child Processes
                                                                    </li><li style="text-align: justify;">Types of child process
                                                                    </li></ul>
                                                                    <p><h3>Hands on/Practical</h3>
                                                                    <ul>
                                                                            <li>Testing Angular application</li>
                                                                            <li> Application Deployment via Docker</li>
                                                                            
                                                                            
                                                                            
                                                                        
                                                                    </ul>
                                                                    <p><h3>Assignment/Assesment</h3>
                                                                    <ul>
                                                                        <li>Complete an Assignment provided by the Trainer</li>
                                                                        <li>Online exam to test the candidate understandings of the concepts</li>
                                                                       
                                                                    </ul>
                                                      </div>
                                                    </div>
                                                  </div>
                                                  <div class="card">
                                                    <div class="card-header" id="headingTen">
                                                      <h2 class="mb-0">
                                                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
                                                         Any Custom Topic/Particular issue Support
                                                        </button>
                                                      </h2>  <div class="courseLink">
                                                            <!-- <div class="courseRegister">
                                                                    <a href="Register.hmtl?courseid=react&topicid=9" class="genric-btn  primary-border">Duration: 6 hrs</a>
                                                                
                                                              </div> 
                                                              <div class="courseRegister">
                                                                    <a href="Register.hmtl?courseid=react&topicid=9" class="genric-btn  info-border">Fees: &#x20B9; 2500</a>
                                                                
                                                              </div> -->
                                                              <div class="courseRegister">
                                                                    <a (click)="register(3,10)"  class="genric-btn info circle">Register</a>
                                                                
                                                              </div>
                                                      </div> 

                                                    </div>
                                                    <div id="collapseTen" class="collapse" aria-labelledby="headingTen" data-parent="#accordionExample">
                                                      <div class="card-body">
                                                       If Any one wants to learn any custom topic or require some support with particular issue or Topic he/she can register and share the details.Our Expert/Trainers will get in touch with you. Based on discussion and complexity price will be decided
                                                      </div>
                                                    </div>
                                                  </div>
                          </div>
                    </div>
                </div>
            </div>


            <div class="col-lg-4 right-contents">
                <ul>
                    <li>
                        <a class="justify-content-between d-flex" href="#">
                            <p>Course Duration (Full Course)
                            <span class="or">56 hrs</span>
                        </a>
                    </li>
                    <li>
                        <a class="justify-content-between d-flex" href="#">
                            <p>Course Fee 
                            <span> &#x20B9; 20000</span>
                        </a>
                    </li>
                    <li>
                        <a class="justify-content-between d-flex" href="#">
                            <p>Weekdays 
                            <span>7:00 am to 8:30 am</span>
                        </a>
                    </li>
                    <li>
                        <a class="justify-content-between d-flex" href="#">
                            <p>Weekends 
                            <span>(9 to 11:30 am)/ (3:30  to 6 p.m.) </span>
                        </a>
                    </li>
                </ul>
                <a (click)="register(3,0)" class="primary-btn text-uppercase enroll">Enroll the course</a>

                <h4 class="title">Reviews</h4>
                <div class="content">
                    <app-reviews [courseId]="courseId"></app-reviews>
                    
                    <h4  style="margin-top:-20px" class="title">FAQ's</h4>
                   <app-faq></app-faq>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================ End Course Details Area =================-->
