<div class="popular_courses lite_bg">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="main_title">
                    <h2>Popular Courses</h2>
                   
                </div>
            </div>
        </div>
        <div class="row">
            <!-- single course -->
            <div class="col-lg-3 col-md-6">
                <div class="single_course">
                    <div class="course_head overlay">
                        <img class="img-fluid w-100" src="../../../assets/img/JS.png" style="height:255px" alt="">
                        
                    </div>
                    <div class="course_content">
                        <h4>
                            <a routerLink="/javascript"> Java Script (Basic + Advanced)</a>
                        </h4>
                        <p>In this course, you will learn the concepts of scripting on client-side and fundamentals of JavaScript. 
                            This will cover both basic and advance JS.
                            </p>
                            <p><a routerLink="/javascript"> click here for Micro Leraning</a></p>
                        <div class="course_meta d-flex justify-content-between">
                            <div>
                                <span class="meta_info">
                                    <a href="#"><i class="lnr lnr-user"></i>355</a>
                                </span>
                                <span class="meta_info">
                                    <a href="#">
                                        <i class="lnr lnr-bubble"></i>35
                                    </a>
                                </span>
                            </div>
                            <div class="hidePrice">
                                <span class="price">$150</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- single course -->
            <div class="col-lg-3 col-md-6">
                <div class="single_course">
                    <div class="course_head overlay">
                        <img class="img-fluid w-100" src="../../../assets/img/React.png" style="height:255px !important"  alt="">
                        
                    </div>
                    <div class="course_content">
                        <h4>
                            <a routerLink="/react"> React js </a>
                        </h4>
                        <p>React JS  is one of the most popular frameworks for building client apps with HTML, CSS and JavaScript. Learn React to establish yourself as a front-end or a full-stack developer</p>
                        <p><a  routerLink="/react"> click here for Micro Leraning</a></p>
                        <div class="course_meta d-flex justify-content-between">
                            <div>
                                <span class="meta_info">
                                    <a href="#">
                                        <i class="lnr lnr-user"></i>355
                                    </a>
                                </span>
                                <span class="meta_info"><a href="#">
                                        <i class="lnr lnr-bubble"></i>35
                                    </a></span>
                            </div>
                            <div class="hidePrice">
                                <span class="price df_color1">$150</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- single course -->
            <div class="col-lg-3 col-md-6">
                <div class="single_course">
                    <div class="course_head overlay">
                        <img class="img-fluid w-100" src="../../../assets/img/Angular.svg.png" alt="">
                        
                    </div>
                    <div class="course_content">
                        <h4>
                            <a  routerLink="/angular"> Angular 8 </a>
                        </h4>
                        <p>
                            Angular 8 - a product of Google is one of the most popular frameworks in Front end development. Learn Angular to establish yourself as a front-end or a full-stack develop
                            </p>
                            <p><a routerLink="/angular"> click here for Micro Leraning</a></p>
                        <div class="course_meta d-flex justify-content-between">
                            <div>
                                <span class="meta_info">
                                    <a href="#">
                                        <i class="lnr lnr-user"></i>355
                                    </a>
                                </span>
                                <span class="meta_info"><a href="#">
                                        <i class="lnr lnr-bubble"></i>35
                                    </a></span>
                            </div>
                            <div class="hidePrice">
                                <span class="price">$150</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- single course -->
            <div class="col-lg-3 col-md-6">
                <div class="single_course">
                    <div class="course_head overlay">
                        <img class="img-fluid w-100" src="../../../assets/img/Node.png" style="height:255px" alt="">
                        
                    </div>
                    <div class="course_content">
                        <h4>
                            <a routerLink="/node">Node JS</a>
                        </h4>
                        <p>Learn NodeJS and Express, design and develop RESTful web services with Express,  and MongoDB. AWS account setup and WebAPIand Database Hosting on AWS</p>
                            <p><a routerLink="/node"> click here for Micro Leraning</a></p>
                        <div class="course_meta d-flex justify-content-between">
                            <div>
                                <span class="meta_info">
                                    <a href="#">
                                        <i class="lnr lnr-user"></i>355
                                    </a>
                                </span>
                                <span class="meta_info"><a href="#">
                                        <i class="lnr lnr-bubble"></i>35
                                    </a></span>
                            </div>
                            <div class="hidePrice">
                                <span class="price df_color2">$150</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <!-- single course -->
            <div class="col-lg-3 col-md-6">
                <div class="single_course">
                    <div class="course_head overlay">
                        <img class="img-fluid w-100" src="../../../assets/img/DotNet.png" style="height: 250px;" alt="">
                        
                    </div>
                    <div class="course_content">
                        <h4>
                            <a routerLink="/dotnet">C# / .NET</a>
                        </h4>
                        <p>Learn core and advance C# and .NET framework. Learn to design and develop RESTful web services with C#, .NET Framework, Entity Framework and MySQL. AWS account setup and WebAPI hosting on AWS.
                        </p>
                        <p><a routerLink="/dotnet"> click here for Micro Leraning</a></p>
                        <div class="course_meta d-flex justify-content-between">
                            <div>
                                <span class="meta_info">
                                    <a href="#"><i class="lnr lnr-user"></i>355</a>
                                </span>
                                <span class="meta_info">
                                    <a href="#">
                                        <i class="lnr lnr-bubble"></i>35
                                    </a>
                                </span>
                            </div>
                            <div class="hidePrice">
                                <span class="price">$150</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- single course -->
            <div class="col-lg-3 col-md-6">
                <div class="single_course">
                    <div class="course_head overlay">
                        <img class="img-fluid w-100" src="../../../assets/img/Java.jpg" style="height: 250px;" alt="">
                        
                    </div>
                    <div class="course_content">
                        <h4>
                            <a routerLink="/java">Learn Java and Spring Boot </a>
                        </h4>
                        <p>Learn core and advance JAVA and JAVA framework Spring. Learn to design and develop RESTful web services with Spring, JPA and MySQL. Master Microservices with Spring Boot. AWS account setup and deployment</p>
                        <p><a routerLink="/java"> click here for Micro Leraning</a></p>
                        <div class="course_meta d-flex justify-content-between">
                            <div>
                                <span class="meta_info">
                                    <a href="#">
                                        <i class="lnr lnr-user"></i>355
                                    </a>
                                </span>
                                <span class="meta_info"><a href="#">
                                        <i class="lnr lnr-bubble"></i>35
                                    </a></span>
                            </div>
                            <div class="hidePrice">
                                <span class="price df_color1">$150</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- single course -->
            <div class="col-lg-3 col-md-6">
                <div class="single_course">
                    <div class="course_head overlay">
                        <img class="img-fluid w-100" src="../../../assets/img/mean.jpg" style="height: 255px;" alt="">
                        
                    </div>
                    <div class="course_content">
                        <h4>
                            <a href="course-details.html"> Full Stack (MEAN)</a>
                        </h4>
                        <p>A full stack developer is an engineer who can handle all the work of databases, servers, systems engineering, and programming etc. In this stack one will learn Typescript,Angular Express Node and Mongo DB. </p>
                        <p><a href="course-details.html"> click here for Micro Leraning</a></p>
                        <div class="course_meta d-flex justify-content-between">
                            <div>
                                <span class="meta_info">
                                    <a href="#">
                                        <i class="lnr lnr-user"></i>355
                                    </a>
                                </span>
                                <span class="meta_info"><a href="#">
                                        <i class="lnr lnr-bubble"></i>35
                                    </a></span>
                            </div>
                            <div class="hidePrice">
                                <span class="price">$150</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- single course -->
            <div class="col-lg-3 col-md-6">
                <div class="single_course">
                    <div class="course_head overlay">
                        <img class="img-fluid w-100" src="../../../assets/img/mern.png" style="height:255px" alt="">
                        
                    </div>
                    <div class="course_content">
                        <h4>
                            <a href="course-details.html"> Full Stack (MERN)</a>
                        </h4>
                        <p>A full stack developer is an engineer who can handle all the work of databases, servers, systems engineering, and programming etc. In this stack one will learn React Express Node and Mongo DB.</p>
                        <p><a href="course-details.html"> click here for Micro Leraning</a></p>
                        <div class="course_meta d-flex justify-content-between">
                            <div>
                                <span class="meta_info">
                                    <a href="#">
                                        <i class="lnr lnr-user"></i>355
                                    </a>
                                </span>
                                <span class="meta_info"><a href="#">
                                        <i class="lnr lnr-bubble"></i>35
                                    </a></span>
                            </div>
                            <div class="hidePrice">
                                <span class="price df_color2">$150</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
