<div class="row" style="display: block;">
    <div style="text-align: center;">
        <h1>Settings</h1>
    </div>
    <div style="margin-left: 30%;">
        <a style="color:blue;font-size:x-large" href="#" (click)="toggleChPass($event)"><i
                class="fa fa-minus-square-o fa-lg ic-color" aria-hidden="true" *ngIf="displyChangePassword"></i> <i
                class="fa fa-plus-square-o fa-lg ic-color" aria-hidden="true" *ngIf="!displyChangePassword"></i>Change
            Password</a>
    </div>


</div>
<div class="row" *ngIf="displyChangePassword" style="margin-top: 40px">
    <div class="col-md-10" style="margin-left: 2%;">
        <div class=" ">
            <div class="" style="text-align: center;">
                <h5 class="card-title">Change Password</h5>

            </div>
            <div class="">
                <div class="content" style="margin-top:0px;margin-left: 30%;">
                    <div class="row">
                        <div class="col-md-6">
                            <form class="form-horizontal form-material" id="loginform" [formGroup]="studentForm">
                                <div class="form-group">
                                    <label for="username" class="label text-uppercase">Current Password</label>
                                    <input class="form-control" type="password" required
                                        formControlName="currentpassword" placeholder="Current Password" />
                                    <span class="errorMessage" *ngIf="
                      (studentForm.controls['currentpassword'].dirty ||
                        studentForm.controls['currentpassword'].touched) &&
                      studentForm.controls['currentpassword'].invalid &&
                      studentForm.controls['currentpassword'].errors.required
                    ">
                                        *Password is required.
                                    </span>
                                    <span class="errorMessage" *ngIf="
                      (studentForm.controls['currentpassword'].dirty ||
                        studentForm.controls['currentpassword'].touched) &&
                      studentForm.controls['currentpassword'].invalid &&
                      studentForm.controls['currentpassword'].errors.invalidPattern
                    ">
                                        *Password must be of 6 to 15 characters .
                                    </span>
                                </div>
                                <div class="form-group">
                                    <label for="username" class="label text-uppercase">New Password</label>
                                    <input class="form-control" type="password" required formControlName="password"
                                        placeholder="New Password" />
                                    <span class="errorMessage" *ngIf="
                      (studentForm.controls['password'].dirty ||
                        studentForm.controls['password'].touched) &&
                      studentForm.controls['password'].invalid &&
                      studentForm.controls['password'].errors.required
                    ">
                                        *Password is required.
                                    </span>
                                    <span class="errorMessage" *ngIf="
                      (studentForm.controls['password'].dirty ||
                        studentForm.controls['password'].touched) &&
                      studentForm.controls['password'].invalid &&
                      studentForm.controls['password'].errors.invalidPattern
                    ">
                                        *Password must be of 6 to 15 characters .
                                    </span>
                                </div>

                                <div class="form-group">
                                    <label for="username" class="label text-uppercase">Confirm Password</label>
                                    <input class="form-control" type="password" required
                                        formControlName="confirmPassword" placeholder="Password" />
                                    <span class="errorMessage" *ngIf="
                      (studentForm.controls['confirmPassword'].dirty ||
                        studentForm.controls['confirmPassword'].touched) &&
                      studentForm.controls['confirmPassword'].invalid &&
                      studentForm.controls['confirmPassword'].errors.required
                    ">
                                        *Confrim Password is required.
                                    </span>
                                    <span class="errorMessage" *ngIf="
                      (studentForm.controls['confirmPassword'].dirty ||
                        studentForm.controls['confirmPassword'].touched) &&
                      studentForm.errors?.invalidPattern?.confirmPasswordValidation
                    ">
                                        *Password and Confrim Password doesnot match.
                                    </span>
                                </div>


                                <div>

                                </div>
                                <div *ngIf="serverError">
                                    <span class="errorMessage" *ngFor="let item of error">
                                        {{ item }}

                                    </span>
                                </div>
                                <div *ngIf="registered">
                                    <span class="successMessage">
                                        User Registered Successfully

                                    </span>
                                </div>
                                <div class="form-group text-center mt-4">
                                    <button class="btn btn-info btn-lg btn-block text-uppercase " type="submit"
                                        (click)="registerUser()">
                                        Reset Password
                                    </button>

                                </div>


                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="">
                <hr />

            </div>
        </div>
    </div>
</div>
<div class="row" style="display: block;margin-top: 40px;">
    <div style="margin-left: 30%;">
        <a href="#" (click)="toggleModifyPh($event)"> <i class="fa fa-minus-square-o fa-lg ic-color" aria-hidden="true"
                *ngIf="displyModifyMobile"></i> <i class="fa fa-plus-square-o fa-lg ic-color" aria-hidden="true"
                *ngIf="!displyModifyMobile"></i>Modify
            Mobile Number</a>
    </div>

</div>
<div class="row" *ngIf="displyModifyMobile" style="margin-top: 40px">
    <div class="col-md-10" style="margin-left: 2%;">
        <div class=" ">
            <div class="" style="text-align: center;">
                <!-- <h5 class="card-title">Modify Mobile Number</h5> -->

            </div>
            <div class="" style="margin-top: 40px;">
                <div class="content" style="margin-top:0px;margin-left: 30%;">
                    <div class="row">
                        <div class="col-md-6">
                            <form class="form-horizontal form-material" id="loginform" [formGroup]="studentForm">
                                <div class="form-group" *ngIf="!disableeditMobile">
                                    <label for="username" class="label text-uppercase">Mobile Number</label>
                                    <input class="form-control" type="text" required formControlName="mobileNumber"
                                        placeholder="Mobile Number" />
                                    <span class="errorMessage" *ngIf="
                      (studentForm.controls['mobileNumber'].dirty ||
                        studentForm.controls['mobileNumber'].touched) &&
                      studentForm.controls['mobileNumber'].invalid &&
                      studentForm.controls['mobileNumber'].errors.required
                    ">
                                        *Mobile Number is required.
                                    </span>
                                    <span class="errorMessage" *ngIf="
                      (studentForm.controls['mobileNumber'].dirty ||
                        studentForm.controls['mobileNumber'].touched) &&
                      studentForm.controls['mobileNumber'].invalid &&
                      studentForm.controls['mobileNumber'].errors.invalidPattern
                    ">
                                        *Mobile Number is Incorrect .
                                    </span>
                                </div>
                                <div class="form-group" *ngIf="disableeditMobile">
                                    <label for="username" class="label text-uppercase"><span
                                            style="font-size: 20px;font-weight: bold;">Registered Number :</span>
                                        <span
                                            style="color:green;font-size: 20px;font-weight: bold;font-style: italic;">{{CurrentmobileNumber}}</span>
                                    </label>


                                </div>


                                <div>

                                </div>
                                <div *ngIf="serverError">
                                    <span class="errorMessage" *ngFor="let item of error">
                                        {{ item }}

                                    </span>
                                </div>
                                <div *ngIf="registered">
                                    <span class="successMessage">
                                        User Registered Successfully

                                    </span>
                                </div>
                                <div class="form-group text-center mt-4" *ngIf="!disableeditMobile">
                                    <button class="btn btn-info btn-lg btn-block text-uppercase " type="submit"
                                        (click)="openVerifyOTP()">
                                        Verify OTP
                                    </button>

                                </div>
                                <div class="form-group text-center mt-4">
                                    <button class="btn btn-info btn-lg btn-block text-uppercase " type="submit"
                                        (click)="editMobile()">
                                        Edit Number
                                    </button>

                                </div>


                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="">
                <hr />

            </div>
        </div>
    </div>
</div>
<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">
    <p style="color: white">Please Wait.</p>
</ngx-spinner>