@import "../node_modules/ag-grid-community/dist/styles/ag-grid.css";
@import "../node_modules/ag-grid-community/dist/styles/ag-theme-alpine.css";
.input-group,
.form-group {
  position: inherit !important;
}
/* .home {
  background-image: url("../src/assets/img/homebgimg.png");
  background-attachment: fixed;
  background-size: cover;
  height: 600px;
  overflow: hidden;
} */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
