<div class="container-cart" >
        <div class="rowCart">
                <div class="col-shp-12 pageTitle">Review Order</div>
        </div>
            
            <div class="rowCart">
                  
              <div class="col-shp-7">
                  <div class="categoryTitle" *ngIf="userCart.displayDesignNPrint == true || userCart.displayDesign == true">Meeting Details
                      <span style="margin-left:3%;font-size: small;">
                        <a href="#" (click)="changeSlot($event)">Change Slot</a>
                    </span>  
                    </div>
                    <div class="rowCart itemCart col-shp-8" style="padding-left: 5%;display:block" *ngIf="userCart.displayDesignNPrint == true || userCart.displayDesign == true">
                            <div>Date : <b> {{selectedSlot.selectedDate}}</b></div>
        
                           <div>Time :<b> {{selectedSlot.selectedTime}}</b></div> 
                            
                           <div>Duration:<b> {{selectedSlot.duration}} Mins</b> </div>  
                    </div>
                <div class="categoryTitle" *ngIf="userCart.displayDesignNPrint == true || userCart.displayPrint == true">Delivery Address 
                  <span style="margin-left:3%;font-size: small;">
                    <a routerLink="/selectAddress">Change Address</a>
                </span>  
                </div>
                <div class="rowCart itemCart col-shp-8" *ngIf="userCart.displayDesignNPrint == true || userCart.displayPrint == true" style="padding-left: 5%;">
                        <p>{{selectedAddress.userName}},</p>
    
                       <p>{{selectedAddress.address}}</p> 
                        
                       <p>Contact: {{selectedAddress.phoneNumber}} </p>  
                </div>
                <div class="categoryTitle">Total Items ({{userCart.totalItems}})</div>
                <hr />
                <a href="#" (click)="toggleItems($event)">{{name}}</a>
                <div *ngIf="toggleDisplayItems">
                    
                        
                              <div class="categoryTitle" *ngIf="userCart.displayDesign">Design Only ({{userCart.design.length}} items)</div>
                              <div class="rowCart itemCart" *ngFor="let item of userCart.design">
                                  <div class="col-shp-3 mobCard">
                                    <img
                                    [src]="item.prodImage"
                                      class="productImage"
                                    />
                                  </div>
                                  <div class="col-shp-7 mobCard" style="padding-left: 1%;">
                                    <p class="productTitle">{{ item.specs.subCategory }}</p>
                                    <p class="productDetails">
                                      <span class="detailsHeading">Orientation:</span> {{item.specs.orientation}},
                                      <span class="detailsHeading">Size:</span> {{item.specs.size}}
                                    </p>
                          
                                    
                                    <p class="productDetails">
                                      <span class="detailsHeading">Price: &#x20B9;</span>  {{item.price.Total-item.price.GST}}
                                    </p>
                                    
                                    <p style="display:none"><button class="btn" (click)="removeItem(item.id)">Remove</button> <button class="btn btn-primary" (click)="editItem(item.id)">Edit</button></p>
                                  </div>
                                </div>
                                <div class="categoryTitle" *ngIf="userCart.displayDesignNPrint">Design and Print</div>

                                <div class="rowCart itemCart" *ngFor="let item of userCart.designNprint">
                                  <div class="col-shp-3 mobCard">
                                    <img
                                    [src]="item.prodImage"
                                      class="productImage"
                                    />
                                  </div>
                                  <div class="col-shp-7 mobCard" style="padding-left: 1%;">
                                    <p class="productTitle">{{ item.specs.subCategory }}</p>
                                    <p class="productDetails">
                                      <span class="detailsHeading">Orientation:</span> {{item.specs.orientation}},
                                      <span class="detailsHeading">Size:</span> {{item.specs.size}}
                                    </p>
                          
                                    <p class="productDetails">
                                      <span class="detailsHeading">Quantitiy:</span>{{item.specs.quantity}} ,
                                      <span class="detailsHeading">GSM:</span> {{item.specs.paperGSM}}
                                    </p>
                                    <p class="productDetails">
                                      <span class="detailsHeading">Price: &#x20B9;</span>  {{item.price.Total - item.price.GST}}
                                    </p>
                                    
                                   
                                    <p style="display: none;"><button class="btn" (click)="removeItem(item.id)">Remove</button> <button class="btn btn-primary" (click)="editItem(item.id)">Edit</button></p>
                                  </div>
                                </div>
                          
                                <div class="categoryTitle" *ngIf="userCart.displayPrint"> Print Only ({{userCart.print.length}} items)</div>
                                <div class="rowCart itemCart" *ngFor="let item of userCart.print">
                                  <div class="col-shp-3 mobCard">
                                    <img
                                    [src]="item.prodImage"
                                      class="productImage"
                                    />
                                  </div>
                                  <div class="col-shp-7 mobCard" style="padding-left: 1%;">
                                    <p class="productTitle">{{ item.specs.subCategory }}</p>
                                    <p class="productDetails">
                                      <span class="detailsHeading">Orientation:</span> {{item.specs.orientation}},
                                      <span class="detailsHeading">Size:</span> {{item.specs.size}}
                                    </p>
                          
                                    <p class="productDetails">
                                      <span class="detailsHeading">Quantitiy:</span>{{item.specs.quantity}} ,
                                      <span class="detailsHeading">GSM:</span> {{item.specs.paperGSM}}
                                    </p>
                                    <p class="productDetails">
                                      <span class="detailsHeading">Price: &#x20B9;</span>  {{item.price.Total - item.price.GST}}
                                    </p>
                                    
                                   
                                    <p style="display:none;"><button class="btn" (click)="removeItem(item.id)">Remove</button> <button class="btn btn-primary" (click)="editItem(item.id)">Edit</button></p>
                                  </div>
                                </div>
                              <!-- <div class="rowCart itemCart">
                                <div class="col-shp-3 mobCard">
                                  <img
                                    src="../../../assets/StudentDashboard/img/download.jpg"
                                    class="productImage"
                                  />
                                </div>
                                <div class="col-shp-7 mobCard" style="padding-left: 1%;">
                                  <p class="productTitle">Business Card Single Side</p>
                                  <p class="productDetails">
                                    <span class="detailsHeading">Orientation:</span> Vertical,
                                    <span class="detailsHeading">Size:</span> 3.5 x 2
                                  </p>
                        
                                  <p class="productDetails">
                                    <span class="detailsHeading">Price: &#x20B9;</span> 10000
                                  </p>
                                  <p><button class="btn">Remove</button></p>
                                </div>
                              </div>
                              <div class="rowCart itemCart">
                                <div class="col-shp-3 mobCard">
                                  <img
                                    src="../../../assets/StudentDashboard/img/download.jpg"
                                    class="productImage"
                                  />
                                </div>
                                <div class="col-shp-7 mobCard" style="padding-left: 1%;">
                                  <p class="productTitle">Business Card Single Side</p>
                                  <p class="productDetails">
                                    <span class="detailsHeading">Orientation:</span> Vertical,
                                    <span class="detailsHeading">Size:</span> 3.5 x 2
                                  </p>
                        
                                  <p class="productDetails">
                                    <span class="detailsHeading">Price: &#x20B9;</span> 10000
                                  </p>
                                  <p><button class="btn">Remove</button></p>
                                </div>
                              </div> -->
                </div>
               
              </div>
              <div class="col-shp-3 priceContainer">
                <div class="categoryTitle">Price Details</div>
                <hr />
                <div class="rowCart">
                  <div class="col-shp-6 priceTitle">Price ({{userCart.totalItems}} Items):</div>
                  <div class="col-shp-4 priceAmount">&#x20B9; {{userCart.finalPrice.calPrice}}</div>
                </div>
                <div class="rowCart" style="margin-top: 30px;">
                  <div class="col-shp-6 priceTitle">Discount :</div>
                  <div class="col-shp-4 priceAmount"> - &#x20B9; {{userCart.finalPrice.calDiscount}}</div>
                </div>
          
                <hr />
                <div class="rowCart" style="margin-top: 30px;" *ngIf="userCart.finalPrice.calDiscountedDesignGST > 0">
                  <div class="col-shp-6 priceTitle">Design GST (18%):</div>
                  <div class="col-shp-4 priceAmount">&#x20B9; {{userCart.finalPrice.calDiscountedDesignGST}}</div>
                </div>
                <div class="rowCart" style="margin-top: 30px;" *ngIf="userCart.finalPrice.calDiscountedPrintGST > 0">
                  <div class="col-shp-6 priceTitle">Print GST (12%):</div>
                  <div class="col-shp-4 priceAmount">&#x20B9; {{userCart.finalPrice.calDiscountedPrintGST}}</div>
                </div>
          
                <hr />
                <div class="rowCart">
                  <div class="col-shp-6 priceTitle">Delivery Fees:</div>
                  <div class="col-shp-4 priceAmount">&#x20B9; {{userCart.finalPrice.calDelivery}}</div>
                </div>
          
          
                <hr />
                <div class="rowCart">
                  <div class="col-shp-6 priceTitle">Total Price:</div>
                  <div class="col-shp-4 priceAmount">&#x20B9; {{userCart.finalPrice.calDiscountedTotal}}</div>
                </div>
                <hr />
                <div class="rowCart">
                  <div class="col-shp-12 btnAling">
                    <app-razorpayments [paymentAmount]="userCart.finalPrice.calFinalTotal" [orderId]="razorPayOrderId" 
                    (transactionStatus)="transactionUpdate($event)">
                  </app-razorpayments>
          
                    <!-- <button class="btn btn-primary" [disabled]="disableProceed" (click)="placeOrder()">Proceed</button> -->
                  </div>
                </div>
              </div>
            </div>
          </div>

          <ngx-spinner
  bdColor="rgba(51, 51, 51, 0.8)"
  size="default"
  type="ball-spin-clockwise"
  
>
  <p style="color: white">Please Wait.</p>
</ngx-spinner>
<!-- <ngx-spinner
bdColor="rgba(51, 51, 51, 0.8)"
size="default"
type="ball-spin-clockwise"
[name]="orderid"
>
<p style="color: white">Please Wait.</p>
</ngx-spinner> -->