<div class="container">
    <div class="banner">
        <img src="../../../assets/HomePageImg/aboutus/aboutusbanner.jpg" alt="banner" />
    </div>
    <h2 class="mt-5">Who we are?</h2>
    <div class="mt-3 text-center">
        <p>
            It all started in 2020, when the wold was suffering from pandemic. shapeNprint crossed our heads, and thus
            it come into existence. It had to be one o the biggest platform for graphic designers and printers to
            celebrate their passion for realizing their merit. We thought of making the wold of freelancing and printing
            accessible to the people at their homes. To make it the biggest platforms for graphic designers and printers
            to celebrate their passion for ralizing their merit. We thought of making the world of freelancing and
            printing accessible to the people at their homes. To make it the biggest platforms for graphic designers and
            printers to celebrate their passion for ralizing their merit.
        </p>
        <h3 class="col-md-8 m-auto">
            "We believe in creating an innovative circle of graphic designers and printers who contribute to customer
            solutions and showcase their knack of rejuvenating and vivifying ideas and emotions."
        </h3>
    </div>
    <h2 class="mt-5">We are growing....</h2>
    <div class="row  align-items-center">
        <div class="col-md-4 text-center">
            <div class="haed1">
                1000+
            </div>
            <div class="haed2">
                Verified Freelance<br />
                Graphic Designers
            </div>

        </div>
        <div class="col-md-4"> <img src="../../../assets/HomePageImg/aboutus/aboutusimg1.jpg" alt="aboutusimg1" /></div>
        <div class="col-md-4 text-center">
            <div class="haed1">
                100+
            </div>
            <div class="haed2">
                Verified Freelance<br />
                Printing Shops 
            </div>

        </div>
    </div>
    <h2 class="mt-5">shapeNprint is made with love by Gaurav and Savan!</h2>
    <div class=" row mt-5 align-items-center">
        <div class="col-md-3">
            <img src="../../../assets/HomePageImg/aboutus/gurav.jpg" alt="gurav Agarwal" />
        </div>
        <div class="col-md-9">
            <div class="haed3">
                Gaurav Agarwal, Founder | shapeNprint
            </div>
            <p class="text-bold">
                "After working closely with designing and printing industry for over 10 years, I observed there is no suitable and genuine solution for designing and printing together. To every problem, there is always a solution. That's how we thought of shapeNprint."
            </p>
        </div>

    </div>
    <div class=" row mt-5 align-items-center">
        
        <div class="col-md-9">
            <div class="haed3 text-right">
                Savan  Agarwal, Founder | shapeNprint
            </div>
            <p class="text-bold">
                "I always had a dream to create a trustworthy and one-stop platform for the people with a motive to empower them, not only for the clients but also for the people who works on our platform. The process has stated in the form of shaeNprint and with your support, it will go far and beyond."
             
            </p>
        </div>
        <div class="col-md-3">
            <img src="../../../assets/HomePageImg/aboutus/savan.jpg" alt="savan Agarwal" />
        </div>
    </div>
    <h2 class="mt-5 mb-3">Mind caters nedds:</h2>
    <div class="">
        <p>
            Designs cannot exhaust. Designers mold the customer's needs and, through their versed accords with contrasts and resolutions, bring out the best of  both worlds; customer's expectations and their assumptions.
        </p>
      
    </div>
    <h2 class="mt-5 mb-3">Shaping designer and printing fraternity:</h2>
    <div class="">
        <p>
            Forming the biggest marketplace for designers and printers to accentuate the horizons for expansion and growth as a professional and variegate a client base.
        </p>
      
    </div>
    <div class="text-center">
        <h2 class="mt-5 ">OUR MISSION</h2>
        <p class="font-2 col-md-8 m-auto">
            To redefine the freelancing in graphic designing and priting world  
        </p>
        <h2 class="mt-5 ">OUR VISION</h2>
        <p class="font-2 col-md-8 m-auto">
            To empower our customers by providing uniform prices, hassle-free & one-stop solutions
        </p>
    </div>
    <div class=" row mt-5  justify-content-between">
        
        <div class="col-md-8">
            <h2 class="mt-5 ">What we aspire for:</h2>
            <p class="text-bold">
                We provide design and printing solutions to our clients, trying to make their experience effortless and brief by presenting minimal and simple steps. Designers and printing businesses who want to cut a deal can help solve problems for clients who seek swift and best results. We thrive for doing the fastest consignments.
            </p>
        </div>
        <div class="col-md-3 ">
            <img src="../../../assets/HomePageImg/aboutus/aboutusimg2.jpg" alt=" aboutusimg2" />
        </div>
    </div>
</div>