<div style=" background-image: url('../../../../assets/HomePageImg/Home Page _ Images/Top Background1200.png') !important;     background-size: contain;
background-position: top right;background-repeat: no-repeat;">
    <div class="container">
        <a class="" href="#"><img _ngcontent-bjd-c124="" src="../../../assets/img/logonew.svg" alt=""
                style="height: 40px;"></a>

    </div>
    <div class="container">

        <div class="banner row">

            <div class="banner-content col-md-6">
                <h2>
                    Equal opportunity for all. Nothing is out of reach.
                </h2>
                <p>
                    A Freelancing platform that provides Graphic Designers and Digital Printers to connect with clients
                    instantly. Hassel-free working and earning.
                </p>
                <button _ngcontent-omt-c180="" class="btn btn-primary">SIGN UP</button>
            </div>
            <div class="banner-img col-md-6"
                style=" background-image: url('../../../../assets/HomePageImg/serviceProvider/Equal Oportunity1200.png'); ">

            </div>
        </div>
        <div class="banner-two col-md-12">

            <h3>
                Get listed on India’s First Freelancing Platform
                <span>for Designing and Printing </span>
            </h3>

            <div class="steps clearfix">
                <ul>
                    <li class="first ">
                        <span class="current-info audible"> </span>
                        <div class="title">
                            <span class="step-icon"><img
                                    src="../../../assets/HomePageImg/serviceProvider/Get Registered1200.png" /></span>
                            <span class="step-text">Get Registered </span>
                        </div>
                    </li>
                    <li class="">
                        <div class="title">
                            <span class="step-icon">
                                <img src="../../../assets/HomePageImg/serviceProvider/Get Verified1200.png" />
                            </span>
                            <span class="step-text">Get Verified </span>
                        </div>
                    </li>
                    <li class="">
                        <div class="title">
                            <span class="step-icon">
                                <img src="../../../assets/HomePageImg/serviceProvider/Get Order Notification1200.png" />
                            </span>
                            <span class="step-text">Get Order Notifications </span>
                        </div>
                    </li>
                    <li class="last">
                        <div class="title">
                            <span class="step-icon">
                                <img src="../../../assets/HomePageImg/serviceProvider/Get Paid1200.png" />
                            </span>
                            <span class="step-text">Get Paid </span>
                        </div>
                    </li>
                </ul>
            </div>

        </div>
    </div>
    <div class="clearfix"></div>
</div>

<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h3>
                    Key Benefits for<br /> Graphic Designer:
                </h3>
                <ul>
                    <li> No need to advertise your Portfolio to clients.</li>
                    <li>No need to bid or bargain.</li>
                    <li>End of multiple revisions era.</li>
                    <li> Hassel-free Work from Home. </li>
                </ul>
                <h3>
                    Key Benefits for<br />Digital/Offset Printer:
                </h3>
                <ul>
                    <li>Convert your Printing shop to E-commerce.</li>
                    <li>Get print orders from the clients directly.</li>
                    <li>Access a broader client base in your area.</li>
                </ul>
            </div>
            <div class="col-md-6">
                <div class="tab-block">

                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                          <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">
                              I'm a <br/><b>DESIGNER</b>
                              <span class="img1"> </span>
                          </a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">
                            I'm a <br/><b>PRINTER</b>
                            <span class="img2"> </span>
                            </a>
                        </li>
                      
                      </ul>
                      <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                            <form>
                                <div class="form-group ">
                                    <label for="username" class="label text-uppercase">User Name(Email)</label>
                                    <input  type="text" formcontrolname="email" required="" placeholder="Username" class="form-control ng-dirty ng-valid ng-touched" ng-reflect-required="" ng-reflect-name="email">
                                </div>
                                <div class="form-group ">
                                    <label for="username" class="label text-uppercase">Password</label>
                                    <input type="password" required="" formcontrolname="password" placeholder="Password" class="form-control " >
                                </div>
                                <div class="form-group ">
                                    <label for="username" class="label text-uppercase">Confirm Password</label>
                                    <input type="password" required="" formcontrolname="password" placeholder="Password" class="form-control " >
                                </div>
                                <div  class="form-group text-center mt-4">
                                    <button  type="submit" class="btn btn-info btn-lg btn-block text-uppercase">Log In</button
                                    ></div>
                                    <div class="form-group m-b-0">
                                        <div class="col-sm-12 text-center">
                                            <p>Don't have an account? <a class="text-primary m-l-5"><b>Sign Up</b></a>
                                            </p>
                                        </div>
                                </div>
                            </form>
                        </div>
                        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">...</div>
                       
                      </div>
                </div>

            </div>
        </div>
      
    </div>
</div>
<div class="jumbotron-faq jumbotron">
<div class="jumbotron-faq-bottm">

    <div class="container">
        <div class="header-faq col-md-12">
            FAQs
        </div>
        <div class="faq-qust col-md-12">
            <label>
                1.	How do I get paid?
            </label>
            a.	Once the order is delivered to the client, automated payment will be transferred to your account, powered by Razorpay.
        <label>
            2.	How will I accept the order?
        </label>
        a.	Order will be floated as notifications to several service providers based on a systematic algorithm and assigned to whom who accepts it first.
        <label>
            3.	Where will I get the order notifications? What will it consist of?
        </label>
        a.	All the orders will be sent on SMS, e-mail and dashboard provided with the specifications of the product, meeting time for designers/estimated delivery time for printers, and the amount to be transferred to the service provider.
        <label>
            4.	On what basis the prices of all services are defined by shapeNprint?
        </label>
        a.	All the price of each service is categorized based on the type of designing, product specifications and on the final result of the survey done by 20000+ designers/printers/clients.
        <label>
            5.	What is Live Designing?
        </label>
        a.	In live designing, the designer has to share his/her computer’s screen to the client where the correction/revision of the design will be completed in a fixed time slot through Premium meeting, powered by Google Meet.
        <label>
            6.	What is Nearest Printing?
        </label>
        a.	Access a wider client base in your area and increase your business. shapeNprint believes in Vocal for Local.
        <label>
            7.	How will I deliver my design order?
        </label>
        a.	Once the order is completed, you just have to upload the design on your provided dashboard and get paid.
        <label>
            8.	How will I deliver my print order?
        </label>
        a.	Once the order is completed and packed, handover the parcel to Dunzo. Once it’s delivered, the amount will be transferred to your account.
        <label>
            9.	What is the Registration Charges?
        </label>
        a.	A small amount will be charged as processing fees.
        <label>
            Which area are we currently serving?
        </label>
        a.	For design, it’s PAN India. And for printing, we started with Bangalore but soon will be coming to other cities as well.
        </div>

        </div>
        </div>
</div>
