p {
  margin-top: 0;
  margin-bottom: 1rem;
  font-family: "Maven Pro";
  font-size: 18px;
  font-weight: 400;
}
.mainHeading {
  margin-bottom: 70px;
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  margin-top: 140px;
}
